<input type="button" class="btn btn-primary" (click)="AddItemType()" [value]="'PHARMACY.ADD_ITEMTYPE' | translate" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <dsf-grid [grid-colDefaults]="itemtypeGridColumns" [grid-data]="itemtypeList"
      (grid-actions)="ItemTypeGridActions($event)"> </dsf-grid>
  </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showItemTypeAddPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3> <span *ngIf="!update">Add ItemType</span> <span *ngIf="update">{{ 'PHARMACY.UPDATE_ITEMTYPE' | translate }}</span></h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-times"></i></a>
          </div>

          <!--Model Box Body Start-->
          <form [formGroup]="CurrentItemType.ItemTypeValidator" class="form-horizontal hm-form">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.TYPE_OF_ITEM' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="itemtype" class="form-control" type="text" maxlength="50"
                    [(ngModel)]="CurrentItemType.ItemTypeName" value="" formControlName="ItemTypeName"
                    [placeholder]="'PHARMACY.ENTER_TYPE_OF_ITEM' | translate" (keyup.enter)="setFocusById('categoryname')" />
                  <span class="color-red font-sm"
                    [hidden]="CurrentItemType.IsValidCheck('ItemTypeName','required') || !(CurrentItemType.IsDirty('ItemTypeName'))">{{ 'PHARMACY.TYPE_OF_ITEM_IS_REQUIRED' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.SELECT_CATEGORY' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="categoryname" dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                    [(ngModel)]="selCategory" [source]="categoryList" [placeholder]="'PHARMACY.CATEGORY' | translate"
                    (keyup.enter)="setFocusById('description')" formControlName="CategoryId"
                    display-property-name="CategoryName" value-property-name="CategoryName"
                    (valueChanged)="AssignSelectedCategory()" [list-formatter]="CategoryListFormatter" max-num-list="8"
                    style="width:100%;height:32px;" />
                  <span class="color-red font-sm"
                    [hidden]="CurrentItemType.IsValidCheck('CategoryId','required') || !(CurrentItemType.IsDirty('CategoryId'))">{{ 'PHARMACY.CATEGORY_TYPE_IS_REQUIRED' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input id="description" class="form-control" type="text" maxlength="100"
                    [(ngModel)]="CurrentItemType.Description" [ngModelOptions]="{standalone: true}" name="Description"
                    [placeholder]="'PHARMACY.ENTER_DESCRIPTION' | translate"
                    (keyup.enter)="!update?setFocusById('saveitm'):setFocusById('updateitm')" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.ISACTIVE' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="icheck-inline">
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentItemType.IsActive"
                          [ngModelOptions]="{standalone: true}">
                        <span></span> </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-buttons text-right">
                <button type="button" id="saveitm" class="btn green btn-success" *ngIf="!update"
                  (click)="Add()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" id="updateitm" class="btn green btn-success" *ngIf="update"
                  (click)="Update()">{{ 'COMMON.UPDATE' | translate }}</button>
              </div>
            </div>
          </form>
          <!--</form>-->
          <!--Model Box Body End-->
        </div>
      </div>
    </div>
  </div>
</div>