<div class="popup-static portlet box portlet-fullscreen inv_modal">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3> <span>{{ 'ACCOUNTING.CREATE_LEDGER' | translate }}</span> </h3>
            <a class="btn btn-danger" (click)="Close()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>
          </div>
          <form [formGroup]="CurrentLedger.LedgerValidator" class="hm-form">
            <div class="form-body">
              <div class="row">

                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.PRIMARY_GROUP' | translate }}<sup>*</sup><b>:</b></label>
                    <div class="col-md-8">
                      <select class="form-control" maxlength="30" [(ngModel)]="CurrentLedger.PrimaryGroup"
                              formControlName="PrimaryGroup" id="primarygroup" (change)="PrimaryGroupChanged()">
                        <option *ngFor="let pg of primaryGroupList" [disabled]="!typeledger" value={{pg.PrimaryGroupName}}> {{pg.PrimaryGroupName}}
                        </option>
                      </select>
                      <span class="color-red font-sm"
                            [hidden]="CurrentLedger.IsValidCheck('PrimaryGroup','required') || !(CurrentLedger.IsDirty('PrimaryGroup'))">{{ 'ACCOUNTING.PRIMARY_GROUP_REQUIRED_ERR' | translate }}</span> <span class="color-red font-sm"
                            *ngIf="CurrentLedger.IsDirty('PrimaryGroup')"
                            [hidden]="CurrentLedger.IsValidCheck('PrimaryGroup','maxlength')"> {{ 'ACCOUNTING.LENGTH_NOT_PROPER' | translate }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.CHART_OF_ACCOUNT' | translate }}<sup>*</sup><b>:</b></label>
                    <div class="col-md-8">
                      <select class="form-control" maxlength="30" [(ngModel)]="CurrentLedger.COAId" formControlName="COA"
                               id="COA" (change)="COAChanged()">
                        <option *ngFor="let c of coaList" [disabled]="!typeledger" value={{c.ChartOfAccountId}}>{{c.ChartOfAccountName}}</option>
                      </select>
                      <span class="color-red font-sm"
                            [hidden]="CurrentLedger.IsValidCheck('COA','required') || !(CurrentLedger.IsDirty('COA'))">{{ 'ACCOUNTING.COA_REQUIRED_ERR' | translate }}</span> <span class="color-red font-sm" *ngIf="CurrentLedger.IsDirty('COA')"
                            [hidden]="CurrentLedger.IsValidCheck('COA','maxlength')"> {{ 'ACCOUNTING.LENGTH_NOT_PROPER' | translate }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.LEDGER_GROUP' | translate }} <sup>*</sup><b>:</b> </label>
                    <div class="col-md-8" *ngIf="typeledger">
                      <div class="div-relative">
                        <input danphe-auto-complete [(ngModel)]="CurrentLedger.LedgerGroupName"
                               [source]="ledgergroupList" placeholder="{{ 'ACCOUNTING.LEDGER_GROUP_NAME' | translate }}"
                               display-property-name="LedgerGroupName" value-property-name="LedgerGroupName"
                               (valueChanged)="AssignSelectedLedgerGroup()" [list-formatter]="LedgerGroupListFormatter"
                               max-num-list="10" onclick="this.select()" style="width:100%;background-color: azure;"
                               formControlName="LedgerGroupName" />
                        <a class="fa fa-question" (click)="AddLedgerGroupPopUp()"
                           title="{{ 'ACCOUNTING.LEGER_GROUP_TOOLTIP' | translate }}"></a>
                        <span class="color-red font-sm"
                              [hidden]="CurrentLedger.IsValidCheck('LedgerGroupName','required') || !(CurrentLedger.IsDirty('LedgerGroupName'))">{{ 'ACCOUNTING.LEDGER_GROUP_REQUIRED_ERR' | translate }}</span>
                        <span class="color-red" *ngIf="CurrentLedger.checkSelectedLedger==true">{{ 'ACCOUNTING.SELECT_PROPER_LEDGER_GROUP' | translate }}</span>
                      </div>

                    </div>
                    <div class="col-md-8" *ngIf="!typeledger">
                      <div class="div-relative">
                        <input danphe-auto-complete [(ngModel)]="CurrentLedger.LedgerGroupName"
                               [source]="ledgergroupList" placeholder="{{ 'ACCOUNTING.LEDGER_GROUP_NAME' | translate }}"
                               display-property-name="LedgerGroupName" value-property-name="LedgerGroupName"
                               (valueChanged)="AssignSelectedLedgerGroup()" [list-formatter]="LedgerGroupListFormatter"
                               max-num-list="10" onclick="this.select()" disabled style="width:100%;background-color: azure;"
                               formControlName="LedgerGroupName" />
                        <a class="fa fa-question" (click)="AddLedgerGroupPopUp()"
                           title="{{ 'ACCOUNTING.LEGER_GROUP_TOOLTIP' | translate }}"></a> <span class="color-red font-sm"
                              [hidden]="CurrentLedger.IsValidCheck('LedgerGroupName','required') || !(CurrentLedger.IsDirty('LedgerGroupName'))">{{ 'ACCOUNTING.LEDGER_GROUP_REQUIRED_ERR' | translate }}</span>
                        <span class="color-red" *ngIf="CurrentLedger.checkSelectedLedger==true">{{ 'ACCOUNTING.SELECT_PROPER_LEDGER_GROUP' | translate }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.LEDGER_NAME' | translate }}<sup>*</sup><b>:</b></label>
                    <div class="col-md-8" *ngIf="typeledger">
                      <input danphe-auto-complete [(ngModel)]="CurrentLedger.LedgerName" [source]="ledgerList"
                             placeholder="{{ 'ACCOUNTING.LEDGER_NAME' | translate }}" display-property-name="LedgerName" value-property-name="LedgerName"
                             (valueChanged)="CheckDuplicateLedger()" [list-formatter]="LedgerListFormatter" max-num-list="10"
                             onclick="this.select()" style="width:100%;background-color: azure;height:35px;"
                             formControlName="LedgerName" />
                      <span class="color-red font-sm"
                            [hidden]="CurrentLedger.IsValidCheck('LedgerName','required') || !(CurrentLedger.IsDirty('LedgerName'))">{{ 'ACCOUNTING.LEDGER_NAME_REQUIRED_ERR' | translate }}</span> <span class="color-red font-sm"
                            *ngIf="CurrentLedger.IsDirty('LedgerName')"
                            [hidden]="CurrentLedger.IsValidCheck('LedgerName','maxlength')"> {{ 'ACCOUNTING.LENGTH_NOT_PROPER' | translate }}</span>
                    </div>
                    <div class="col-md-8" *ngIf="!typeledger">
                      <input danphe-auto-complete [(ngModel)]="CurrentLedger.LedgerName" [source]="phrmSupplierList"
                             placeholder="{{ 'ACCOUNTING.LEDGER_NAME' | translate }}" display-property-name="SupplierName"
                             value-property-name="SupplierName" (valueChanged)="CheckDuplicateSupplierLedger()"
                             [list-formatter]="SupplierListFormatter" max-num-list="10" onclick="this.select()"
                             no-match-found-text=" "
                             style="width:100%;background-color: azure;height:35px;" formControlName="LedgerName" />
                      <span class="color-red font-sm"
                            [hidden]="CurrentLedger.IsValidCheck('LedgerName','required') || !(CurrentLedger.IsDirty('LedgerName'))">{{ 'ACCOUNTING.LEDGER_NAME_REQUIRED_ERR' | translate }}</span> <span class="color-red font-sm"
                            *ngIf="CurrentLedger.IsDirty('LedgerName')"
                            [hidden]="CurrentLedger.IsValidCheck('LedgerName','maxlength')"> {{ 'ACCOUNTING.LENGTH_NOT_PROPER' | translate }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.DESCRIPTION' | translate }}<b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="200" type="text" title="CurrentLedger.Description"
                             [(ngModel)]="CurrentLedger.Description" [ngModelOptions]="{standalone: true}" id="Description"
                             placeholder="{{ 'ACCOUNTING.DESCRIPTION' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <!-- START: Vikas: 2 Apr 2020 -->
                  <div class="row">
                    <label class="control-label col-md-4">{{GeneralFieldLabel.PANNo}}<b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="20" type="text" title="CurrentLedger.PANNO"
                             [(ngModel)]="CurrentLedger.PANNo" [ngModelOptions]="{standalone: true}" id="PANNO"
                             placeholder="{{GeneralFieldLabel.PANNo}}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.MOBILE_NUMBER' | translate }}<b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="20" type="number" title="CurrentLedger.MobileNo"
                             [(ngModel)]="CurrentLedger.MobileNo" [ngModelOptions]="{standalone: true}" id="MobileNo"
                             placeholder="{{ 'ACCOUNTING.MOBILE_NUMBER' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4"> {{ 'ACCOUNTING.ADDRESS' | translate }} <b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="200" type="text" title="CurrentLedger.Address"
                             [(ngModel)]="CurrentLedger.Address" [ngModelOptions]="{standalone: true}" id="Address"
                             placeholder="{{ 'ACCOUNTING.ADDRESS' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4"> {{ 'ACCOUNTING.CREDIT_PERIOD_DAYS' | translate }} <b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="200" type="number" title="CurrentLedger.CreditPeriod"
                             [(ngModel)]="CurrentLedger.CreditPeriod" [ngModelOptions]="{standalone: true}" id="CreditPeriod"
                             placeholder="{{ 'ACCOUNTING.CREDIT_PERIOD' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4"> {{ 'ACCOUNTING.TDS_PERCENT' | translate }} <b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="200" type="number" title="CurrentLedger.TDSPercent"
                             [(ngModel)]="CurrentLedger.TDSPercent" [ngModelOptions]="{standalone: true}" id="TDSPercent"
                             placeholder="{{ 'ACCOUNTING.TDS_PERCENT' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.OPENING_BALANCE' | translate }}<b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" maxlength="200" type="number" title="CurrentLedger.OpeningBalance"
                             [(ngModel)]="CurrentLedger.OpeningBalance" [ngModelOptions]="{standalone: true}"
                             id="OpeningBalance" placeholder="{{ 'ACCOUNTING.OPENING_BALANCE' | translate }}" />
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.LANDLINE_NO' | translate }}<b>:</b></label>
                    <div class="col-md-8">
                      <input class="form-control" max-length="20" type="number" title="CurrentLedger.LandlineNo"
                             [(ngModel)]="CurrentLedger.LandlineNo" [ngModelOptions]="{standalone: true}" id="LandlineNo"
                             placeholder="{{ 'ACCOUNTING.LANDLINE_NO' | translate }}" />
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.OPENING_BALANCE_TYPE' | translate }}<b>:</b></label>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group">
                            <div class="icheck-inline">
                              <label class="mt-checkbox mt-checkbox-outline">
                                {{ 'ACCOUNTING.DR' | translate }}
                                <input id="Dr" name="Dr" type="checkbox" (click)="ChangeOpeningBalType($event)"
                                       [(ngModel)]="Dr" formControlName="Dr" />
                                <span></span> </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group">
                            <div class="icheck-inline">
                              <label class="mt-checkbox mt-checkbox-outline">
                                {{ 'ACCOUNTING.CR' | translate }}
                                <input id="Cr" name="Cr" type="checkbox" (click)="ChangeOpeningBalType($event)"
                                       [(ngModel)]="Cr" formControlName="Cr" />
                                <span></span> </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <span class="color-red font-sm"
                            [hidden]="(CurrentLedger.IsValidCheck('Dr','required') || !(CurrentLedger.IsDirty('Dr')))
                                              ||(CurrentLedger.IsValidCheck('Cr','required') || !(CurrentLedger.IsDirty('Cr')))">{{ 'ACCOUNTING.OPENING_BALANCE_TYPE_REQUIRED_ERR' | translate }}</span>
                    </div>
                    <div class="col-md-12">
                      <b>{{ 'ACCOUNTING.OPENING_BALANCE_IN_WORDS' | translate }}</b> &nbsp; <span
                            *ngIf="CurrentLedger.OpeningBalance">{{ CurrentLedger.OpeningBalance | NumberInWords }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.IS_ACTIVE' | translate }} <b>:</b> </label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div class="icheck-inline">
                          <label class="mt-checkbox mt-checkbox-outline">
                            <input id="chk_isActive" type="checkbox" [(ngModel)]="CurrentLedger.IsActive"
                                   [ngModelOptions]="{standalone: true}" />
                            <span></span> </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="control-label col-md-4">{{ 'ACCOUNTING.IS_COST_CENTER_APPLICABLE' | translate }} <b>:</b> </label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div class="icheck-inline">
                          <label class="mt-checkbox mt-checkbox-outline">
                            <input id="chk_isCostCenter" type="checkbox" [(ngModel)]="CurrentLedger.IsCostCenterApplicable"
                                   [ngModelOptions]="{standalone: true}" />
                            <span></span> </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- END: Vikas: 2 Apr 2020 -->

                <div class="col-md-12">
                  <div class="form-actions">
                    <input type="button" class="btn btn-primary" (click)="loading=true;AddLedger();"
                           [disabled]="loading" value="{{ 'ACCOUNTING.ADD_LEDGER' | translate }}" />
                  </div>
                </div>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ledger-group-add-reusable *ngIf="showAddLedgerGroupPopUp" [showAddPage]="showAddLedgerGroupPopUp"
                           (callback-add)="OnNewLedgerGroupAdded($event)"></ledger-group-add-reusable>