<div class="row">
  <app-phrm-incoming-stock-list (call-back-new-stock-receive)="OnNewStockReceive()"></app-phrm-incoming-stock-list>
</div>
<div class="row" *ngIf="showStockList">
  <div class="col-md-12">
    <div class="form-group">
      <div style="float:left;" *ngIf="securityService.HasPermission('show-pharmacy-manage-button') && showManageButton && loadingStock">
        <button type="button" class="btn btn-success" (click)="StockReconciliationPopupOpen()"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;{{ 'PHARMACY.MANAGE_STOCK' | translate }}</button>
      </div>

      <!-- Store Filter -->
      <div class="input-group" style="float: right;">
        <div class="icheck-inline">
          <label for="Store" class="mt-checkbox mt-checkbox-outline"><i class="fa fa-filter"></i>{{ 'PHARMACY.FILTER_BY_STORE' | translate }}:</label>
          <select name="Store" id="Store" [(ngModel)]="selectedStoreId" (change)="FilterStockList()">
            <option [ngValue]="null">{{ 'PHARMACY.ALL' | translate }}</option>
            <option *ngFor="let store of storeList" [ngValue]="store.StoreId">{{store.Name}}</option>
          </select>
        </div>
      </div>
      <!-- Zero Qty Filter -->
      <div class="input-group" style="float: right;">
        <div style="display: flex;align-items: flex-end;">
          <div style="margin-right: 1rem;"><input type="checkbox" (change)="FilterStockList()" [(ngModel)]="showStockWithZeroQty" name="showStockWithZeroQty" id="showStockWithZeroQty" style="zoom: 1.4;" /></div>
          <label for="showStockWithZeroQty">{{ 'PHARMACY.SHOW_ZERO_QUANTITY' | translate }} </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-sm-12">
    <danphe-grid [grid-colDefaults]="stockDetailsGridColumns" [grid-data]="stockList" (grid-actions)="StockDetailsGridAction($event)" [grid-exportOptions]="gridExportOptions" [grid-showExport]="true"> </danphe-grid>
  </div>
</div>

<div class="row" *ngIf="!showStockList">
  <div class="col-md-12">
    <div class="caption lb-caption">
      <input type="button" class="btn blue" [value]="'COMMON.BACK' | translate" (click)="Cancel()" style="margin-right:10px !important;" />
      <i class="fa fa-bar-chart"></i> <span class="caption-subject"> {{ 'PHARMACY.STOCK_MANAGE' | translate }} </span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-lg-6 col-sm-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed bg-white" id="exportTable" style="background-color:initial;margin-top:10px">
          <tbody>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.ITEM_NAME' | translate }} </td>
              <td> {{selectedItem.ItemName}} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.BATCH_NO' | translate }} </td>
              <td> {{selectedItem.BatchNo}} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.EXPIRY_DATE' | translate }} </td>
              <td> {{selectedItem.ExpiryDate | date}} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.PRICE' | translate }} </td>
              <td> {{selectedItem.Price}} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.SALEPRICE' | translate }} </td>
              <td> {{selectedItem.SalePrice}} </td>
            </tr>
            <tr>
              <td style="font-weight:bold;"> {{ 'PHARMACY.GOODRECEIPTID' | translate }} </td>
              <td> {{goodReceiptId}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
        <div class="form-group">
          <label class="control-label col-md-4">{{ 'PHARMACY.ADJUSTMENT_TYPE' | translate }} <b class="color-red"> *</b><b style="float:right;">:</b>
          </label>
          <div class="col-md-8">
            <form [formGroup]="selectedItem.StoreManageValidator">
              <div class="input-group">
                <div class="icheck-inline">
                  <label class="mt-checkbox mt-checkbox-outline">
                    <input type="radio" value="in" [(ngModel)]="selectedItem.InOut" formControlName="InOut">
                    <span></span>{{ 'PHARMACY.IN' | translate }} </label>
                  <label class="mt-checkbox mt-checkbox-outline">
                    <input type="radio" value="out" [(ngModel)]="selectedItem.InOut" formControlName="InOut">
                    <span></span>{{ 'PHARMACY.OUT' | translate }} </label>
                </div>
              </div>
              <span class="error-msg" *ngIf="selectedItem.IsDirty('InOut')" [hidden]="selectedItem.IsValidCheck('InOut','required')"> {{ 'PHARMACY.ADJUSTMENTTYPE_IS_REQUIRED' | translate }}</span>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
        <div class="form-group">
          <label class="control-label col-md-4">{{ 'PHARMACY.CURRENT_QTY' | translate }} <b style="float:right;">:</b> </label>
          <div class="col-md-8">
            <input [(ngModel)]="selectedItem.Quantity" typeof="number" disabled class="form-control" name="Quantity" />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
        <div class="form-group">
          <label class="control-label col-md-4">{{ 'PHARMACY.MODIFIED_QTY' | translate }} <b class="color-red"> *</b><b style="float:right;">:</b>
          </label>
          <div class="col-md-8">
            <form [formGroup]="selectedItem.StoreManageValidator">
              <input [(ngModel)]="selectedItem.UpdatedQty" formControlName="UpdatedQty" class="form-control" name="UpdatedQty" type="number" />
              <div style="color:red" *ngIf="selectedItem.IsDirty('UpdatedQty')" [hidden]="selectedItem.IsValidCheck('UpdatedQty','invalidNumber')">{{ 'PHARMACY.QUANTITY_IS_REQUIRED' | translate }}</div>
              <div style="color:red" *ngIf="selectedItem.InOut=='out' && selectedItem.Quantity < selectedItem.UpdatedQty">{{ 'PHARMACY.CANT_OUT_MORE_QUANTITY_THAN_CURRENT_QTY' | translate }}</div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
        <div class="form-group">
          <label class="control-label col-md-4">{{ 'PHARMACY.REMARK' | translate }} <b class="color-red"> *</b><b style="float:right;">:</b> </label>
          <div class="col-md-8">
            <form [formGroup]="selectedItem.StoreManageValidator">
              <textarea [(ngModel)]="selectedItem.Remark" formControlName="Remark" class="form-control" name="Remark" type="text"></textarea>
              <div style="color:red" *ngIf="selectedItem.IsDirty('Remark')" [hidden]="selectedItem.IsValidCheck('Remark','required')">{{ 'PHARMACY.REMARK_IS_REQUIRED' | translate }}</div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
        <div class="form-group">
          <div class="control-label col-md-4"> </div>
          <div class="" style="margin-top:10px; float:right;">
            <input type="button" class="btn btn-success" [value]="'PHARMACY.UPDATE_STOCK' | translate" (click)="SaveManagedStock()" [disabled]="loading" />
            <span></span>
            <input type="button" class="btn btn-danger" (click)="Cancel()" [value]="'COMMON.CANCEL' | translate" [disabled]="loading">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display:flex;align-items:center;justify-content:center;" class="popup-static portlet box portlet-fullscreen modal-box inv_modal" *ngIf="showTransferPage">
  <div style="width: 100%;">

    <div class="col-md-4 col-md-offset-4">
      <div class="modelbox-div clearfix">
        <div class="caption lb-caption">
          <h3>
            <span>{{ 'PHARMACY.TRANSFER_TO_DISPENSARY' | translate }}</span>
          </h3>
          <a class="btn btn-danger" (click)="Close()" [title]="'PHARMACY.CLOSE_WINDOW' | translate">{{ 'PHARMACY.X' | translate }}</a>
        </div>
        <div class="dis_content_wrap text-center mb20 clearfix">
          <p><strong>{{ 'PHARMACY.ITEM_NAME' | translate }}:</strong>{{selectedItem.ItemName}}</p>
          <p><strong>{{ 'PHARMACY.EXPIRY_DATE' | translate }}:</strong>{{selectedItem.ExpiryDate | date}}</p>
          <p><strong>{{ 'PHARMACY.PRICE' | translate }}:</strong>{{selectedItem.Price}}</p>
          <p><strong>{{ 'PHARMACY.AVAILABLE_QUANTITY' | translate }}:</strong>{{selectedItem.Quantity}}</p>
          <div class="bold col-md-6">{{ 'PHARMACY.TRANSFER_QUANTITY' | translate }}:</div>
          <div class="col-md-6">
            <form [formGroup]="selectedItem.StoreManageValidator">
              <input style="max-width:326px;margin-bottom:4px;" class="col-md-6" type="number" [(ngModel)]="selectedItem.UpdatedQty" formControlName="UpdatedQty" />
            </form>
          </div>
          <div style="color:red" *ngIf="selectedItem.IsDirty('UpdatedQty')" [hidden]="selectedItem.IsValidCheck('UpdatedQty','wrongDecimalValue')">{{ 'PHARMACY.REQUIRED_WHOLE_NUMBER' | translate }}</div>
          <div> <span class="error-msg" *ngIf="selectedItem.UpdatedQty<0"> {{ 'PHARMACY.QUANTITY_IS_NOT_VALID' | translate }} </span> <span class="error-msg" *ngIf="selectedItem.Quantity<selectedItem.UpdatedQty"> {{ 'PHARMACY.TRANSFER_QTY_SHOULD_BE_LESS_THAN' | translate }} </span> </div>
          <div class="bold col-md-6">{{ 'PHARMACY.DISPENSARY_NAME' | translate }}:</div>
          <div class="col-md-6">
            <input danphe-auto-complete class="form-control col-md-6" [(ngModel)]="currentDispensary" [source]="dispensaryList" [list-formatter]="myDispensaryListFormatter" [placeholder]="'PHARMACY.SELECT_DISPENSARY' | translate" display-property-name="Name" value-property-name="DispensaryId" min-chars="0" max-num-list="20" onClick="this.select();" match-formatted="true" [grid-sort]="'Name'" [ngModelOptions]="{standalone: true}" />
          </div>

        </div>
        <div class="panel-footer p1 text-center">
          <button (click)="transferToDispensary()" class="btn btn-danger">{{ 'PHARMACY.TRANSFER' | translate }}</button>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- to update the mrp -->
<div *ngIf="showUpdateMRPPopUpBox">
  <app-update-mrp [currentStock]="selectedStockForMRPUpdate" (callback-update)="CallBackUpdateMRP($event)"></app-update-mrp>
</div>

<!-- to update the expirydate and batchno-->
<div *ngIf="showUpdateExpBatchPopUpBox">
  <app-update-exp-batch [currentStock]="selectedStockForExpBatchUpdate" (callback-update)="CallBackUpdateExpiryDateandBatch($event)"></app-update-exp-batch>
</div>

<!-- Barcode Pop Up START -->
<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="showBarcodePopUp">
  <div class="portlet-body form">
    <div class="row clearfix">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption custom-caption">
            <h3> <span>{{ 'PHARMACY.PRINT_BARCODE_WINDOW' | translate }}</span></h3>
            <a class="btn btn-danger" (click)="closeBarcodePopUp()" title="Cancel">{{ 'PHARMACY.X' | translate }}</a>
          </div>
          <form class="form-horizontal hm-form">
            <div class="form-body row  clearfix">
              <div class="col-md-12">
                <div class="row clearfix">
                  <div id="stock-barcode" class="text-center bar-code-wrapper">
                    <danphe-bar-code [barcode-number]="selectedStockBarcodeNumber">
                    </danphe-bar-code>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer text-right">
              <button type="button" class="btn btn-success" (click)="printBarcode()">
                {{ 'COMMON.PRINT' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Barcode Pop Up END -->

<!-- Print Component START -->
<app-print-page *ngIf="showPrint" [print-data]="printDetaiils" (print-sucess)="callBackPrint()"></app-print-page>
<!-- Print Component END -->

<div *ngIf="stockReconciliationPopupOpen">
  <phrm-stock-reconcilation [stock-list]="stockListCopy" (call-back-conciliation-popup-close)="StockReconciliationPopupClose()"></phrm-stock-reconcilation>
</div>