<div>
  <div class="popup-static portlet box portlet-fullscreen">
    <div class="portlet-body form">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr text-warning text-center"><strong>{{ 'PHARMACY.MANAGE_STOCK' | translate }}</strong></h4>
          </div>
          <div class="stockmanage modelbox-body">
            <div class="mb-3">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="card-body">
                    <span class="fa fa-cloud-download" (click)="ExportStocksForReconciliationToExcel()"></span>
                    <div *ngIf="showSpinner"><i class="fa fa-spinner" aria-hidden="true"></i>
                    </div>
                    <div class="manage-step"> {{ 'PHARMACY.EXPORT_THE_STOCK_LIST' | translate }} </div>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="card-body"><span class="fa fa-pencil"></span>
                    <div class="manage-step"> {{ 'PHARMACY.EDIT_THE_AVAILABLE_QUANTITY_IN_EXCEL' | translate }} </div>
                    <div style="color:red;font-size: 2rem;font-weight:100">{{ 'PHARMACY.DO_NOT_CHANGE_ANYTHING_ELSE' | translate }}</div>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="card-body"><span class="fa fa-cloud-upload" (click)="openFileSelectPopUp()" [attr.disabled]="loading ? true:null"></span>
                    <div class="manage-step"> {{ 'PHARMACY.IMPORT_FROM_EXCEL' | translate }} </div>
                    <div><input style="font-size:large;margin-left: auto;" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onChange($event)" #inputFile id="file-input" /></div>
                    <div><button type="button" style="margin-top:10px;" class="btn btn-primary btn-lg" (click)="FindDifference()"><i class="fa fa-cloud-upload"></i>&nbsp;{{ 'PHARMACY.UPLOAD' | translate }}</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="close-modelbox"><button class="btn btn-danger" (click)="ClosePopUp()"> {{ 'PHARMACY.X' | translate }} </button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="confirmPopUp">
  <div class="popup-static portlet box portlet-fullscreen">
    <div class="portlet-body form">
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr text-warning text-center">
              <strong *ngIf="!showAllStock" style="color:red">{{ 'PHARMACY.BELOW_ARE_THE_CHANGES_IN_STOCK' | translate }}</strong>
              <strong *ngIf="showAllStock" style="color:red">{{ 'PHARMACY.ALL_STOCK_DETAILS' | translate }}</strong>
            </h4>
          </div>
          <div class="modelbox-body">
            <div class="row" *ngIf="reconciledStocksWithQuantityChanges.length >0">
              <h6 style="color:green"></h6>
              <table class="table bordered" *ngIf="!showAllStock">
                <tbody>
                  <tr>
                    <th>{{ 'PHARMACY.GENERICNAME' | translate }}</th>
                    <th>{{ 'PHARMACY.ITEM_NAME' | translate }}</th>
                    <th>{{ 'PHARMACY.ITEM_CODE' | translate }}</th>
                    <th>{{ 'PHARMACY.BATCHNO' | translate }}</th>
                    <th>{{ 'PHARMACY.AVAILABLE_QTY' | translate }}</th>
                    <th>{{ 'PHARMACY.NEW_QUANTITY' | translate }}</th>
                  </tr>
                  <tr *ngFor="let reconciledStocksWithQuantityChanged of reconciledStocksWithQuantityChanges">
                    <td>{{reconciledStocksWithQuantityChanged.GenericName}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.ItemName}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.ItemCode}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.BatchNo}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.AvailableQuantity}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.NewAvailableQuantity}}</td>
                  </tr>
                </tbody>


              </table>
              <table class="table bordered" *ngIf="showAllStock">
                <tbody>
                  <tr>
                    <th>{{ 'PHARMACY.GENERICNAME' | translate }}</th>
                    <th>{{ 'PHARMACY.ITEM_NAME' | translate }}</th>
                    <th>{{ 'PHARMACY.ITEM_CODE' | translate }}</th>
                    <th>{{ 'PHARMACY.BATCHNO' | translate }}</th>
                    <th>{{ 'PHARMACY.AVAILABLE_QTY' | translate }}</th>
                    <th>{{ 'PHARMACY.NEW_QUANTITY' | translate }}</th>
                  </tr>
                  <tr *ngFor="let reconciledStock of reconciledStocks">
                    <td>{{reconciledStock.GenericName}}</td>
                    <td>{{reconciledStock.ItemName}}</td>
                    <td>{{reconciledStock.ItemCode}}</td>
                    <td>{{reconciledStock.BatchNo}}</td>
                    <td>{{reconciledStock.AvailableQuantity}}</td>
                    <td>{{reconciledStock.NewAvailableQuantity}}</td>
                  </tr>
                </tbody>


              </table>

            </div>
            <div class="row" *ngIf="reconciledStocksWithQuantityChanges.length==0">
              <p class="text-center">{{ 'PHARMACY.NO_STOCK_CHANGES' | translate }}</p>
            </div>
          </div>
          <div class="modelbox-footer" *ngIf="reconciledStocksWithQuantityChanges.length >0 && !showAllStock">
            <div style="display:flex; justify-content:space-between; align-items:center">
              <h5>{{ 'PHARMACY.DO_YOU_WANT_THIS_CHANGES' | translate }}</h5>
              <div>
                <button class="btn btn-danger" (click)="CloseConfirmationPopUp()">{{ 'COMMON.NO' | translate }}</button>
                <button [disabled]="loading" class="btn btn-primary" (click)="UpdateReconciledStockFromExcelFile()">{{ 'COMMON.YES' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="close-modelbox">
            <button *ngIf="!showAllStock" class="btn btn-primary" (click)="ViewAllStock()">
              <span><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ 'PHARMACY.ALL_STOCK' | translate }}</span>
            </button>
            <button *ngIf="showAllStock" class="btn btn-primary" (click)="HideAllStock()">
              <span><i class="fa fa-eye-slash" aria-hidden="true"></i> &nbsp;{{ 'PHARMACY.HIDE_STOCK' | translate }}</span>
            </button>
            <button class="btn btn-danger" (click)="CloseConfirmationPopUp()">
              {{ 'PHARMACY.X' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>