<style>
  table tr td {
      padding: 5px;
  }
  table {
    background: #fff;
  }
</style>
<div class="row hm-f-note">
  <div class="col-md-12">
    <div class="form-group">
      <h3 class="text-head" style="text-align:center">{{ 'CLINICAL.LINES_INVASIVE_PROCEDURE_NOTE' | translate }}</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <!--<th></th>-->
            <th><b>{{ 'CLINICAL.DATE' | translate }}</b></th>
            <!--<th></th>-->
            <th><b>{{ 'CLINICAL.LINES_PROSE' | translate }}</b></th>
            <th><b>{{ 'CLINICAL.SITE_LABEL' | translate }}</b></th>
            <th><b>{{ 'CLINICAL.REMARKS' | translate }}</b></th>
          </tr>
        </thead>
        <tbody *ngFor="let selectedItem of SelecetdItemList">
          <tr>
            <!--<td>
              <a (click)="DeleteRow(i)"><i class="btn btn-danger fa" style="float:left;padding: 2px 8px !important;">X</i></a>
            </td>-->
            <td><input style="width:100%" type="date" [(ngModel)]="procedureNote.Date" [ngModelOptions]="{standalone :true}" /></td>
            <!--<td>
              <a (click)="AddRow()"><i class="glyphicon glyphicon-plus btn btn-success" style="padding: 2px 8px !important;"></i></a>
            </td>-->
            <td><input style="width:100%" type="text" (focusout)="Focusit()" [(ngModel)]="procedureNote.LinesProse" /></td>
            <td><input style="width:100%" type="text" (focusout)="Focusit()" [(ngModel)]="procedureNote.Site" /></td>
            <td><input style="width:100%" type="text" (focusout)="Focusit()" [(ngModel)]="procedureNote.Remarks" placeholder="{{ 'CLINICAL.REMARKS' | translate }}..." /></td>
          </tr>
          <tr rowspan="6">
            <td colspan="6"><textarea style="height: 100px;width:100%" (focusout)="Focusit()" [(ngModel)]="procedureNote.FreeText" placeholder="{{ 'CLINICAL.FREE_TEXT_PLACEHOLDER' | translate }}"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    </div>
