<div class="g_r_inv">
  <div class="panel panel-default">
    <div class="panel-heading good-panel-heading">
      <div class="row">
        <div class="col-md-6">
          <b>{{ 'INVENTORY.PURCHASE_REQUEST' | translate }}</b>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <!-- <div class="col-md-4">
          <div class="row">
            <label for="PRCategory" class="control-label col-md-4" style="margin-top: 5px;">
              {{ 'INVENTORY.PR_CATEGORY' | translate }}<sup style="color: red">*</sup><b>:</b>
            </label>
            <div class="col-md-6">
              <select name="PRCategory" [(ngModel)]="currentPurchaseRequest.PRCategory" (change)="OnPRCategoryChanged()">
                <option *ngFor="let prCategory of PRCategories | keyvalue" [value]="prCategory.value">
                  {{prCategory.value}}
                </option>
              </select>
              <div class="tooltip">
                <span style="cursor: pointer;">
                  <i class="fa fa-info icon-info"></i>
                </span>
                <p class="tooltiptext ttptextdown no-print">{{ 'INVENTORY.ITEMS' | translate }} will be filtered based on this {{ 'INVENTORY.CATEGORY' | translate }}. {{ 'INVENTORY.ONLY' | translate }}
                  '{{currentPurchaseRequest.PRCategory}}' {{ 'INVENTORY.ITEMS' | translate }} are searchable now. </p>
              </div>
               <div class="error-message" *ngIf="goodsReceipt.IsDirty('GRCategory')" [hidden]="goodsReceipt.IsValidCheck('GRCategory','required')"> GR {{ 'INVENTORY.CATEGORY_IS_REQUIRED' | translate }}. </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="row">
            <form [formGroup]="currentPurchaseRequest.PurchaseRequestValidator" class="form-inline hm-form">
              <label class="control-label col-md-3">Vendor<b>:</b></label>
              <div class="col-md-8">
                <div class="div-relative">
                  <input danphe-auto-complete class="form-control" [(ngModel)]="selectedVendor" [source]="VendorList" [list-formatter]="VendorListFormatter" [placeholder]="'INVENTORY.VENDOR_NAME' | translate" display-property-name="VendorName" value-property-name=null max-num-list="10" [ngModelOptions]="{standalone:true}" (focusout)="SelectVendorFromSearchBox()" onclick="this.select();" />
                  <a *ngIf="!selectedVendor" class="fa fa-question" (click)="AddVendorPopUp()" [title]="'INVENTORY.UNABLE_TO_FIND_VENDOR_CLICK_TO_ADD_VENDOR' | translate"></a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <form [formGroup]="currentPurchaseRequest.PurchaseRequestValidator" class="form-inline hm-form">
              <label class="control-label col-md-4">{{ 'INVENTORY.REQUEST_DATE' | translate }}<b>:</b></label>
              <div class="col-md-8 col-sm-6">
                <danphe-date-picker [(ngModel)]="currentPurchaseRequest.RequestDate" ngDefaultControl [CalendarTypes]="'np,en'" [ngModelOptions]="{standalone:true}">
                </danphe-date-picker>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-12 mt20">
          <table class="table table-responsive table-striped table-hover table-bordered inv_table">
            <thead>
              <tr>
                <th></th>
                <th><b>{{ 'INVENTORY.PR_CATEGORY' | translate }}</b></th>
                <!-- <th><b>{{ 'INVENTORY.MSS_NO' | translate }}.</b></th> -->
                <th><b>{{ 'INVENTORY.ITEM' | translate }} {{ 'COMMON.NAME' | translate }}</b></th>
                <th><b>{{ 'GRID_HEADERS.CODE' | translate }}</b></th>
                <th><b>{{ 'INVENTORY.UOM' | translate }}</b></th>
                <th><b>Quantity</b></th>
                <th><b>{{ 'INVENTORY.AVAILABLE_QTY' | translate }}</b></th>
                <th><b>{{ 'INVENTORY.QUANTITY_VERIFIED_ON' | translate }}</b></th>
                <th><b></b>{{ 'INVENTORY.SUPPLY_REQUIRED_BEFORE' | translate }}</th>
                <!-- <th><b>{{ 'INVENTORY.APPROVED_QUANTITY_BY_TOP_MANAGEMENT' | translate }}</b></th>
                <th><b>{{ 'INVENTORY.PO_NO_DATE' | translate }}</b></th>
                <th><b>{{ 'INVENTORY.SUPPLIER_INVOICE_NO_DATE' | translate }}</b></th> -->
                <th><b>{{ 'INVENTORY.ITEM_REMARK' | translate }}</b></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of currentPurchaseRequest.PurchaseRequestItems; let i = index">
                <td><a (click)="DeleteRow(i)"><i class="btn btn-danger fa fa-times"></i></a></td>
                <!-- <td><b *ngIf="row.SelectedItem != null">{{row.SelectedItem.MSSNO}}</b></td> -->
                <td><select [(ngModel)]="row.ItemCategory" [ngModelOptions]="{standalone:true}" (ngModelChange)="OnPRCategoryChanged(i)">
                    <option *ngFor="let prCategory of PRCategories | keyvalue" [value]="prCategory.value">
                      {{prCategory.value}}
                    </option>
                  </select></td>
                <td>
                  <div class="div-relative autocomplete-item">
                    <form [formGroup]="row.PurchaseRequestItemValidator">
                      <input id="itemName{{i}}" danphe-auto-complete class="form-control " [(ngModel)]="row.SelectedItem" [source]="row.filteredItemList" [list-formatter]="ItemListFormatter" placeholder="Item Name" display-property-name="ItemName" value-property-name=null (focusout)="SelectItemFromSearchBox(row.SelectedItem,i)" max-num-list="20" formControlName="ItemId" onclick="this.select();" [min-chars]="1" (keyup.enter)="GoToNextInput('qty'+i,row.SelectedItem,i)" no-match-found-text="click ? to add new item" match-formatted="true" />

                      <a *ngIf="!row.SelectedItem || !row.SelectedItem.ItemId" class="fa fa-question" (click)="AddItemPopUp(i)" [title]="'INVENTORY.UNABLE_TO_FIND_ITEM_CLICK_TO_ADD_TO_MASTER' | translate"></a>
                    </form>
                    <div style="color:red" *ngIf="row.IsDirty('ItemId')" [hidden]="row.IsValidCheck('ItemId','required') || row.IsValidCheck('ItemId','notRegisteredItem')">
                      {{ 'INVENTORY.ITEM_IS_REQUIRED' | translate }}</div>
                  </div>
                </td>
                <td>
                  <b *ngIf="row.SelectedItem != null">{{row.SelectedItem.Code}}</b>
                </td>
                <td>
                  <b *ngIf="row.SelectedItem != null">{{row.SelectedItem.UOMName}}</b>
                </td>
                <td style="width: 80px;">
                  <form [formGroup]="row.PurchaseRequestItemValidator">
                    <input id="qty{{i}}" [(ngModel)]="row.RequestedQuantity" class="form-control" min="0" [disabled]="disableTextBox" (wheel)="coreService.PreventNumberChangeOnScroll($event)" formControlName="Quantity" (keyup.enter)="AddRowRequest()" name="quantity" type="number">
                    <div style="color:red" *ngIf="row.IsDirty('Quantity')" [hidden]="row.IsValidCheck('Quantity','required') && row.IsValidCheck('Quantity','invalidValue')">
                      {{ 'INVENTORY.INVALID_QUANTITY' | translate }}
                    </div>
                  </form>
                </td>
                <td>
                  <span *ngIf="row.SelectedItem?.AvailableStock != undefined; else availableQty0">{{row.SelectedItem?.AvailableStock}}</span>
                  <ng-template #availableQty0>0</ng-template>
                </td>
                <td>
                  <danphe-date-picker ngDefaultControl [CalendarTypes]="'np,en'" [ngModelOptions]="{standalone:true}" [(ngModel)]="row.QuantityVerifiedOn"></danphe-date-picker>

                </td>
                <td>
                  <div class="col-md-6">
                    <select [(ngModel)]="row.SupplyRequiredBefore" [ngModelOptions]="{standalone:true}">
                      <option [ngValue]="null" disabled>{{ 'INVENTORY.CHOOSE' | translate }}.</option>
                      <option value="1 Month">1 Month</option>
                      <option value="2 Month">2 Month</option>
                      <option value="3 Month">3 Month</option>
                      <option value="4 Month">4 Month</option>
                      <option value="5 Month">5 Month</option>
                      <option value="6 Month">6 Month</option>
                      <option value="7 Month">7 Month</option>
                      <option value="8 Month">8 Month</option>
                      <option value="9 Month">9 Month</option>
                      <option value="10 Month">10 Month</option>
                      <option value="11 Month">11 Month</option>
                      <option value="12 Month">12 Month</option>
                    </select>


                  </div>
                </td>

                <!-- <td></td>
                <td></td>
                <td></td> -->

                <td>
                  <input class="form-control" type="text" name="ItemRemarks" [(ngModel)]="row.Remarks" [ngModelOptions]="{standalone:true}" />
                </td>
                <td><a (click)="AddRowRequest()"><i class="fa fa-plus btn btn-success primary-btn"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" style="margin:10px 0">
          <label for="Remarks" class="col-md-2">{{ 'COMMON.REMARKS' | translate }} <span class="right">:</span></label>
          <textarea id="remarks" class="col-md-6" [(ngModel)]="currentPurchaseRequest.Remarks" name="Remarks" rows="3" cols="50" (keyup.enter)="setFocusById('RequestPORequisition')"></textarea>
        </div>
      </div>
    </div>


    <div class="panel-footer text-center">
      <input *ngIf="isEdit" id="UpdatePORequisition" type="button" class="btn green btn-success margin-7-hr" (click)="UpdatePORequisition()" [value]="'COMMON.UPDATE' | translate" [disabled]="loading" />
      <input *ngIf="!isEdit" id="RequestPORequisition" type="button" class="btn green btn-success margin-7-hr" (click)="AddPORequisition()" [value]="'INVENTORY.REQUEST' | translate" [disabled]="loading" />
      <input type="button" class="btn btn-danger" (click)="DiscardChanges()" [value]="'COMMON.DISCARD' | translate">
    </div>
  </div>
</div>



<item-add *ngIf="showAddItemPopUp" [showAddPage]="showAddItemPopUp" (callback-add)="OnNewItemAdded($event)"></item-add>
<vendor-add *ngIf="showAddVendorPopUp" [showAddPage]="showAddVendorPopUp" (callback-add)="OnNewVendorAdded($event)">
</vendor-add>