<style>
</style>
<div style="width: 100%;position: relative;padding: 0px 0px 25px 0px;background: #fff;">

  <div>

    <div class="row">

      <div class="col-md-12">
        <div>
          <a class="btn blue bordered btn-sm cstm-pat-registration-hdr">
            <span style="display: inline-block; margin-left: 5px;">{{ 'EMERGENCY.ALL_ORDERS_OF' | translate:{name: SelectedPatient.FullName} }}</span>
          </a>
        </div>
      </div>

      <div class="col-md-12">
        <div>
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="active"><a data-bs-toggle="tab" href="#allorders">{{ 'EMERGENCY.LAB_IMAGING_ORDERS' | translate }}</a></li>
              <li><a data-bs-toggle="tab" href="#drugorders" (click)="ShowPharmacyOrder()">{{ 'EMERGENCY.PHARMACY_ORDERS' | translate }}</a></li>
            </ul>
          </div>

          <div class="tab-content">
            <div id="allorders" class="tab-pane fade in active">
              <!--<div class="col-md-12">
      <button *ngIf="!showAddNewItem" (click)="showAddNewItem=true;showOrderRequest=true;" class="btn btn-primary btn-sm margin-7-lft margin-15-bt"> Add New Item</button>
      <button *ngIf="showAddNewItem" (click)="showAddNewItem=false;showOrderRequest=false;" class="btn btn-cancel btn-sm margin-7-lft margin-15-bt"> Show Item List</button>
    </div>-->
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="color: #000;">
                    <tbody>
                      <tr>
                        <td><strong>{{ 'EMERGENCY.HOSPITAL_NUMBER' | translate }}</strong> &nbsp;{{SelectedPatient.PatientCode}}</td>
                        <td><strong>{{ 'GRID_HEADERS.AGE_SEX' | translate }}</strong>&nbsp;{{SelectedPatient.Age}}/{{SelectedPatient.Gender}}</td>
                        <td><strong>{{ 'GRID_HEADERS.DATE_TIME' | translate }}</strong>&nbsp;{{SelectedPatient.VisitDateTime | DsfDateTime:'format':'YYYY-MM-DD hh:mm A'}}
                        </td>
                        <td *ngIf="SelectedPatient && SelectedPatient.Case"><strong>{{ 'EMERGENCY.CASE' | translate }}</strong>&nbsp;{{SelectedPatient.Case}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-md-6" style="margin-bottom: 10px;" *ngIf="showSchemePriceCategory">
                <scheme-pricecategory-select
                                             [selected-scheme-priceCategory]="SelectedSchemePriceCategory"
                                             [disable-selection]="true">
                </scheme-pricecategory-select>
              </div>

              <div style="width: 100%;display: table;">
                <div class="col-md-12">
                  <ward-billitem-request *ngIf="ShowOrderRequest" [counterId]="EmergencyCounterId" [billItems]="AllBillItems"
                                         [patientId]="SelectedPatient.PatientId" [visitId]="SelectedPatient.PatientVisitId"
                                         [visitType]="'emergency'" [billingType]="'outpatient'" [showPriceCategory]="false"
                                         [past-tests]="ProvisionalItemsDetails"
                                         (emit-billItemReq)="OrderRequested()"
                                         [scheme-priceCategory]="SelectedSchemePriceCategory"></ward-billitem-request>
                </div>
              </div>
              <hr />

              <div style="display: block;width: 100%; height: 25px;"></div>

              <div class="col-md-12">


                <div *ngIf="ProvisionalItemsDetails && ProvisionalItemsDetails.length > 0" class="table-responsive">
                  <dsf-grid [grid-colDefaults]="ERPatientWardBillGridCol" [grid-data]="ProvisionalItemsDetails"
                               [NepaliDateInGridParams]="NepaliDateInGridSettings" (grid-actions)="ERWardItemListAction($event)">
                  </dsf-grid>
                </div>

              </div>

            </div>

            <div id="drugorders" class="tab-pane fade">
              <div class="col-md-12">
                <button *ngIf="!ShowAddNewDrug" (click)="showAddNewDrug=true;showDrugRequest=true;"
                        class="btn btn-primary btn-sm margin-7-lft margin-15-bt"> {{ 'EMERGENCY.ADD_NEW_MEDICINE' | translate }}</button>
                <button *ngIf="ShowAddNewDrug" (click)="showAddNewDrug=false;showDrugRequest=false;"
                        class="btn btn-cancel btn-sm margin-7-lft margin-15-bt"> {{ 'EMERGENCY.SHOW_MEDICINE_LIST' | translate }}</button>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="color: #000;">
                    <tbody>
                      <tr>
                        <td><strong>{{ 'EMERGENCY.HOSPITAL_NUMBER' | translate }}</strong> &nbsp;{{SelectedPatient.PatientCode}}</td>
                        <td><strong>{{ 'GRID_HEADERS.AGE_SEX' | translate }}</strong>&nbsp;{{SelectedPatient.Age}}/{{SelectedPatient.Gender}}</td>
                        <td><strong>{{ 'GRID_HEADERS.DATE_TIME' | translate }}</strong>&nbsp;{{SelectedPatient.VisitDateTime | DsfDateTime:'format':'YYYY-MM-DD hh:mm A'}}
                        </td>
                        <td *ngIf="SelectedPatient && SelectedPatient.Case"><strong>{{ 'EMERGENCY.CASE' | translate }}</strong>&nbsp;{{SelectedPatient.Case}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!ShowAddNewDrug">
                  <div *ngIf="PHRMOrdersList && PHRMOrdersList.length > 0" class="table-responsive">
                    <table class="table table-striped table-hover" style="width: 100%;margin-top: 15px;">
                      <thead>
                        <tr style="background-color:lightgray">
                          <th style="width: 120px;">{{ 'EMERGENCY.REQUESTED_ON' | translate }}</th>
                          <th style="width: 380px;">{{ 'EMERGENCY.ITEM_NAME' | translate }}</th>
                          <th style="width: 180px;">{{ 'COMMON.STATUS' | translate }}</th>
                          <th style="padding-right: 5px !important;">{{ 'EMERGENCY.QTY' | translate }}</th>
                        </tr>
                      </thead>

                      <tr *ngFor="let row of PHRMOrdersList;let i = index">
                        <td style="font-size: 12px;font-weight: bold;">{{row.RequestedOn | DsfDateTime:'format':'YY/MM/DD'}}</td>
                        <td>{{row.ItemName}}</td>
                        <td>{{row.Status}}</td>
                        <td>{{row.Quantity}}</td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>

              <div *ngIf="ShowAddNewDrug" style="width: 100%;display: table;">
                <div class="col-md-12">
                  <drugs-request *ngIf="ShowDrugRequest" [patient]="CurrentPatient" [visit]="CurrentVisit" [moduleName]="'emergency'"
                                 (successCallBack)="AddSuccessFullDataEntered($event)"></drugs-request>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <a *ngIf="isPopUp" (click)="CloseWardBillingRequestPopUp()"
     style="background: #b51717;padding: 7px 6px 2px;position: absolute;right: 0;top: 0px; color: #fff;"><i
       class="fa fa-2x fa-close"></i></a>
</div>




<div class="popup-static portlet box portlet-fullscreen" *ngIf="showConfirmationBox">
  <div class="portlet-body form">
    <div class="col-md-6 col-md-offset-3">
      <div class="modelbox-div">
        <div class="modelbox-header">
          <h4 class="margin-0-vr text-danger text-center">
            <strong>{{ 'EMERGENCY.WRITE_CANCEL_REMARKS' | translate }}</strong>
          </h4>
        </div>
        <div class="modelbox-body">
          <div>
            {{ 'EMERGENCY.CANCEL_REMARKS' | translate }}:&nbsp;
            <textarea [(ngModel)]="CancelRemarks" class="form-control" name="cancelremarks"></textarea>
          </div>
        </div>
        <div class="modelbox-footer">
          <div class="all-buttons text-right">
            <button type="button" class="btn btn-primary btn-sm margin-7-hr"
                    (click)="CancelRequest(SelectedBillForCancel, SelIndexForCancel)">
              {{ 'PATIENT_OVERVIEW.PROCEED' | translate }}
            </button>
          </div>
        </div>
        <div class="close-modelbox">
          <button class="btn btn-danger" (click)="showConfirmationBox=false">
            X
          </button>
        </div>
      </div>
    </div>
  </div>
</div>