<style>
    .btn-critc,
    .btn-death,
    .btn-moderate,
    .btn-normal {
        color: #fff;
    }

    .btn-critc:hover {
        background: #f70a0a !important;
        color: #fff;
    }

    .btn-death:hover {
        background: #000 !important;
        color: #fff;
    }

    .btn-moderate:hover {
        background: #eab213 !important;
        color: #fff;
    }

    .btn-normal:hover {
        background: #50e812 !important;
        color: #fff;
    }
</style>
<div class="cstm-pat-registration er-pat-registration clearfix">
    <form [formGroup]="ERPatient.ERPatientValidator" class="form-horizontal">
        <div class="form-body">
            <div class="row" style="margin: 0px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="cstm-pat-registration-hdr btn blue bordered btn-sm" name="Anonymous Patient">
                                <span style="display: inline-block; margin-left: 5px;">
                                    {{ 'EMERGENCY.REGISTRATION' | translate }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-bottom: 10px;">
                    <registration-scheme-select *ngIf="!update" (on-change)="OnRegistrationSchemeChanged($event)"
                                                [service-billing-context]="serviceBillingContext">
                    </registration-scheme-select>

                    <div *ngIf="update" class="col-md-12" style="border: 1px solid black;">
                        <label class="col-md-4" style="margin-top: 5px; font-size: 15px;">{{ 'CLAIMMANAGEMENT.SCHEME' | translate }}:
                            <strong>{{currentERPatient.SchemeName}}</strong></label>
                        <label class="col-md-4" style="margin-top: 5px; font-size: 15px;">{{ 'SETTINGS.PriceCategory' | translate }}:
                            <strong>{{currentERPatient.PriceCategoryName}}</strong></label>
                    </div>
                </div>

                <div class=" col-md-12">
                    <div class="col-md-6 col-xs-12">

                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <label *ngIf="!ocmcSelected">{{ 'EMERGENCY.FIRST_NAME' | translate }}</label> <label *ngIf="ocmcSelected">{{ 'EMERGENCY.ALIAS_NAME' | translate }}</label><b
                                   class="color-red">
                                    *</b><b style="float:right;">:</b>
                            </label>

                            <!--<div *ngIf="!addNewUnknownERPatient && (!selectionFromExistingPatient || !ERPatient.IsExistingPatient)" class="col-md-8">-->
                            <div class="col-md-8">
                                <input style="display: block;" class="form-control capitalize-firstletter" type="text" maxlength="40"
                                       formControlName="FirstName" [(ngModel)]="ERPatient.FirstName" required
                                       value="{{ERPatient.FirstName | CapitalFirstLetter}}"
                                       [placeholder]="(ocmcSelected==true ? 'EMERGENCY.ALIAS_NAME' : 'EMERGENCY.FIRST_NAME') | translate"
                                       (keyup.enter)="SetFocusById('erPatMiddleName')" id="erPatFirstName" />
                                <span class="error-msg" *ngIf="ERPatient.IsDirty('FirstName')"
                                      [hidden]="ERPatient.IsValid('FirstName','required')">
                                    <span *ngIf="!ocmcSelected">
                                        {{ 'EMERGENCY.FIRST_NAME_REQUIRED' | translate }}
                                    </span>
                                    <span *ngIf="ocmcSelected">
                                        {{ 'EMERGENCY.ALIAS_NAME_REQUIRED' | translate }}
                                    </span>
                                </span>
                                <span class="error-msg" *ngIf="ERPatient.IsDirty('FirstName')"
                                      [hidden]="ERPatient.IsValid('FirstName','maxlength')">
                                    <span *ngIf="!ocmcSelected">
                                        First Name must be less than
                                        40 characters
                                    </span>
                                    <span *ngIf="ocmcSelected">
                                        Alias Name must be less than
                                        40 characters
                                    </span>
                                </span>
                            </div>
                            <!--<div *ngIf="addNewUnknownERPatient || selectionFromExistingPatient || ERPatient.IsExistingPatient" class="col-md-8">
                <input disabled style="display: block;" class="form-control capitalize-firstletter" type="text" maxlength="40" [ngModelOptions]="{standalone: true}" [(ngModel)]="ERPatient.FirstName"
                       required value="" placeholder="First Name" />
            </div>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.MIDDLE_NAME' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input id="erPatMiddleName"
                                       [disabled]="addNewUnknownERPatient || selectionFromExistingPatient || ERPatient.IsExistingPatient || ocmcSelected"
                                       class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.MiddleName"
                                       value="" [placeholder]="'EMERGENCY.MIDDLE_NAME' | translate" (keyup.enter)="SetFocusById('erPatLastName')" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.LAST_NAME' | translate }}<b class="color-red"> *</b><b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input style="display: block;" class="form-control" type="text" formControlName="LastName"
                                       [(ngModel)]="ERPatient.LastName" required value="{{ERPatient.LastName| CapitalFirstLetter}}"
                                       [placeholder]="'EMERGENCY.LAST_NAME' | translate" id="erPatLastName" (keyup.enter)="SetFocusById('erPatGender')"
                                       (focusout)="OnLastNameChanged($event)" />
                                <span class="error-msg" *ngIf="ERPatient.IsDirty('LastName')"
                                      [hidden]="ERPatient.IsValid('LastName','required')">{{ 'EMERGENCY.LAST_NAME_REQUIRED' | translate }}</span>
                                <span class="error-msg" *ngIf="ERPatient.IsDirty('LastName')"
                                      [hidden]="ERPatient.IsValid('LastName','maxlength')">
                                    Last Name must be less than
                                    40 characters
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-4">{{GeneralFieldLabel.Caste}} <sup>*</sup> <b
                                   style="float: right;">:</b></label>
                            <div class="col-md-8">
                                <select-ethnic-group [lastName]="patientLastName"
                                                     [patient-ethnic-group]="patientEthnicGroup"
                                                     (on-ethnic-group-change)="OnEthnicGroupChangeCallBack($event)">
                                </select-ethnic-group>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">
                                {{ 'EMERGENCY.GENDER' | translate }}<b class="color-red"> *</b><b style="float:right;">:</b>
                            </label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <select class="form-control" [(ngModel)]="ERPatient.Gender" formControlName="Gender"
                                            (change)="SetFocusById('erPatAge')" id="erPatGender">
                                        <option value="null" selected disabled>{{ 'COMMON.SELECT_PLACEHOLDER' | translate }}</option>
                                        <option value="Male">{{ 'PATIENT.MALE' | translate }}</option>
                                        <option value="Female">{{ 'PATIENT.FEMALE' | translate }}</option>
                                        <option value="Other">{{ 'PATIENT.OTHER' | translate }}</option>
                                    </select>
                                </div>
                                <span class="error-msg" *ngIf="ERPatient.IsDirty('Gender')"
                                       [hidden]="ERPatient.IsValid('Gender','required')">{{ 'EMERGENCY.GENDER_REQUIRED' | translate }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.AGE' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <div class="col-md-3" style="padding-left:0px;padding-right: 0px;">
                                    <input class="form-control" type="number" min="0" max="150" formControlName="Age" onclick="this.select()"
                                           (focusout)="CalculateDob();" [(ngModel)]="ERPatient.Age" [placeholder]="'EMERGENCY.AGE' | translate"
                                           style="padding-right:0px;"
                                           id="erPatAge" (keyup.enter)="SetFocusById('district')" oninput="validity.valid||(value='');" />
                                </div>
                                <div class="col-md-9" style="padding-right: 0px;">
                                    <div class="input-group">
                                        <select class="form-control" [(ngModel)]="ERPatient.AgeUnit" [ngModelOptions]="{standalone: true}"
                                                (ngModelChange)="CalculateDob();" id="erPatAgeUnit">
                                            <option value="Y">{{ 'EMERGENCY.YEARS' | translate }}</option>
                                            <option value="M">{{ 'EMERGENCY.MONTHS' | translate }}</option>
                                            <option value="D">{{ 'EMERGENCY.DAYS' | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="color-red font-sm" *ngIf="ERPatient.IsDirty('Age')"
                                      [hidden]="ERPatient.IsValid('Age','required')">{{ 'EMERGENCY.AGE_REQUIRED' | translate }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 left" style="padding-top: 1px;">
                                {{ 'EMERGENCY.DATE_OF_BIRTH' | translate }}<b style="float:right;">:</b>
                            </label>
                            <div *ngIf="ERPatient && ERPatient.DateOfBirth" class="col-md-8">
                                <dsf-date-picker [(ngModel)]="ERPatient.DateOfBirth" ngDefaultControl [CalendarTypes]="calType"
                                                     [ngModelOptions]="{standalone: true}" [year-settings]="'DateOfBirth'">
                                </dsf-date-picker>
                            </div>
                        </div>

                        <!--<input type="text" hidden [(ngModel)]="ERPatient.DateOfBirth"  [ngModelOptions]="{standalone: true}" (ngModelChange)="generateAge()" />-->

                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.COUNTRY' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <select id="ddlCountry" class="form-control" [(ngModel)]="ERPatient.CountryId"
                                        [ngModelOptions]="{standalone: true}"
                                        (ngModelChange)="defaultLoad=false;GetCountrySubDivision()">
                                    <option *ngFor="let Country of Countries;" value="{{Country.CountryId}}">
                                        {{Country.CountryName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">{{GeneralFieldLabel.DistrictState}}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input dsf-auto-complete class="form-control" [ngModelOptions]="{standalone: true}" id="district"
                                       [(ngModel)]="selDistrict" [list-formatter]="MyListFormatter" [source]="CountrySubDivisionList"
                                       placeholder="{{ 'COMMON.ENTER' | translate }} {{GeneralFieldLabel.DistrictState}}" display-property-name="Value" value-property-name=null
                                       (focusout)="DistrictChanged()" onClick="this.select();" max-num-list="10"
                                       (keyup.enter)="showMunicipality? SetFocusById('municipality') : SetFocusById('address')" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showMunicipality">
                            <label class="control-label col-md-4">{{GeneralFieldLabel.Municipality}}
                                <b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <municipality-select *ngIf="ERPatient" [municipalityId]='ERPatient.MunicipalityId'
                                                     [subDivisionId]='selDistrict? selDistrict.Key : ERPatient.CountrySubDivisionId'
                                                     (valueChange)="UpdateMunicipality($event)"></municipality-select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="ERPatient.MunicipalityId">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.WARD_NUMBER' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input class="form-control" min="0" type="number" [(ngModel)]="ERPatient.WardNo"
                                       [ngModelOptions]="{standalone: true}" value=""
                                       [placeholder]="'EMERGENCY.WARD_NUMBER' | translate"
                                       id="WardNo"
                                       (keyup.enter)="SetFocusById('address')" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.ADDRESS' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input class="form-control" maxlength="100" type="text" [(ngModel)]="ERPatient.Address"
                                       [ngModelOptions]="{standalone: true}" value=""
                                       (focusout)="ERPatient.Address=capitalizeFirstLetter(ERPatient.Address)" [placeholder]="'EMERGENCY.ADDRESS' | translate"
                                       id="address"
                                       (keyup.enter)="SetFocusById('erPatMainCase')" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showPoliceCase">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="icheck-inline txt-black">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input [disabled]="update && isPoliceCaseState" type="checkbox" value="PoliceCase"
                                                   [(ngModel)]="ERPatient.IsPoliceCase" [ngModelOptions]="{standalone: true}">
                                             <span></span>{{ 'EMERGENCY.POLICE_CASE' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xs-12">

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.CONTACT_NUMBER' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input class="form-control" type="tel" [(ngModel)]="ERPatient.ContactNo" formControlName="PhoneNumber"
                                        [placeholder]="'EMERGENCY.CONTACT_NUMBER' | translate" id="erPatPhone" (keyup.enter)="SetFocusById('register')" />
                                 <span class="error-msg" *ngIf="ERPatient.IsDirty('PhoneNumber')"
                                       [hidden]="ERPatient.IsValid('PhoneNumber','pattern')">
                                     Primary Phone is not
                                     proper
                                 </span>
                             </div>
                        </div>

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.REFERRED_BY' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input class="form-control" maxlength="100" type="text" [(ngModel)]="ERPatient.ReferredBy"
                                        [ngModelOptions]="{standalone: true}" value=""
                                        (focusout)="ERPatient.ReferredBy=capitalizeFirstLetter(ERPatient.ReferredBy)"
                                        [placeholder]="'EMERGENCY.REFERRED_BY' | translate" />
                             </div>
                        </div>

                        <!-- <div class="form-group">
              <label class="control-label col-md-4">Case<b style="float:right;">:</b></label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="ERPatient.Case"
                  [ngModelOptions]="{standalone: true}" value="" placeholder="Case"
                  (focusout)="ERPatient.Case=capitalizeFirstLetter(ERPatient.Case)" id="erPatCase"/>
              </div>
            </div> -->

                        <div class="form-group">
                             <label class="control-label col-md-4">
                                 {{ 'EMERGENCY.CONDITION_ON_ARRIVAL' | translate }}<b style="float:right;">:</b>
                             </label>
                             <div class="col-md-8">
                                 <textarea class="form-control" type="text" [(ngModel)]="ERPatient.ConditionOnArrival"
                                           [ngModelOptions]="{standalone: true}" value="" [placeholder]="'EMERGENCY.CONDITION_ON_ARRIVAL' | translate"
                                           (focusout)="ERPatient.ConditionOnArrival=capitalizeFirstLetter(ERPatient.ConditionOnArrival)">
                                 </textarea>
                             </div>
                        </div>

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.MODE_OF_ARRIVAL' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input dsf-auto-complete class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="SelectedModeOfArrival" [list-formatter]="ModeOfArrivalListFormatter"
                                        [source]="ModeOfArrivalList"
                                        [placeholder]="'EMERGENCY.MODE_OF_ARRIVAL' | translate" display-property-name="ModeOfArrivalName" value-property-name=null
                                        (focusout)="ModeOfArrivalChanged()" onClick="this.select();" max-num-list="10" />
                             </div>
                        </div>

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.CARE_OF_PERSON' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="ERPatient.CareOfPerson"
                                        [ngModelOptions]="{standalone: true}"
                                        value="" [placeholder]="'EMERGENCY.CARE_OF_PERSON' | translate"
                                        (focusout)="ERPatient.CareOfPerson=capitalizeFirstLetter(ERPatient.CareOfPerson)" />
                             </div>
                        </div>

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.CARE_OF_PERSON_NUMBER' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="ERPatient.CareOfPersonContactNumber"
                                        [ngModelOptions]="{standalone: true}" value="" [placeholder]="'EMERGENCY.CARE_OF_PERSON_NUMBER' | translate"
                                        (focusout)="ERPatient.CareOfPersonContactNumber=capitalizeFirstLetter(ERPatient.CareOfPersonContactNumber)" />
                             </div>
                        </div>

                        <div class="form-group">
                             <label class="control-label col-md-4">{{ 'EMERGENCY.BROUGHT_BY' | translate }}<b style="float:right;">:</b></label>
                             <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="ERPatient.BroughtBy"
                                        [ngModelOptions]="{standalone: true}"
                                        value="" [placeholder]="'EMERGENCY.BROUGHT_BY' | translate"
                                        (focusout)="ERPatient.BroughtBy=capitalizeFirstLetter(ERPatient.BroughtBy)" />
                             </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'EMERGENCY.RELATION_WITH_PATIENT' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" [(ngModel)]="ERPatient.RelationWithPatient"
                                       [ngModelOptions]="{standalone: true}" value="" [placeholder]="'EMERGENCY.RELATION_WITH_PATIENT' | translate"
                                       (focusout)="ERPatient.RelationWithPatient=capitalizeFirstLetter(ERPatient.RelationWithPatient)" />
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        <!-- <button *ngIf="!update" type="button" class="btn btn-primary" (click)="ShowTriagePopUp()">
                            Triage
                        </button> -->

                        <!-- Modal starts here -->
                        <div class="popup-static portlet box portlet-fullscreen custom_modal"
                             *ngIf="ShowTriagePopup">
                             <div class="portlet-body form">
                                 <!--Model Box Body Start-->
                                 <div class="row">
                                     <div class="col-md-4 col-md-offset-4    ">
                                         <div class="modelbox-div clearfix">
                                             <div class="caption custom-caption no-margin">
                                                 <h3> <span>{{ 'EMERGENCY.SELECT_TRIAGE_CODE' | translate }}</span> </h3>
                                                 <a class="btn btn-danger" (click)="HideTriagePopUp()" title="Cancel">X</a>
                                             </div>
                                             <div style="margin:15px;">
                                                 <div class="row" style="display: flex; justify-content: space-evenly;">
                                                     <div class="pull-left">
                                                         <button class="btn btn-sm btn-death" style="background: #272222; "
                                                                 (click)="loading=true;TriagePatient(4)">{{ 'EMERGENCY.DEATH' | translate }}</button>
                                                     </div>
                                                     <div class="pull-left">
                                                         <button class="btn btn-sm btn-critc"
                                                                 style="background: #a70b0b; margin-left: 7px !important;"
                                                                 (click)="loading=true;TriagePatient(3)">{{ 'EMERGENCY.CRITICAL' | translate }}</button>
                                                     </div>
                                                     <div class="pull-left">
                                                         <button class="btn btn-sm btn-moderate"
                                                                 style="background: #d29b00; margin-left: 7px !important;"
                                                                 (click)="loading=true;TriagePatient(2)">{{ 'EMERGENCY.MODERATE' | translate }}</button>
                                                     </div>
                                                     <div>
                                                         <button class="btn btn-sm btn-normal"
                                                                 style="background: #3fab13; margin-left: 7px !important;"
                                                                 (click)="loading=true;TriagePatient(1)">{{ 'EMERGENCY.MILD' | translate }}</button>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <!--Model Box Body End-->
                             </div>
                        </div>
                        <!-- Modal ends here -->

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.CASE' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-2">
                                <select class="form-control" #allCase [(ngModel)]="ERPatient.PatientCases.MainCase"
                                        [ngModelOptions]="{standalone: true}" (change)="AssignNestedCases(allCase.value);" id="erPatMainCase"
                                        (change)="SetFocusById('erPatSubCase')">
                                    <option value="0" selected>{{ 'COMMON.SELECT_PLACEHOLDER' | translate }}</option>
                                    <option *ngFor="let case of allCasesMaster" value="{{case.Id}}">{{case.Name}}</option>
                                </select>
                                <!-- <span class="error-msg" *ngIf="ERPatient.IsDirty('MainCase')"
                  [hidden]="ERPatient.IsValid('MainCase','required')">Case selection is required</span> -->
                            </div>
                            <div class="col-md-2" *ngIf="nestedCases.length >0">
                                <select class="form-control" #subCase [(ngModel)]="ERPatient.PatientCases.SubCase"
                                        [ngModelOptions]="{standalone: true}" (change)="HandleOthersCase(subCase.value)" id="erPatSubCase"
                                        (change)="SetFocusById('otherCase')">
                                    <option value="{{c.Id}}" *ngFor="let c of nestedCases">{{c.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="showOthersTextBox">
                                <input style="display: block;" class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.OtherCaseDetails" required value="{{ERPatient.OtherCaseDetails}}"
                                       [placeholder]="'EMERGENCY.ENTER_DETAILS' | translate" id="otherCase" (keyup.enter)="SetFocusById('erPatPhone')" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group" *ngIf="showAnimalBiteDetailEntry || showSnakeBiteDetailEntry || showDogBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.BITING_ADDRESS' | translate }} <b style="float:right;">:</b></label>
                            <div class="col-md-2">
                                <select id="bitingCountry" class="form-control" [(ngModel)]="ERPatient.PatientCases.BitingCountry"
                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="defaultLoad=false;GetCountrySubDivision()">
                                    <option *ngFor="let Country of Countries;" value="{{Country.CountryId}}">
                                        {{Country.CountryName}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <input dsf-auto-complete class="form-control" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="selDistrictOfBite"
                                       [list-formatter]="MyListFormatter" [source]="CountrySubDivisionList"
                                       placeholder="{{ 'COMMON.ENTER' | translate }} {{GeneralFieldLabel.DistrictState}}"
                                       display-property-name="Value" value-property-name=null (focusout)="BitingMunicipalityChanged()"
                                       onClick="this.select();" max-num-list="10" />
                            </div>

                            <div class="col-md-2">
                                <input class="form-control" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.PatientCases.BitingAddress"
                                       [placeholder]="'EMERGENCY.ENTER_ADDRESS' | translate" display-property-name="Value" value-property-name=null onClick="this.select();"
                                       max-num-list="10" id="bitingAddress" (keyup.enter)="SetFocusById('bittenBodyPart')" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showAnimalBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.ANIMAL_NAME' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-4">
                                <input style="display: block;" class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.PatientCases.BitingAnimalName" required
                                       value="{{ERPatient.PatientCases.BitingAnimalName}}" [placeholder]="'EMERGENCY.ENTER_DETAILS' | translate" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showAnimalBiteDetailEntry || showSnakeBiteDetailEntry || showDogBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.DATE_OF_BITE' | translate }} <b style="float:right;">:</b></label>
                            <div class="col-md-4">
                                <dsf-date-picker [(ngModel)]="ERPatient.PatientCases.DateTimeOfBite" [ngModelOptions]="{standalone: true}"
                                                     [showTime]="true" [CalendarTypes]="'en,np'">
                                </dsf-date-picker>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showAnimalBiteDetailEntry || showSnakeBiteDetailEntry || showDogBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.BITTEN_ON' | translate }} <b style="float:right;">:</b></label>
                            <div class="col-md-4">
                                <select class="form-control" #bodyPart [(ngModel)]="ERPatient.PatientCases.BitingSite"
                                        [ngModelOptions]="{standalone: true}" (change)="ShowOtherForBittenOn(bodyPart.value)" id="bittenBodyPart"
                                        (change)="SetFocusById('firstAid')">
                                    <option *ngFor="let part of bittenPart" value="{{part.Id}}">{{part.DisplayName}}</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="bittenOnPart">
                                <input style="display: block;" class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.PatientCases.BitingSiteOthers" required
                                       value="{{ERPatient.PatientCases.BitingSiteOthers}}" [placeholder]="'EMERGENCY.ENTER_DETAILS' | translate" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showSnakeBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.BITING_SNAKE' | translate }} <b style="float:right;">:</b></label>
                            <div class="col-md-4">
                                <select class="form-control" #bitingSnake [(ngModel)]="ERPatient.PatientCases.BitingAnimal"
                                        [ngModelOptions]="{standalone: true}" (change)="ShowOtherForBitingSnake(bitingSnake.value)">
                                    <option *ngFor="let type of snakeTypes" value="{{type.Id}}">{{type.DisplayName}}</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="bitingSnakeOther">
                                <input style="display: block;" class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.PatientCases.BitingSiteOthers" required
                                       value="{{ERPatient.PatientCases.BitingSiteOthers}}" [placeholder]="'EMERGENCY.ENTER_OTHER_DETAILS' | translate" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="showAnimalBiteDetailEntry || showSnakeBiteDetailEntry || showDogBiteDetailEntry">
                            <label class="control-label col-md-2">{{ 'EMERGENCY.FIRST_AID' | translate }}<b style="float:right;">:</b></label>
                            <div class="col-md-4">
                                <select class="form-control" #firstAid [(ngModel)]="ERPatient.PatientCases.FirstAid"
                                        [ngModelOptions]="{standalone: true}" (change)="ShowOtherForFirstAid(firstAid.value)" id="firstAid"
                                        (change)="SetFocusById('erPatPhone')">
                                    <option *ngFor="let type of firstAidData" value="{{type.Id}}">{{type.DisplayName}}</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="firstAidOther">
                                <input style="display: block;" class="form-control" type="text" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="ERPatient.PatientCases.FirstAidOthers" required
                                       value="{{ERPatient.PatientCases.FirstAidOthers}}"
                                       [placeholder]="'EMERGENCY.ENTER_OTHER_DETAILS' | translate" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
            <div *ngIf="!update && !selectionFromExistingPatient" class="form-group">
                <div class="col-md-6">
                    <button [disabled]="loading"
                            style="font-size: 16px; display: block; font-weight: 700;margin-top: 12px; background-color: #dc353d; border-color: #dc353d;"
                            class="btn green btn-success btn-sm" name="addanonymous" (click)="AddUnknownERPatient()">
                        <i style="font-size: 16px;" class="fa fa-user-secret"></i>
                        <span *ngIf="!addNewUnknownERPatient" style="display: inline-block; margin-left: 5px;">{{ 'EMERGENCY.ADD_UNKNOWN' | translate }}</span>
                        <span *ngIf="addNewUnknownERPatient" style="display: inline-block; margin-left: 5px;">{{ 'EMERGENCY.RESET_ER_PATIENT' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div *ngIf="!update" class="col-md-8">
                    <button [disabled]="loading" class="btn green btn-success btn-sm" name="register" (click)="loading=true;GetMatchingPatientList();"
                            id="register">
                        <i style="font-size: 16px;" class="fa fa-plus-circle"></i><span
                              style="display: inline-block; margin-left: 5px;">{{ 'EMERGENCY.REGISTER' | translate }}</span>
                    </button>
                </div>

                <div *ngIf="update && !selectionFromExistingPatient" class="col-md-8">
                    <button [disabled]="loading" class="btn green btn-success btn-sm" name="update" (click)="loading=true;GetMatchingPatientList();"
                            id="register">
                        <i style="font-size: 16px;" class="fa fa-plus-circle"></i><span style="display: inline-block; margin-left: 5px;">{{ 'EMERGENCY.UPDATE' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a (click)="Close()" style="background: #b51717;padding: 7px 6px 2px;position: absolute;right: 0;top: 0px; color: #fff;">
        <i class="fa fa-2x fa-close"></i>
    </a>
</div>
<patient-duplicate-warning-box *ngIf="showMatchingPatientList" [btnActionName]="'Use Existing'" [matchedPatResult]="matchingPatientList"
                               [currentPatInfo]="ERPatient" [byPassClientCheck]="true" (emit-close-action)="EmitMatchingListCloseAction($event)">

</patient-duplicate-warning-box>