<input type="button" class="btn btn-primary" (click)="AddTAX()" [value]="'PHARMACY.ADD_TAX' | translate" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <dsf-grid [grid-colDefaults]="taxGridColumns" [grid-data]="taxList" (grid-actions)="TAXGridActions($event)">
    </dsf-grid>
  </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showTAXAddPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3> <span *ngIf="!update">Add TAX</span>
              <span *ngIf="update">{{ 'PHARMACY.UPDATE_TAX' | translate }}</span>
            </h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-times"></i></a>
          </div>

          <!--Model Box Body Start-->
          <form [formGroup]="currentTAX.TAXValidator" class="form-horizontal hm-form">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.TAX_NAME' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="tax" class="form-control" type="text" maxlength="50" [(ngModel)]="currentTAX.TAXName" (keyup.enter)="setFocusById('taxper')" formControlName="TAXName" value="" [placeholder]="'PHARMACY.ENTER_TAX_NAME' | translate" />
                  <span class="color-red font-sm" [hidden]="currentTAX.IsValidCheck('TAXName','required') || !(currentTAX.IsDirty('TAXName'))">{{ 'PHARMACY.TAX_NAME_IS_REQUIRED' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.TAX_PERCENTAGE' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="taxper" class="form-control" type="text" maxlength="10" [(ngModel)]="currentTAX.TAXPercentage" (keyup.enter)="!update?setFocusById('save'):setFocusById('update')" formControlName="TAXPercentage" value="" [placeholder]="'PHARMACY.ENTER_PERCENTAGE_OF_TAX' | translate" />
                  <span class="color-red font-sm" [hidden]="currentTAX.IsValidCheck('TAXPercentage','required') || !(currentTAX.IsDirty('TAXPercentage'))">{{ 'PHARMACY.TAX_PERCENTAGE_IS_REQUIRED' | translate }}</span>
                  <span class="color-red font-sm" *ngIf="currentTAX.IsDirty('TAXPercentage')" [hidden]="currentTAX.IsValidCheck('TAXPercentage','pattern')">{{ 'PHARMACY.PERCENTAGE_IS_NOT_PROPER' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.TAX_DESCRIPTION' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input class="form-control" type="text" maxlength="100" [(ngModel)]="currentTAX.Description" [ngModelOptions]="{standalone: true}" value="" [placeholder]="'PHARMACY.ENTER_DESCRIPTION' | translate" />
                </div>
              </div>

              <div class="all-buttons text-right">
                <button type="button" id="save" class="btn green btn-success" *ngIf="!update" (click)="Add()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" id="update" class="btn green btn-success" *ngIf="update" (click)="Update()">{{ 'COMMON.UPDATE' | translate }}</button>
              </div>
            </div>
          </form>
          <!--</form>-->
          <!--Model Box Body End-->
        </div>
      </div>
    </div>
  </div>
</div>