<input type="button" class="btn btn-primary" (click)="AddCompany()" [value]="'PHARMACY.ADD_COMPANY' | translate" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <dsf-grid [grid-colDefaults]="companyGridColumns" [grid-data]="companyList"
      (grid-actions)="CompanyGridActions($event)"> </dsf-grid>
  </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showCompanyAddPage">
  <div class="portlet-body form">
    <div class="row">
      <!--Model Box Body Start-->
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3><span *ngIf="!update">Add Company</span> <span *ngIf="update">{{ 'PHARMACY.UPDATE_COMPANY' | translate }}</span></h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-times"></i></a>
          </div>
          <form [formGroup]="CurrentCompany.CompanyValidator" class="form-horizontal hm-form">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.COMPANY_NAME' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="companyname" class="form-control" type="text" maxlength="50"
                    [(ngModel)]="CurrentCompany.CompanyName" formControlName="CompanyName" value=""
                    (keyup.enter)="setFocusById('contactno')" [placeholder]="'PHARMACY.ENTER_COMPANY_NAME' | translate" />
                  <span class="color-red font-sm"
                    [hidden]="CurrentCompany.IsValidCheck('CompanyName','required') || !(CurrentCompany.IsDirty('CompanyName'))">{{ 'PHARMACY.COMPANY_NAME_IS_REQUIRED' | translate }}</span> <span class="color-red font-sm"
                    *ngIf="CurrentCompany.IsDirty('CompanyName')"
                    [hidden]="CurrentCompany.IsValidCheck('CompanyName','maxlength')"> {{ 'PHARMACY.LENGTH_IS_NOT_PROPER' | translate }}</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.CONTACT_NUMBER' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input id="contactno" class="form-control" type="text" maxlength="10"
                    [(ngModel)]="CurrentCompany.ContactNo" formControlName="ContactNo" value=""
                    (keyup.enter)="setFocusById('description')" [placeholder]="'PHARMACY.ENTER_CONTACT_NUMBER' | translate" />
                    <span class="color-red font-sm" *ngIf="CurrentCompany.IsDirty('ContactNo')"
                    [hidden]="CurrentCompany.IsValidCheck('ContactNo','pattern')"> {{ 'PHARMACY.CONTACT_NUMBER_MUST_BE_OF_10_DIGITS' | translate }}</span>
                  
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.CONTACT_NUMBER' | translate }}<sup>*</sup><b>:</b></label>
                <div class="col-md-7">
                  <input id="contactno" class="form-control" type="text" maxlength="10"
                    [(ngModel)]="CurrentCompany.ContactNo" formControlName="ContactNo" value=""
                    (keyup.enter)="setFocusById('description')" [placeholder]="'PHARMACY.ENTER_CONTACT_NUMBER' | translate" />
                  <span class="color-red font-sm"
                    [hidden]="CurrentCompany.IsValidCheck('ContactNo','required') || !(CurrentCompany.IsDirty('ContactNo'))">Contact
                    number is required</span> <span class="color-red font-sm"
                    *ngIf="CurrentCompany.IsDirty('ContactNo')"
                    [hidden]="CurrentCompany.IsValidCheck('ContactNo','pattern')"> {{ 'PHARMACY.CONTACT_NUMBER_MUST_BE_OF_10_DIGITS' | translate }}</span>
                </div>
              </div> -->
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input id="description" class="form-control" type="text" maxlength="100"
                    [(ngModel)]="CurrentCompany.Description" [ngModelOptions]="{standalone: true}" value=""
                    (keyup.enter)="setFocusById('address')" [placeholder]="'PHARMACY.ENTER_DESCRIPTION' | translate" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.CONTACT_ADDRESS' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input id="address" class="form-control" type="text" maxlength="100"
                    [(ngModel)]="CurrentCompany.ContactAddress" [ngModelOptions]="{standalone: true}" value=""
                    (keyup.enter)="setFocusById('email')" [placeholder]="'PHARMACY.ENTER_CONTACT_ADDRESS' | translate" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'GRID_HEADERS.EMAIL' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <input id="email" class="form-control" type="text" maxlength="100" [(ngModel)]="CurrentCompany.Email"
                    formControlName="Email" value="" (keyup.enter)="!update?setFocusById('savecom'):setFocusById('updatecom')"
                    [placeholder]="'PHARMACY.ENTER_EMAIL' | translate" />
                  <span class="color-red font-sm" *ngIf="CurrentCompany.IsDirty('Email')"
                    [hidden]="CurrentCompany.IsValidCheck('Email','pattern')">{{ 'PHARMACY.EMAIL_ID_IS_NOT_PROPER' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.ISACTIVE' | translate }}<b>:</b></label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="icheck-inline">
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentCompany.IsActive"
                          [ngModelOptions]="{standalone: true}">
                        <span></span> </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-buttons text-right">
                <button type="button" id="savecom" class="btn green btn-success" *ngIf="!update"
                  (click)="Add()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" id="updatecom" class="btn green btn-success" *ngIf="update"
                  (click)="Update()">{{ 'COMMON.UPDATE' | translate }}</button>
              </div>
            </div>
          </form>
          <!--</form>-->
          <!--Model Box Body End-->
        </div>
      </div>
    </div>
  </div>
</div>