<div *ngIf="!showGenericAddPage">
  <input type="button" class="btn btn-primary" (click)="ShowAddNewPage()" [value]="'PHARMACY.ADD_NEW_GENERIC_NAME' | translate" />
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <dsf-grid [grid-colDefaults]="genericGridColumns" [grid-data]="genericList"
                   (grid-actions)="GenericGridActions($event)"> </dsf-grid>
    </div>
  </div>
</div>
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showGenericAddPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3> <span *ngIf="!update">{{ 'PHARMACY.ADD_GENERIC_NAME' | translate }}</span> <span *ngIf="update">{{ 'PHARMACY.UPDATE_GENERIC_NAME' | translate }}</span></h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-times"></i></a>
          </div>

          <!--Model Box Body Start-->
          <form [formGroup]="currentGeneric.GenericValidator" class="form-horizontal hm-form">
            <div class="form-body">
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.GENERIC_NAME' | translate }}<sup>*</sup>:</label>
                <div class="col-md-7">
                  <input id="genericname" class="form-control" type="text" [(ngModel)]="currentGeneric.GenericName"
                         formControlName="GenericName" value="" (keyup.enter)="setFocusById('categoryname')"
                         [placeholder]="'PHARMACY.ENTER_GENERIC_NAME' | translate" />
                  <span class="color-red font-sm"
                        [hidden]="currentGeneric.IsValidCheck('GenericName','required') || !(currentGeneric.IsDirty('GenericName'))">{{ 'PHARMACY.GENERIC_NAME_IS_REQUIRED' | translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.SELECT_CATEGORY' | translate }}<sup>*</sup>:</label>
                <div class="col-md-7">
                  <input id="categoryname" dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                         [(ngModel)]="selCategory" [source]="categoryList" placeholder="  Category Type"
                         formControlName="CategoryId" display-property-name="CategoryName" value-property-name="CategoryId"
                         (valueChanged)="AssignSelectedCategory()" [list-formatter]="CategoryListFormatter"
                         max-num-list="100" (keyup.enter)="setFocusById('categoryno')" style="width:100%;" />
                  <div class="color-red font-sm"
                       [hidden]="currentGeneric.IsValidCheck('CategoryId','required') || !(currentGeneric.IsDirty('CategoryId'))">
                    {{ 'PHARMACY.CATEGORY_IS_REQUIRED' | translate }}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.GENERAL_CATEGORY_NUMBER' | translate }}:</label>
                <div class="col-md-7">
                  <input id="categoryno" class="form-control" type="text" [(ngModel)]="currentGeneric.GeneralCategory"
                         [ngModelOptions]="{standalone: true}" value="" (keyup.enter)="setFocusById('TherapeuticCatNo')"
                         [placeholder]="'PHARMACY.ENTER_GENERIC_CATEGORY' | translate" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.THERAPEUTIC_CATEGORY_NUMBER' | translate }}:</label>
                <div class="col-md-7">
                  <input id="TherapeuticCatNo" class="form-control" type="text"
                         [(ngModel)]="currentGeneric.TherapeuticCategory" [ngModelOptions]="{standalone: true}" value=""
                         (keyup.enter)="setFocusById('counsellingno')" [placeholder]="'PHARMACY.ENTER_THERAPEUTIC_CATEGORY' | translate" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.COUNSELING_NUMBER' | translate }}:</label>
                <div class="col-md-7">
                  <input id="counsellingno" class="form-control" type="text" [(ngModel)]="currentGeneric.Counseling"
                         [ngModelOptions]="{standalone: true}" value=""
                         (keyup.enter)="!update?setFocusById('savegen'):setFocusById('updategen')"
                         [placeholder]="'PHARMACY.ENTER_COUNSELING' | translate" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">{{ 'PHARMACY.ISACTIVE' | translate }}:</label>
                <div class="col-md-7">
                  <div class="input-group">
                    <div class="icheck-inline">
                      <label class="mt-checkbox mt-checkbox-outline">
                        <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="currentGeneric.IsActive"
                               [ngModelOptions]="{standalone: true}">
                        <span></span> </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-buttons text-right" style="padding: 15px 0;">
                <button type="button" id="savegen" class="btn green btn-success" *ngIf="!update"
                        (click)="Add()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" id="updategen" class="btn green btn-success" *ngIf="update"
                        (click)="Update()">{{ 'COMMON.UPDATE' | translate }}</button>
              </div>
            </div>
          </form>
          <!--</form>-->
          <!--Model Box Body End-->
        </div>
      </div>
    </div>
  </div>
</div>