<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showReceiveStockPopUp">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modelbox-div clearfix">
                    <a class="btn btn-danger history-del-btn" (click)="Cancel()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-close"></i></a>
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="row printStyle print-border">
                                <div style="text-align:center;">
                                    <div class="col-md-12">
                                        <div id="printpage" class="row printStyle print-border">
                                            <div>
                                                <div class="media text-muted receiveContainer">
                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RETURNED_FROM' | translate }}:</strong>
                                                        {{ReturnedItem.SourceStore}}
                                                    </span>
                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RECEIVED_BY' | translate }}:</strong>
                                                        <div>{{ReturnedItem.ReceivedByName}}</div>
                                                        <ng-template #elseBlockOne>{{ 'INVENTORY.NOT_RECEIVED' | translate }}</ng-template>
                                                    </span>
                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RECEIVED_ON' | translate }}:</strong>
                                                    </span>
                                                    <div>
                                                        <table class="table table-striped table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>{{ 'INVENTORY.ITEM' | translate }} {{ 'COMMON.NAME' | translate }}</th>
                                                                    <th>Batch No</th>
                                                                    <th>{{ 'INVENTORY.INCOMING_QTY' | translate }}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align: left;">{{ReturnedItem.Item}}</td>
                                                                    <td style="text-align: left;">{{ReturnedItem.BatchNo}}</td>
                                                                    <td style="text-align: left;"><b>{{ReturnedItem.ReturnedQuantity}}</b></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="media-body small border-bottom border-gray">
                                                        <div>
                                                            <strong class="col-md-2">{{ 'INVENTORY.RECEIVING_REMARKS' | translate }}:</strong>
                                                            <textarea class="col-md-7" id="remarks" [(ngModel)]="ReturnedItem.ReceivedRemarks" name="ReceiveRemarks" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button class="btn green btn-success" id="btn_Save" (click)="ReceiveIncomingStock()">{{ 'INVENTORY.RECEIVE' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showViewPopUp">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modelbox-div clearfix">
                    <a class="btn btn-danger history-del-btn" (click)="Cancel()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-close"></i></a>
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="row printStyle print-border">
                                <div style="text-align:center;">
                                    <div class="col-md-12">

                                        <div id="printpage" class="row printStyle print-border">
                                            <div>
                                                <!-- <div *ngIf=""> -->
                                                <div class="media text-muted receiveContainer">

                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RETURNED_FROM' | translate }}:</strong>
                                                        {{ReturnedItem.SourceStore}}
                                                        <!-- get the source store -->
                                                    </span>
                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RECEIVED_BY' | translate }}:</strong>
                                                        <div>{{ReturnedItem.ReceivedByName}}</div>
                                                        <ng-template #elseBlockOne>{{ 'INVENTORY.NOT_RECEIVED' | translate }}</ng-template>
                                                    </span>
                                                    <span class="media-body small border-bottom border-gray">
                                                        <strong>{{ 'INVENTORY.RECEIVED_ON' | translate }}:</strong>
                                                        <div>{{ReturnedItem.ReceivedOn | date : "yyyy-MM-dd"}}</div>

                                                        <!-- <div *ngIf="!!incomingStockDetail.ReceivedOn; else elseBlockTwo">
                                                                {{incomingStockDetail.ReceivedOn | date : "yyyy-MM-dd"}}
                                                                <i *ngIf="incomingStockDetail.ReceivedOn">{{incomingStockDetail.ReceivedOn | nepaliDate:'format':'YYYY-MM-DD'}} </i>
                                                            </div> -->
                                                    </span>
                                                    <div>
                                                        <table class="table table-striped table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>{{ 'INVENTORY.ITEM' | translate }} {{ 'COMMON.NAME' | translate }}</th>
                                                                    <th>Batch No</th>
                                                                    <!-- <th>Expiry {{ 'GRID_HEADERS.DATE' | translate }}</th> -->
                                                                    <th>{{ 'INVENTORY.INCOMING_QTY' | translate }}</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align: left;">{{ReturnedItem.Item}}(<i style="color: blue;"></i>)</td>
                                                                    <td style="text-align: left;">{{ReturnedItem.BatchNo}}</td>
                                                                    <!-- <td style="text-align: left;">{{item.ExpiryDate | date : "yyyy-MM-dd"}}</td> -->
                                                                    <td style="text-align: left;"><b>{{ReturnedItem.ReturnedQuantity}}</b></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="media-body small border-bottom border-gray">
                                                        <!-- <div>
                                                                <strong class="col-md-2">Transferred {{ 'COMMON.REMARKS' | translate }}:</strong>
                                                                <span class="media-body" style="text-align: left;">{{incomingStockDetail.TransferredRemarks}}</span>
                                                            </div><br /> -->
                                                        <div>
                                                            <strong class="col-md-2">{{ 'INVENTORY.RECEIVING_REMARKS' | translate }}:</strong>
                                                            <textarea disabled class="col-md-7" id="remarks" [(ngModel)]="ReturnedItem.ReceivedRemarks" name="ReceiveRemarks" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button class="btn green btn-success" id="btn_Save" (click)="Cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>