<style>
    .rect-table tbody tr th {
        text-align: center;
    }

    .paymnt-det {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted;
        font-size: 13px;
        font-style: italic;
    }
</style>


<div class="col-md-12" *ngIf="showReceipt">
    <!--<button class="btn btn-primary" (click)="CloseReceipt()"><i class="fa fa-backward"></i>&nbsp;&nbsp;&nbsp;Close</button>-->

    <div id="printpage" style="text-align:center;">
        <div class="receipt">
            <div *ngIf="settlementInfo.PrintCount > 0">
                <p class="no-margin" style="text-align:right;font-style:italic;font-size:13px;">
                    {{ 'PHARMACY.COPY' | translate }}{{settlementInfo.PrintCount}}{{ 'PHARMACY.OF_ORIGINAL' | translate }}</p>
            </div>
            <billing-header></billing-header>
            <div style="display:inline-block" class="right">
            </div>
            <p class="no-margin" style="text-align:center;padding-top: 10px;padding-bottom: 10px;clear: both;">
                <span>
                    <b>{{ 'PHARMACY.SETTLEMENT_SLIP' | translate }}</b>
                </span>
            </p>
            <div class="col-md-12" style="padding:0px;">
                <div class="left">
                    <p class="no-margin" style="text-align:left">{{ 'PHARMACY.RECEIPT_NO_SR' | translate }}{{ settlementInfo.SettlementReceiptNo }}
                    </p>
                </div>
                <div class="right">
                    <p class="no-margin" style="text-align:right">
                        {{ 'GRID_HEADERS.DATE' | translate }}: {{settlementInfo.CreatedOn | DsfDateTime:'format':'YYYY-MM-DD'}}
                        {{localDate}}
                    </p>
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;padding-top: 4px;">
                <div class="left" style="width:69%">
                    <div class="no-margin" style="text-align: left;display: inline-block; float: left;">{{ 'PHARMACY.PATIENTS_NAME' | translate }} :
                    </div>
                    <div style="display: inline-block;width: 67%;text-align: left;">
                        {{settlementInfo.Patient.ShortName}}
                    </div>
                </div>
                <div class="right" style="width:31%">
                    <p class="no-margin" style="text-align:right"> Age/Sex : {{settlementInfo.Patient.DateOfBirth |
                        DsfDateTime:'age' }}/{{settlementInfo.Patient.Gender}}</p>
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class="left" style="width:50%">
                    <p class="no-margin" style="text-align:left">
                        {{ 'PHARMACY.HOSPITAL_NO' | translate }}: {{settlementInfo.Patient.PatientCode}}
                    </p>
                </div>
                <div class="right" style="width:50%">
                    <p class="no-margin" style="text-align:right">
                        {{ 'PHARMACY.CONTACT_NO' | translate }}: {{settlementInfo.Patient.PhoneNumber}}
                    </p>
                </div>

            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class="left" style="width: 69%;">
                    <p class="no-margin" style="text-align:left">{{ 'GRID_HEADERS.ADDRESS' | translate }}: {{settlementInfo.Patient.Address}},
                        {{settlementInfo.Patient.CountrySubDivisionName}} </p>
                </div>

            </div>

            <div class="clear"></div>
            <div class="col-md-12" style="padding:0px;border-bottom: 1px dotted;">
                <p style="text-align: center;">{{ 'PHARMACY.METHOD_OF_PAYMENT' | translate }}: <span style="text-transform:capitalize;">
                        {{settlementInfo.PaymentMode }}</span></p>
            </div>
            <hr style="border-top: dotted 1px;margin:7px 0px;" />

            <div class="col-md-12">
                <table style="width:100%;" class="rect-table">
                    <tr *ngIf="settlementInfo.PHRMInvoiceTransactions">
                        <th>
                            {{ 'PHARMACY.SNO' | translate }}
                        </th>
                        <th>
                            {{ 'PHARMACY.INVOICE_DATE' | translate }}
                        </th>
                        <th>
                            {{ 'PHARMACY.INVOICE_NO' | translate }}
                        </th>
                        <th>
                            {{ 'PHARMACY.AMOUNT' | translate }}
                        </th>
                    </tr>
                    <tr *ngFor="let txn of settlementInfo.PHRMInvoiceTransactions;let i=index;">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            {{txn.CreateOn | DsfDateTime:'format':'YYYY-MM-DD'}}
                        </td>
                        <td>
                            {{txn.InvoiceCode}}{{txn.InvoicePrintId}}
                        </td>
                        <td>
                            {{txn.TotalAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid;">
                        <td colspan="3" style="text-align:left;">
                            {{ 'PHARMACY.TOTAL_AMOUNT' | translate }}
                        </td>
                        <td>
                            {{totalCrAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr *ngIf="settlementInfo.DepositDeducted > 0">
                        <td colspan="3" style="text-align:left;">
                            {{ 'PHARMACY.LESS_DEPOSIT_AMOUNT' | translate }}
                        </td>
                        <td>
                            {{settlementInfo.DepositDeducted | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:left;">
                            {{ 'PHARMACY.BALANCE_AMOUNT' | translate }}
                            <span *ngIf="settlementInfo.PayableAmount > 0" style="font-weight:bold;">
                                {{ 'PHARMACY.PAYABLE' | translate }}
                            </span>
                            <span *ngIf="settlementInfo.RefundableAmount > 0" style="font-weight:bold;">
                                {{ 'PHARMACY.REFUNDABLE' | translate }}
                            </span>
                        </td>
                        <td>
                            {{settlementInfo.PayableAmount || settlementInfo.RefundableAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr *ngIf="settlementInfo.DiscountAmount > 0">
                        <td colspan="3" style="text-align:left;">{{ 'PHARMACY.DISCOUNT_AMOUNT' | translate }}</td>
                        <td>
                            {{settlementInfo.DiscountAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr *ngIf="settlementInfo.PaidAmount>0">
                        <td colspan="3" style="text-align:left;">
                            <span> {{ 'PHARMACY.PAID_AMOUNT' | translate }}</span>
                            <!--<span *ngIf="settlementInfo.ReturnedAmount>0"> {{ 'PHARMACY.RETURNED_AMOUNT' | translate }}</span>-->
                        </td>
                        <td>
                            {{ settlementInfo.PaidAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <tr *ngIf="settlementInfo.ReturnedAmount > 0">
                        <td colspan="3" style="text-align:left;">
                            <span>{{ 'PHARMACY.RETURNED_AMOUNT' | translate }}</span>

                        </td>
                        <td>
                            {{ settlementInfo.ReturnedAmount | number : "1.2-2"}}
                        </td>
                    </tr>
                    <!--<tr *ngIf="settlementInfo.DueAmount > 0">
                        <td colspan="3" style="text-align:left;">
                            <span> Due {{ 'PHARMACY.AMOUNT' | translate }}</span>

                        </td>
                        <td>
                            {{ settlementInfo.DueAmount | number : "1.2-2"}}
                        </td>
                    </tr>-->
                </table>

            </div>
            <div class="clear"></div>

            <div class="col-md-12" style="text-align: left;"
                 *ngIf="settlementInfo.PaymentDetails !=null && settlementInfo.PaymentDetails!=''">
                <span style="font-style:italic;">{{ 'PHARMACY.PAYMENT_DETAILS' | translate }}: {{settlementInfo.PaymentDetails}}</span>
            </div>
            <div class="col-md-12" style="border-bottom: 1px dotted;padding-bottom: 4px;margin-bottom: 5px;">

            </div>
            <div class="clear"></div>
            <div class="col-md-12" style="padding:0px 0px 0px 15px;">
                <div class="left">
                    <p class="no-margin" style="text-align:left">{{ 'PHARMACY.PROCESSED_BY' | translate }}</p>
                    <p class="no-margin" style="text-align:left">{{settlementInfo.BillingUser}}</p>
                    <p style="text-align:left">{{ 'COMMON.TIME' | translate }}: {{settlementInfo.CreatedOn | DsfDateTime:'format':'HH:mm'}}</p>
                </div>

                <div class="right" style="width:50%;">
                    <p class="no-margin" style="text-align:left">{{ 'PHARMACY.ACKNOWLEDGED_BY' | translate }}</p>
                    <p class="no-margin" style="text-align:left">{{ 'PHARMACY.SIGNATURE' | translate }}</p>
                    <p class="no-margin" style="text-align:left">{{ 'PHARMACY.REMARK' | translate }}: {{settlementInfo.Remarks}}</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <select-printer [group-name]="'phrm-receipt'" [storage-key]="'phrm-settlement-invoice'"
                    (on-printer-change)="OnPrinterChanged($event)">
    </select-printer>
    <p style="text-align:center;">
        <button class="btn blue" (click)="print()">
            {{ 'PHARMACY.PRINT_RECEIPT' | translate }}
            <i class="glyphicon glyphicon-print"></i>
        </button>
    </p>
</div>

<app-print-page *ngIf="openBrowserPrintWindow" [print-data]="browserPrintContentObj"
                (print-sucess)="CloseReceipt()">
</app-print-page>