<button
        class="btn blue bordered" (click)="AddSchemeVsPriceCategorySettings()">
  <i class="fa fa-plus"></i>
  &nbsp;{{ 'SETTINGS_NEW.ADD_NEW_SCHEMEVSPRICECATEGORY_ITEM' | translate }}
</button>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <dsf-grid [grid-colDefaults]="mapSchemePriceCategoryColumns"
                 [grid-data]="SchemePriceCategoryList"
                 (grid-actions)="ReportingItemGridActions($event)">
    </dsf-grid>
  </div>
</div>

<add-scheme-pricecategory-items
                                *ngIf="showAddSchemePricePriceCategoryItemPopUp"
                                [showAddSchemePricePriceCategoryItemPopUp]="showAddSchemePricePriceCategoryItemPopUp"
                                (on-AddSchemePricePriceCategoryItemPopUp-close)="CallBackAdd($event)"
                                [update]="update"
                                [selectedSchemePriceCategory]="selectedSchemePriceCategory">
</add-scheme-pricecategory-items>