<a class="btn green btn-success margin-7-hr" feature="button" (click)="ShowAddPage()"><i class="fa fa-plus"></i>{{ 'SETTINGS_NEW.ADD_DEPOSIT_HEADS' | translate }}</a>

<div *ngIf="showGrid">
    <dsf-grid [grid-colDefaults]="depositHeadGridColumns"
                 [grid-data]="depositHeadList"
                 (grid-actions)="DepositHeadsGridActions($event)"
                 [show-print-button]="false">
    </dsf-grid>
</div>
<div *ngIf="showAddPage">
    <deposit-head-add
                      [showAddPage]="showAddPage"
                      [isUpdate]="isUpdate"
                      [rowdata]="selectedDepositHead"
                      [deposit-head-list]="depositHeadList"
                      (CallBack-Add-deposit-heads)="CallBackAddDepositHead($event)">
    </deposit-head-add>
</div>