
<!--Model Box Starting Here-->
    <div class="popup-static portlet box portlet-fullscreen" *ngIf="showComAddPage">
        <div class="portlet-body form" style="background-color:white">
            <!--Model Box Body Start-->
            <form [formGroup]="CurrentCompany.CompanyValidator" class="form-horizontal">
                <div class="form-body">
                    <div class="col-md-12">
                        <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                            <div class="col-md-12">
                                <div class="caption" style="color:blue; margin-top:10px;">
                                    <span>{{ 'PHARMACY.ADD_COMPANY' | translate }}</span>
                                </div>
                                <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">{{ 'PHARMACY.X' | translate }}</a>
                                <hr />
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'PHARMACY.COMPANY' | translate }}<b class="color-red">  *</b><b style="float:right;">:</b><br />{{ 'COMMON.NAME' | translate }}</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" maxlength="50"
                                                   [(ngModel)]="CurrentCompany.CompanyName" formControlName="CompanyName"
                                                   value=""
                                                   [placeholder]="'PHARMACY.ENTER_COMPANY_NAME' | translate" />
                                            <span class="color-red font-sm" [hidden]="CurrentCompany.IsValidCheck('CompanyName','required') || !(CurrentCompany.IsDirty('CompanyName'))">{{ 'PHARMACY.COMPANY_NAME_IS_REQUIRED' | translate }}</span>
                                            <span class="color-red font-sm" *ngIf="CurrentCompany.IsDirty('CompanyName')" [hidden]="CurrentCompany.IsValidCheck('CompanyName','maxlength')"> {{ 'PHARMACY.LENGTH_IS_NOT_PROPER' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'PHARMACY.CONTACT' | translate }}<b class="color-red">  *</b><b style="float:right;">:</b><br />{{ 'PHARMACY.NUMBER' | translate }}</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" maxlength="10"
                                                   [(ngModel)]="CurrentCompany.ContactNo"
                                                   formControlName="ContactNo"
                                                   value=""
                                                   [placeholder]="'PHARMACY.ENTER_CONTACT_NUMBER' | translate" />
                                            <span class="color-red font-sm" [hidden]="CurrentCompany.IsValidCheck('ContactNo','required') || !(CurrentCompany.IsDirty('ContactNo'))">{{ 'PHARMACY.CONTACT_NUMBER_IS_REQUIRED' | translate }}</span>
                                            <span class="color-red font-sm" *ngIf="CurrentCompany.IsDirty('ContactNo')" [hidden]="CurrentCompany.IsValidCheck('ContactNo','pattern')"> {{ 'PHARMACY.CONTACT_NUMBER_MUST_BE_OF_10_DIGITS' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b style="float:right;">:</b></label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" maxlength="100"
                                                   [(ngModel)]="CurrentCompany.Description" [ngModelOptions]="{standalone: true}"
                                                   value=""
                                                   [placeholder]="'PHARMACY.ENTER_DESCRIPTION' | translate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'PHARMACY.CONTACT' | translate }}<b style="float:right;">:</b><br />{{ 'GRID_HEADERS.ADDRESS' | translate }}</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" maxlength="100"
                                                   [(ngModel)]="CurrentCompany.ContactAddress" [ngModelOptions]="{standalone: true}"
                                                   value=""
                                                   [placeholder]="'PHARMACY.ENTER_CONTACT_ADDRESS' | translate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'GRID_HEADERS.EMAIL' | translate }}<b style="float:right;">:</b></label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" maxlength="100"
                                                   [(ngModel)]="CurrentCompany.Email"
                                                   formControlName="Email"
                                                   value=""
                                                   [placeholder]="'PHARMACY.ENTER_EMAIL' | translate" />
                                            <span class="color-red font-sm" *ngIf="CurrentCompany.IsDirty('Email')" [hidden]="CurrentCompany.IsValidCheck('Email','pattern')">{{ 'PHARMACY.EMAIL_ID_IS_NOT_PROPER' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">{{ 'PHARMACY.ISACTIVE' | translate }}<b style="float:right;">:</b></label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="mt-checkbox mt-checkbox-outline">
                                                        <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentCompany.IsActive" [ngModelOptions]="{standalone: true}">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-bottom: 18px;">
                                <div class="form-actions">
                                    <input type="button" class="btn btn-primary" (click)="Add()" [value]="'PHARMACY.ADD' | translate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                        </div>
                    </div>
                </div>
            </form>
            <!--</form>-->
            <!--Model Box Body End-->
        </div>
    </div>
