<input type="button" class="btn btn-primary" (click)="AddSupplier()" [value]="'PHARMACY.ADD_SUPPLIER' | translate" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <danphe-grid [grid-colDefaults]="supplierGridColumns" [grid-data]="supplierList" (grid-actions)="SupplierGridActions($event)"> </danphe-grid>
  </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showSupplierAddPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3><span *ngIf="!update">Add Supplier</span> <span *ngIf="update">{{ 'PHARMACY.UPDATE_SUPPLIER' | translate }}</span></h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-times"></i></a>
          </div>
          <!--Model Box Body Start-->
          <form [formGroup]="CurrentSupplier.SupplierValidator" class="form-horizontal hm-form">
            <div class="form-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.SUPPLIER_NAME' | translate }}<sup>*</sup><b>:</b></label>
                  <div class="col-md-8">
                    <input id="supplier" class="form-control" type="text" maxlength="50" [(ngModel)]="CurrentSupplier.SupplierName"
                           formControlName="SupplierName" value="" [placeholder]="'PHARMACY.ENTER_SUPPLIER_NAME' | translate"
                           (keyup.enter)="setFocusById('suppliercontact')" />
                    <span class="color-red font-sm"
                          [hidden]="CurrentSupplier.IsValidCheck('SupplierName','required') || !(CurrentSupplier.IsDirty('SupplierName'))">{{ 'PHARMACY.SUPPLIER_NAME_IS_REQUIRED' | translate }}</span> <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('SupplierName')"
                          [hidden]="CurrentSupplier.IsValidCheck('SupplierName','maxlength')"> {{ 'PHARMACY.LENGTH_IS_NOT_PROPER' | translate }}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.CONTACT' | translate }}<sup>*</sup><b>:</b><br />
                    {{ 'PHARMACY.NUMBER' | translate }}</label>
                  <div class="col-md-8">
                    <input id="suppliercontact" class="form-control" type="text" [(ngModel)]="CurrentSupplier.ContactNo" formControlName="ContactNo"
                           value="" [placeholder]="'PHARMACY.ENTER_CONTACT_NUMBER' | translate" (keyup.enter)="setFocusById('suppliercity')" />
                    <span class="color-red font-sm"
                          [hidden]="CurrentSupplier.IsValidCheck('ContactNo','required') || !(CurrentSupplier.IsDirty('ContactNo'))">{{ 'PHARMACY.CONTACT_NUMBER_IS_REQUIRED' | translate }}</span> <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('ContactNo')"
                          [hidden]="CurrentSupplier.IsValidCheck('ContactNo','pattern')"> {{ 'PHARMACY.INVALID_CONTACT' | translate }}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">

                  <label class="control-label col-md-4">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b>:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100" [(ngModel)]="CurrentSupplier.Description"
                           [ngModelOptions]="{standalone: true}" value="" [placeholder]="'PHARMACY.ENTER_DESCRIPTION' | translate" />
                  </div>

                </div>
                <div class="form-group col-md-6">

                  <label class="control-label col-md-4">{{ 'PHARMACY.CITY' | translate }}<b>:</b></label>
                  <div class="col-md-8">
                    <input id="suppliercity" class="form-control" type="text" maxlength="30" [(ngModel)]="CurrentSupplier.City"
                           [ngModelOptions]="{standalone: true}" value="" [placeholder]="'PHARMACY.ENTER_CITY' | translate" (keyup.enter)="setFocusById('supplierpan')" />
                  </div>

                </div>
                <div class="form-group col-md-6">

                  <label class="control-label col-md-4">{{ 'PHARMACY.CREDIT_PERIOD' | translate }}<b>:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="number" [(ngModel)]="CurrentSupplier.CreditPeriod" [ngModelOptions]="{standalone: true}"
                           value="" [placeholder]="'PHARMACY.ENTER_CREDIT_PERIOD' | translate" />
                  </div>

                </div>
                <div class="form-group col-md-6">

                  <label class="control-label col-md-4">{{GeneralFieldLabel.PANNo}}<sup>*</sup><b>:</b></label>
                  <div class="col-md-8">
                    <input id="supplierpan" class="form-control" type="text" maxlength="30" (keyup.enter)="setFocusById('supplierdda')"
                           [(ngModel)]="CurrentSupplier.PANNumber" formControlName="PANNumber" value="" placeholder="{{GeneralFieldLabel.PANNo}}" />
                    <span class="color-red font-sm"
                          [hidden]="CurrentSupplier.IsValidCheck('PANNumber','required') || !(CurrentSupplier.IsDirty('PANNumber'))">{{GeneralFieldLabel.PANNo}}
                      {{ 'PHARMACY.IS_REQUIRED' | translate }}</span>
                    <!-- <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('PANNumber')" [hidden]="CurrentSupplier.IsValidCheck('PANNumber','pattern')"> Pan No. is not proper</span> -->
                  </div>
                </div>
                <div class="form-group col-md-6">
                </div>
                <div class="form-group col-md-6">

                  <label class="control-label col-md-4">{{ 'PHARMACY.DDA' | translate }}<b>:</b></label>
                  <div class="col-md-8">
                    <input id="supplierdda" class="form-control" type="text" maxlength="30" (keyup.enter)="setFocusById('supplieraddress')"
                           [(ngModel)]="CurrentSupplier.DDA" [ngModelOptions]="{standalone: true}" [placeholder]="'PHARMACY.ENTER_DDA' | translate" />
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.CONTACT' | translate }}<sup>*</sup><b>:</b><br />
                    {{ 'GRID_HEADERS.ADDRESS' | translate }}</label>
                  <div class="col-md-8">
                    <input id="supplieraddress" class="form-control" type="text" maxlength="100" [(ngModel)]="CurrentSupplier.ContactAddress"
                           formControlName="ContactAddress" value="" [placeholder]="'PHARMACY.ENTER_CONTACT_ADDRESS' | translate"
                           (keyup.enter)="!update?setFocusById('save'):setFocusById('update')" />
                    <span class="color-red font-sm"
                          [hidden]="CurrentSupplier.IsValidCheck('ContactAddress','required') || !(CurrentSupplier.IsDirty('ContactAddress'))">{{ 'PHARMACY.CONTACT_ADDRESS_IS_REQUIRED' | translate }}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.ADDITIONAL_CONTACT' | translate }}<b>:</b><br /></label>
                  <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="CurrentSupplier.AdditionalContactInformation" [ngModelOptions]="{standalone: true}"
                              [placeholder]="'PHARMACY.ENTER_ADDITIONAL_CONTACT_INFORMATION' | translate"></textarea>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'GRID_HEADERS.EMAIL' | translate }}<b>:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100" [(ngModel)]="CurrentSupplier.Email" value="" formControlName="Email"
                           [placeholder]="'PHARMACY.ENTER_EMAIL' | translate" />
                    <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('Email')"
                          [hidden]="CurrentSupplier.IsValidCheck('Email','pattern')">{{ 'PHARMACY.EMAIL_ID_IS_NOT_PROPER' | translate }}</span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.ISACTIVE' | translate }}<b>:</b></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <div class="icheck-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                          <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentSupplier.IsActive"
                                 [ngModelOptions]="{standalone: true}">
                          <span></span> </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label col-md-4">{{ 'PHARMACY.ISLEDGERREQUIRED' | translate }}<b>:</b></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <div class="icheck-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                          <input name="IsLedgerRequired" type="checkbox" value="IsLedgerRequired" [(ngModel)]="CurrentSupplier.IsLedgerRequired"
                                 [ngModelOptions]="{standalone: true}">
                          <span></span> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-buttons text-right">
                <button type="button" id="save" class="btn green btn-success" *ngIf="!update" [disabled]="loading" (click)="Add()">{{ 'COMMON.SAVE' | translate }}</button>
                <button type="button" id="update" class="btn green btn-success" *ngIf="update" [disabled]="loading" (click)="Update()">{{ 'COMMON.UPDATE' | translate }}</button>
              </div>
            </div>
          </form>
          <!--</form>-->
          <!--Model Box Body End-->

        </div>
      </div>
    </div>
  </div>
</div>