<div class="caption">
    <i class="glyphicon glyphicon-asterisk font-green-turquoise"></i>
    <span class="caption-subject font-blue-sharp bold uppercase">{{ 'SCHEDULING.MANAGE_WORKING_HOURS' | translate }}</span>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="empWHGridColumns"
                     [grid-data]="workingHoursList"
                     (grid-actions)="WorkingHrsGridActions($event)">
        </danphe-grid>
    </div>
</div>
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showEmpWHUpdatePage">
    <div class="portlet-body form" style="background-color:white">
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12">
                        <div class="caption" style="color:blue; margin-top:10px;">
                            <span *ngIf="update">{{ 'SCHEDULING.UPDATE_EMPLOYEE_WORKING_HOURS' | translate }}</span>
                        </div>
                        <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a>
                        <hr />
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-7" *ngIf="!update">
                            <label class="control-label col-md-5">{{ 'SCHEDULING.SELECT_EMPLOYEE' | translate }}<b class="color-red">  *</b><b style="float:right;">:</b></label>
                           <!-- @*-----replace option list with autocomplete-----*@-->
                            <div class="col-md-7">
                                <select class="form-control"
                                        style="float:left"
                                        [(ngModel)]="index"
                                        (ngModelChange)="loadEmployee()">
                                    <option *ngFor="let emp of empNoShiftList; let i = index" value={{i}}>{{emp.EmployeeName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="left" style="margin-left:15px" *ngIf="currentEmpWH.EmployeeId">
                                <p>{{ 'SCHEDULING.EMPLOYEE_NAME' | translate }}: <b>{{currentEmpWH.EmployeeName}}</b></p>
                            </div>
                            <div class="right" *ngIf="currentEmpWH.EmployeeId">
                                <input type="button" class="btn btn-primary" (click)="ShowDefaultShifts()" [value]="'SCHEDULING.SHOW_DEFAULT_SHIFTS' | translate" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12" *ngIf="currentEmpWH.EmployeeId">
                        <table style="margin-left:15px">
                            <thead>
                                <tr>
                                    <th>{{ 'SCHEDULING.SHIFT_NAME' | translate }}</th>
                                    <th>{{ 'SCHEDULING.START_TIME' | translate }}</th>
                                    <th>{{ 'SCHEDULING.END_TIME' | translate }}</th>
                                    <th>{{ 'SCHEDULING.TOTAL_HOURS' | translate }}</th>
                                    <th>{{ 'SCHEDULING.IS_ACTIVE' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of currentEmpWH.Shifts; let i=index">
                                    <td>
                                        <form [formGroup]="row.ShiftValidator" class="form-horizontal">
                                            <input class="form-control" type="text" maxlength="50"
                                                   [(ngModel)]="row.ShiftName"
                                                   value=""
                                                   formControlName="ShiftName"
                                                   [placeholder]="'SCHEDULING.ENTER_SHIFT_NAME' | translate" />
                                            <span class="color-red font-sm" [hidden]="row.IsValidCheck('ShiftName','required') || !(row.IsDirty('ShiftName'))">{{ 'SCHEDULING.SHIFT_NAME_IS_REQUIRED' | translate }}</span>
                                            <span class="color-red font-sm" *ngIf="row.IsDirty('ShiftName')" [hidden]="row.IsValidCheck('ShiftName','maxlength')">{{ 'SCHEDULING.LENGTH_IS_NOT_PROPER' | translate }}</span>
                                        </form>
                                    </td>
                                    <td>
                                        <form [formGroup]="row.ShiftValidator" class="form-horizontal">
                                            <input class="form-control" type="time"
                                                   (focusout)="CalculationForTotalHrs(row,i)"
                                                   [(ngModel)]="row.StartTime"
                                                   formControlName="StartTime" />
                                            <span class="color-red font-sm" [hidden]="row.IsValidCheck('StartTime','required') || !(row.IsDirty('StartTime'))">{{ 'SCHEDULING.START_TIME_IS_REQUIRED' | translate }}</span>
                                        </form>
                                    </td>
                                    <td>
                                        <form [formGroup]="row.ShiftValidator" class="form-horizontal">
                                            <input class="form-control" type="time"
                                                   (focusout)="CalculationForTotalHrs(row,i)"
                                                   [(ngModel)]="row.EndTime"
                                                   formControlName="EndTime" />
                                            <span class="color-red font-sm" [hidden]="row.IsValidCheck('EndTime','required') || !(row.IsDirty('EndTime'))">{{ 'SCHEDULING.END_TIME_IS_REQUIRED' | translate }}</span>
                                        </form>
                                    </td>
                                    <td><input class="form-control" type="text" disabled [(ngModel)]="row.TotalHrs" /></td>
                                    <td style="text-align:center"><label class="mt-checkbox mt-checkbox-outline"><input name="IsActive" type="checkbox" value="IsActive" (change)="onIsActiveChange()" [(ngModel)]="row.IsActive"><span></span></label></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12" style="padding:10px 15px">
                            <table>
                                <tr class="form-group">
                                    <td>{{ 'SCHEDULING.TOTAL_NO_OF_SHIFTS' | translate }}:</td>
                                    <td><b>{{currentEmpWH.NoOfShifts}}</b></td>
                                </tr>
                                <tr>
                                    <td>{{ 'SCHEDULING.TOTAL_WORKING_HOURS' | translate }}:&nbsp;</td>
                                    <td><b>{{currentEmpWH.TotalWorkingHrs}}</b></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 18px;">
                            <div class="form-actions">
                                <input type="button" class="btn btn-primary" (click)="Save()" [value]="'COMMON.SAVE' | translate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--@*PopUp for selecting one the default Shifts*@-->

<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDefaultShiftsPopUp">
    <div class="portlet-body form" style="background-color:white">
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12">
                        <div class="caption" style="color:blue; margin-top:10px;">
                            <span>{{ 'SCHEDULING.DEFAULT_SHIFTS' | translate }}</span>
                        </div>
                        <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="ClosePopUp()" [title]="'COMMON.CANCEL' | translate">X</a>
                        <hr />
                    </div>
                    <div class="col-md-12" style="margin-right: 24px;">
                        <div *ngIf="defaultShiftsList.length">
                            <table class="table table-striped table-hover" style="background-color:initial;margin-top:10px">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><b>{{ 'SCHEDULING.SHIFT_NAME' | translate }}</b></th>
                                        <th><b>{{ 'SCHEDULING.START_TIME' | translate }}</b></th>
                                        <th><b>{{ 'SCHEDULING.END_TIME' | translate }}</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let shift of defaultShiftsList; let i = index">
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input name="IsSelected" type="checkbox" [(ngModel)]="shift.IsSelected">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>{{shift.ShiftName}}</td>
                                        <td>{{shift.StartTime}}</td>
                                        <td>{{shift.EndTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 18px;">
                        <div class="form-actions">
                            <input type="button" class="btn btn-primary" (click)="SelectDefShift()" [value]="'COMMON.SUBMIT' | translate" />
                            <button class="btn btn-primary right" (click)="AddNewShift()" [title]="'SCHEDULING.ADD_NEW_SHIFT_TOOLTIP' | translate"><span class="glyphicon glyphicon-plus"> </span> {{ 'SCHEDULING.ADD_NEW_SHIFT' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
            </div>
        </div>
    </div>
</div>

<shift-add *ngIf="showAddShiftPopUp" [showAddShiftPage]="showAddShiftPopUp"
          (callback-add)="OnNewShiftAdd($event)"></shift-add>