<style>
  th {
    font-size: 13px !important;
  }

  .total-table td {
    padding-bottom: 5px !important;
  }

  .inv_table thead tr th,
  .inv_table tbody tr td {
    padding: 3px !important;
  }

  /*input {
    border-radius: 8px !important;
  }*/

  .fa-question {
    /* top: 6px; */
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  input.ng-pristine {
    border: 1px solid #ddd;
    height: 30px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .icon-info {
    margin-left: 2px !important;
    background-color: #2d68ea;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }

  .dv-dup-bill-no {
    background-color: yellow;
    color: black;
    cursor: default;
  }

  .msg-icn-warn {
    color: #c1c112;
    font-size: 17px;
  }

  .verification-card {
    background-color: #e0e9f1;
    padding: 15px;
    display: inline-block;
    border-radius: 5px !important;
    text-align: left;
    width: 100%;
    margin-top: 25px;
  }

  .verification-check {
    background: #fff;
    color: #2185cc;
    padding: 3px 15px;
    margin-bottom: auto;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
  }

  .verification-check .custom-control-label {
    margin-bottom: 0;
    margin-left: 7px;
    margin-top: 1px;
    font-weight: 600;
  }

  .verification-form-control {
    display: inline-block;
    margin: 10px -15px;
    width: 100%;
  }

  .verification-form-control .btn.btn-sm {
    display: inline-flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100% !important;
    font-size: 12px !important;
    padding: 10px !important;
    margin: 4px 3px;
  }

  .verification-form-control .verifier {
    padding: 7px 15px;
    background: #4158d3;
    border-radius: 20px !important;
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 12px;
  }

  .verification-form-control .form-control {
    border: none;
    box-shadow: 0px 4px 10px #eee;
    font-size: 13px;
  }

  .verification-form-control .verifier i {
    margin-right: 5px
  }

  .good-receipt-radio-btn label {
    vertical-align: middle;
  }

  .good-receipt-radio-btn input[type=radio] {
    margin: 4px 5px 0 5px;
  }

  .disable-input-box {
    cursor: not-allowed;
    border: 1px solid #ddd;
    background-color: #eef1f5;
    opacity: 1;
  }

  .invalid-input {
    background-color: orange;
  }
</style>

<div class="popup-static portlet box portlet-fullscreen">
  <div class="portlet-body form">
    <!--Model Box Body Start-->
    <div class="col-md-12">
      <div class="modelbox-div">

        <div class="modelbox-header">
          <h4 *ngIf="!RecordSummary.MedicalRecordId" class="margin-0-vr text-center"><strong>{{ 'MEDICAL_RECORDS.ADD_MEDICAL_RECORDS' | translate }}</strong></h4>
          <h4 *ngIf="RecordSummary.MedicalRecordId" class="margin-0-vr text-center"><strong>{{ 'MEDICAL_RECORDS.UPDATE_MEDICAL_RECORDS' | translate }}</strong></h4>
        </div>

        <div class="modelbox-body">
          <div style="width: 100%;">
            <div style="width: 100%;padding: 5px 15px;border: 1px solid #808080">
              <div class="flex-container">
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'COMMON.NAME' | translate }}</b>&nbsp;:&nbsp;{{patientDetail.Name}}
                    <!--&nbsp;&nbsp;-->
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'MEDICAL_RECORDS.INPATIENT_NO' | translate }}</b>&nbsp;:
                    {{patientDetail.VisitCode}}
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>
                      {{ 'MEDICAL_RECORDS.WARD' | translate }}
                    </b>&nbsp;:&nbsp;{{patientDetail.Ward}}
                  </p>
                </div>
              </div>
              <div class="flex-container">
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'MEDICAL_RECORDS.HOSPITAL_NO' | translate }}</b>&nbsp;:
                    {{patientDetail.PatientCode}}
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'COMMON.DEPARTMENT' | translate }}</b>&nbsp;:
                    {{patientDetail.Department}}
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'MEDICAL_RECORDS.ROOM_TYPE' | translate }}</b>&nbsp;: {{patientDetail.BedFeature}}
                  </p>
                </div>
              </div>
              <div class="flex-container">
                <div class="flex-1">
                  <div>
                    <p class="patient-hdr-label">
                      <span [ngClass]="{'invalid-input':duplicateFileNumber}"> <b>{{ 'MEDICAL_RECORDS.FILE_NO' | translate }} </b>&nbsp;:</span>
                      <input type="text" name="filenumber" [(ngModel)]="RecordSummary.FileNumber" (ngModelChange)="CheckFileNumberDuplication()" />
                    </p>
                    <div class="font-sm" *ngIf="duplicateFileNumber" style="color: orange;">
                      <i class="fa fa-warning"></i>{{ 'MEDICAL_RECORDS.WARNING_DUPLICATE_FILE_NUMBER' | translate }}
                    </div>
                  </div>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'COMMON.DOCTOR_NAME' | translate }}</b>&nbsp;:
                    {{patientDetail.AdmittingDoctorName}}
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'MEDICAL_RECORDS.BED_NO' | translate }}</b>&nbsp;:
                    {{patientDetail.BedNumber}}
                  </p>
                </div>
              </div>
              <div class="flex-container">
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'COMMON.AGE_SEX' | translate }}</b>&nbsp;:
                    {{patientDetail.DateOfBirth | DsfDateTime:'age' }}/{{patientDetail.Gender}}
                  </p>
                </div>
                <div class="flex-1">
                  <p class="patient-hdr-label">
                    <b>{{ 'MEDICAL_RECORDS.IS_DISCHARGE' | translate }}</b>&nbsp;:
                    {{ 'COMMON.YES' | translate }}
                  </p>
                </div>
                <div class="flex-1"></div>
              </div>
              <div style="background: orange; text-align: center;" *ngIf="IsDeadOnDifferentVisit">
                <p>
                  {{ 'MEDICAL_RECORDS.PATIENT_ALREADY_DEAD_DIFFERENT_VISIT' | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="margin-15-tp" style="width: 100%;">
            <div class="row">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.INPATIENT_DATE' | translate }}</label>
                      </div>
                      <div class="col-md-7">
                        <label for="inpatientDate" class="cstm-field-ip">{{patientDetail.AdmittedDate | nepaliDate}}
                          &nbsp;&nbsp;({{patientDetail.AdmittedDate | DsfDateTime:'format':'YYYY-MM-DD'}}AD)</label>

                      </div>
                    </div>
                    <div class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.DISCHARGED_DATE' | translate }}</label>
                      </div>
                      <div class="col-md-7">
                        <label class="cstm-field-ip">{{patientDetail.DischargedDate | nepaliDate}}
                          &nbsp;&nbsp;({{patientDetail.DischargedDate | DsfDateTime:'format':'YYYY-MM-DD'}}
                          &nbsp;AD)</label>
                      </div>
                    </div>
                    <div class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.CASE' | translate }}<b class="color-red"> *</b><b style="float:right;"></b></label>
                      </div>
                      <div class="col-md-7">
                        <select class="form-control" #allCase [(ngModel)]="RecordSummary.CaseMain" [ngModelOptions]="{standalone: true}" (ngModelChange)="AssignSubCase()">
                          <option [value]="'General'" [selected]>{{ 'MEDICAL_RECORDS.GENERAL' | translate }}</option>
                          <option *ngFor="let case of mainCases" value="{{case.Name}}">{{case.Name}}</option>
                        </select>
                      </div>

                    </div>
                    <div class="row margin-8-tp" *ngIf="showSubCase">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.TYPE_OF_MEDICO_LEGAL_CASE' | translate }}<b class="color-red"> *</b><b style="float:right;"></b></label>
                      </div>
                      <div class="col-md-7">
                        <select class="form-control" #allCase [(ngModel)]="RecordSummary.CaseSub" [ngModelOptions]="{standalone: true}">
                          <option [ngValue]="0">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let case of medicoLegalSubCases" value="{{case.Name}}">{{case.Name}}</option>
                        </select>
                      </div>

                    </div>

                    <div class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.DISCHARGE_TYPE' | translate }}<b class="color-red"> *</b><b style="float:right;"></b></label>
                      </div>
                      <div class="col-md-7">
                        <select *ngIf="allMasterDataForMR && allMasterDataForMR.AllDischargeType" class="cstm-field-sel" [attr.disabled]="(IsPatDead && !IsDeadOnDifferentVisit )?true:null" (change)="DischargeTypeChanged()" [(ngModel)]="RecordSummary.DischargeTypeId">
                          <option [ngValue]="0">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let discharge of allMasterDataForMR.AllDischargeType" [value]="discharge.DischargeTypeId">{{discharge.DischargeTypeName}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row margin-8-tp" *ngIf="IsReferredCase">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.REFERRED_DATE' | translate }} <b style="float:right;"></b></label>
                      </div>
                      <div class="col-md-7">
                        <dsf-date-picker [ngModelOptions]="{standalone:true}" [(ngModel)]="RecordSummary.ReferredDate" ngDefaultControl [CalendarTypes]="'en,np'">
                        </dsf-date-picker>
                      </div>
                    </div>

                    <div class="row margin-8-tp" *ngIf="IsReferredCase">
                      <div class="col-md-5"><label for="dTime" class="control-label lbl-text">{{ 'MEDICAL_RECORDS.REFERRED_TIME' | translate }} </label></div>
                      <div class="col-md-7">
                        <input id="dTime" type="time" [ngModelOptions]="{standalone:true}" [(ngModel)]="RecordSummary.ReferredTime" class="cstm-field-ip" />
                      </div>
                    </div>
                    <div class="row margin-8-tp" *ngIf="RecordSummary?.CurrentDischargeType?.DischargeConditionTypes?.length>0">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.DISCHARGE_CONDITION' | translate }} <b class="color-red" *ngIf="IsDeathCase"> *</b></label>
                        <!---->
                      </div>
                      <div class="col-md-7">
                        <select [(ngModel)]="RecordSummary.DischargeConditionId" (change)="DischargeConditionChanged()" class="cstm-field-sel">
                          <option [ngValue]="undefined">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let condition of RecordSummary.CurrentDischargeType.DischargeConditionTypes" [value]="condition.DischargeConditionId">{{condition.Condition}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row margin-8-tp" *ngIf="IsDeliveryCase">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.DELIVERY_TYPE' | translate }}</label>
                      </div>
                      <div class="col-md-7">
                        <select [(ngModel)]="RecordSummary.DeliveryTypeId" (change)="OnDeliveryTypeChange()" class="cstm-field-sel">
                          <option [ngValue]="undefined">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let del of RecordSummary.DischargeConditionTypes.CurrentConditionTypes" [value]="del.DeliveryTypeId">{{del.DeliveryTypeName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row margin-8-tp" *ngIf="IsDeliveryCase">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.NUMBER_OF_BABIES' | translate }} </label>
                      </div>
                      <div class="col-md-7">
                        <input id="noOfBabies" type="number" name="noOfBabies" [(ngModel)]="RecordSummary.NumberOfBabies" (change)="OnNoOfBabiesChange()" />

                      </div>
                    </div>

                    <div *ngIf="IsDeathCase" class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.DEATH_PERIOD' | translate }} <b class="color-red"> *</b></label>
                      </div>
                      <div class="col-md-7">
                        <select [(ngModel)]="RecordSummary.DeathPeriodTypeId" class="cstm-field-sel">
                          <option [ngValue]="undefined">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let detpr of RecordSummary.CurrentDischargeType.DeathTypes" [value]="detpr.DeathTypeId">{{detpr.DeathType}}</option>
                        </select>
                      </div>
                    </div>


                    <div class="row margin-8-tp" *ngIf="IsDeliveryCase">
                      <div class="col-md-12 margin-20-tp">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-4">
                              <label for="gravita" class="control-label lbl-text">{{ 'MEDICAL_RECORDS.GRAVIDA' | translate }}</label>
                            </div>
                            <div class="col-md-5">
                              <select [(ngModel)]="RecordSummary.GravitaId" class="cstm-field-sel">
                                <option [ngValue]="undefined">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                                <option *ngFor="let gravita of allMasterDataForMR.AllGravita" [value]="gravita.GravitaId">
                                  {{gravita.GravitaName}}</option>
                              </select>
                            </div>
                            <div class="col-md-3">
                            </div>
                          </div>
                        </div>
                        <div class="row margin-15-tp">
                          <div class="col-md-12">
                            <div class="col-md-4">
                              <label for="gstWeek" class="control-label lbl-text">{{ 'MEDICAL_RECORDS.GESTATION_PERIOD' | translate }}:</label>
                            </div>
                            <div class="col-md-4">
                              {{ 'MEDICAL_RECORDS.WEEKS' | translate }}:
                              <input id="gstWeek" class="cstm-field-ip" type="number" onClick="this.select();" style="width:60px;" [(ngModel)]="RecordSummary.GestationalWeek" (ngModelChange)="CheckGestationaryWeek()" (keyup.enter)="coreService.FocusInputById('gstDay')" />
                            </div>

                            <div class="col-md-4">
                              <div>
                                <span [ngClass]="{'invalid-input':!ValidGestationalDay}"> {{ 'MEDICAL_RECORDS.DAYS' | translate }}:<br /></span>
                                <input id="gstDay" class="cstm-field-ip" type="number" onClick="this.select();" style="width: 60px;" [(ngModel)]="RecordSummary.GestationalDay" (ngModelChange)="CheckGestationaryDay()" (keyup.enter)="coreService.FocusInputById('bloodLost')" />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="!ValidGestationalDay">
                            <div class="color-red font-sm">
                              <i class="fa fa-warning"></i>{{ 'MEDICAL_RECORDS.GESTATIONAL_DAY_GREATER_THAN_6' | translate }}
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="!ValidGestationalWeek">
                            <div class="color-red font-sm">
                              <i class="fa fa-warning"></i>{{ 'MEDICAL_RECORDS.GESTATIONAL_WEEK_GREATER_THAN_48' | translate }}
                            </div>
                          </div>
                        </div>
                        <div class="row margin-15-tp">
                          <div class="col-md-12">
                            <div class="col-md-4">
                              <label for="bloodLost" class="control-label lbl-text">{{ 'MEDICAL_RECORDS.BLOOD_LOST' | translate }}</label>
                            </div>
                            <div class="col-md-5">
                              <input id="bloodLost" class="cstm-field-ip" type="number" [(ngModel)]="RecordSummary.BloodLost" (ngModelChange)="CheckBloodLostAmount()" />
                            </div>
                            <div class="col-md-3">
                              <select id="bloodLostUnit" class="cstm-field-ip" [(ngModel)]="RecordSummary.BloodLostUnit">
                                <option value="ml">Ml</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="!ValidBloodLostAmount">
                          <div class="color-red font-sm">
                            <i class="fa fa-warning"></i>{{ 'MEDICAL_RECORDS.INVALID_BLOOD_LOST_QUANTITY' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row margin-8-tp">
                      <div class="col-md-12">
                        <p class="margin-0-bt">
                          <label class="control-label lbl-text">{{ 'COMMON.REMARKS' | translate }}</label>
                        </p>
                        <textarea rows="4" style="width: 100%;resize: none;" [(ngModel)]="RecordSummary.Remarks"></textarea>
                      </div>
                    </div>

                    <div class="row margin-8-tp">
                      <div class="col-md-12">
                        <p class="margin-0-bt">
                          <label class="control-label lbl-text" *ngIf="allInvestigationsLoaded && RecordSummary.AllTestList && RecordSummary.AllTestList.length > 0">
                            {{ 'MEDICAL_RECORDS.INVESTIGATIONS' | translate }}</label>
                        </p>
                      </div>
                      <div class="col-md-12" *ngIf="!allInvestigationsLoaded">
                        <div class="board padding-8-all" style="border: 1px solid #bfbdbd;">
                          <div class="flex-container justify-center">
                            <img style="max-width: 75px" class="img-responsive" src="../../../../../themes/theme-default/images/loading-child.gif" alt="Alternate Text" />
                          </div>
                        </div>
                      </div>
                      <div *ngIf="allInvestigationsLoaded && RecordSummary.AllTestList && RecordSummary.AllTestList.length > 0" class="col-md-12">
                        <div class="board padding-8-all" style="border: 1px solid #bfbdbd; max-height: 205px;
                        overflow-y: auto;">
                          <div class="flex-container" *ngFor="let test of RecordSummary.AllTestList; let i=index;">
                            <div style="border-bottom: 1px solid #c1c1c1;" class="pos-rel bg-light padding-7-hr margin-8-tp">
                              <label class="control-label lbl-text-data">
                                &nbsp;
                                <ng-container *ngIf="test.TestCode && test.TestCode.toLowerCase() != 'null'">
                                  ({{test.TestCode}})&nbsp;</ng-container>
                                {{test.TestName}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row margin-8-tp">
                      <div class="col-md-12">
                        <p class="margin-0-bt">
                          <label class="control-label lbl-text">{{ 'COMMON.DIAGNOSIS' | translate }} ({{IcdVersionDisplayName}})</label>
                        </p>
                      </div>
                      <div class="col-md-12">
                        <div>
                          <div class="margin-8-bt" *ngIf="allMasterDataForMR && allMasterDataForMR.AllICDCodes && allMasterDataForMR.AllICDCodes.length > 0" style="width: 100%;">
                            <input class="cstm-field-ip" dsf-auto-complete [(ngModel)]="icdCode" [list-formatter]="myICDListFormatter" [source]="allMasterDataForMR.AllICDCodes" [placeholder]="IcdVersionDisplayName + ' ' + ('COMMON.CODES' | translate)" display-property-name="ICD10Description" value-property-name=null id="icd10code" max-num-list="50" match-formatted="true" (valueChanged)="ShowValueChangedData()" onClick="this.select();" />
                          </div>
                          <div *ngIf="RecordSummary.ICDCodeList && RecordSummary.ICDCodeList.length > 0" class="board padding-8-all" style="border: 1px solid #bfbdbd; max-height: 205px; overflow-y: auto;">
                            <div class="flex-container" *ngFor="let icd of RecordSummary.ICDCodeList; let i=index;">
                              <div style="border-bottom: 1px solid #c1c1c1;" class="pos-rel bg-light padding-7-hr margin-8-tp">
                                <label class="control-label lbl-text-data" for="icdSel{{i}}">({{icd.ICD10Code}})&nbsp;{{icd.ICD10Description}}</label>
                                <button class="btn btn-danger removeicd" (click)="RemoveIcd(i)"><i class="fa fa-close"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row margin-8-tp">
                      <div class="col-md-12">
                        <div style="width: 100%;">
                          <input style="margin-top: 9px;" id="operationConducted" type="checkbox" name="isOperationConducted" [(ngModel)]="RecordSummary.IsOperationConducted" (change)="ShowHideOperationInfo()" />
                          <label class="control-label lbl-text" for="operationConducted"> {{ 'MEDICAL_RECORDS.IS_OPERATION_CONDUCTED' | translate }}</label>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="RecordSummary.IsOperationConducted" class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.OPERATION_TYPE' | translate }}</label>
                      </div>
                      <div class="col-md-7">
                        <select [(ngModel)]="RecordSummary.OperationTypeId" class="cstm-field-sel">
                          <option [ngValue]="undefined">{{ 'COMMON.PLEASE_SELECT' | translate }}</option>
                          <option *ngFor="let opr of allMasterDataForMR.AllOperationType" [value]="opr.OperationId">
                            {{opr.OperationName}}</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="RecordSummary.IsOperationConducted" class="row margin-8-tp">
                      <div class="col-md-5">
                        <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.OPERATION_DOC' | translate }}</label>
                      </div>
                      <div class="col-md-7">
                        <input class="cstm-field-ip" dsf-auto-complete [(ngModel)]="RecordSummary.OperatedDoctor" [list-formatter]="myListFormatter" [source]="AllDoctors" [placeholder]="'COMMON.DOCTOR_NAME' | translate" display-property-name="FullName" value-property-name=null id="operatingDoc" max-num-list="10" onClick="this.select();" />
                      </div>
                    </div>
                    <div *ngIf="RecordSummary.IsOperationConducted" class="row margin-8-tp">
                      <div class="col-md-12">
                        <p>
                          <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.OPERATION_DATE' | translate }}</label>
                        </p>
                        <dsf-date-picker [(ngModel)]="RecordSummary.OperationDate" ngDefaultControl [CalendarTypes]="'en,np'">
                        </dsf-date-picker>
                      </div>
                      <div class="col-md-12">
                        <p class="margin-0-bt">
                          <label class="control-label lbl-text">{{ 'MEDICAL_RECORDS.OPERATION_DIAGNOSIS' | translate }}</label>
                        </p>
                        <textarea rows="4" style="width: 100%;resize: none;" [(ngModel)]="RecordSummary.OperationDiagnosis"></textarea>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="row margin-8-tp" *ngIf="IsDeliveryCase">
                  <div class="col-md-12">
                    <div style="width: 100%; display: flex;">
                      <input style="margin-top: 9px;" id="saveBirthDetailsLater" type="checkbox" name="SaveBirthDetailsLater" [(ngModel)]="RecordSummary.SaveBirthDetailsLater" [value]="true" (change)="SaveBirthDetailsLater()" [attr.disabled]="(RecordSummary.BabyBirthDetails && RecordSummary.BabyBirthDetails.length > 0 && 
                        RecordSummary.BabyBirthDetails[0].BabyBirthDetailsId>0)?true:null" />
                      <label class="control-label lbl-text" for="saveBirthDetailsLater"> &nbsp;&nbsp; {{ 'MEDICAL_RECORDS.SAVE_BIRTH_DETAILS_LATER' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div *ngIf=" IsDeliveryCase && RecordSummary.ShowBirthCertDetail" class="row margin-8-tp">

                  <!-- Start: Add Birth Certificate -->
                  <div class="col-md-12 margin-15-tp">
                    <div class="text-center">
                      <p class="large-header">{{ 'MEDICAL_RECORDS.ENTER_BIRTH_DETAILS' | translate }}</p>
                    </div>
                    <div class="birth-cert-form-holder">
                      <div class="row">
                        <div class="col-md-12">
                          <add-birth-details-shared #sendToChild [NoOfBabies]="RecordSummary.NumberOfBabies" [MotherPatientId]="patientId" (on-submit)="OnBabyBirthDetailSaved($event)">

                          </add-birth-details-shared>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!--    End: Add Death Certificate  -->

                <div class="row margin-8-tp" *ngIf="IsDeathCase && !IsPatDead">
                  <div class="col-md-12">
                    <div style="width: 100%; display: flex;">
                      <input style="margin-top: 9px;" id="saveDeathDetailsLater" type="checkbox" name="SaveDeathDetailsLater" [(ngModel)]="RecordSummary.SaveDeathDetailsLater" [value]="true" (change)="SaveDeathDetailsLater()" />
                      <label class="control-label lbl-text" for="saveDeathDetailsLater"> {{ 'MEDICAL_RECORDS.SAVE_DEATH_DETAILS_LATER' | translate }}</label>
                    </div>
                  </div>
                </div>
                <div *ngIf="RecordSummary.ShowDeathCertDetail && IsDeathCase" class="row margin-8-tp">
                  <div class="col-md-12">
                    <div class="text-center">
                      <p class="large-header">{{ 'MEDICAL_RECORDS.ENTER_DEATH_DETAILS' | translate }}</p>
                    </div>
                    <div class="birth-cert-form-holder">
                      <div class="row">
                        <div class="col-md-12">
                          <add-death-details-shared [PatientId]="patientId" (death-details-emitter)="callBackForDeathDetails($event)"></add-death-details-shared>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modelbox-footer">
          <div class="all-buttons text-right">
            <button *ngIf="!isEditMode" type="button" class="btn green btn-success margin-7-hr" (click)="ValidateAndAddNewMedicalRecords()" [attr.disabled]="loading?true:null">{{ 'COMMON.ADD_RECORD' | translate }}</button>
            <button *ngIf="isEditMode" type="button" class="btn green btn-success margin-7-hr" (click)="ValidateAndUpdateMedicalRecords()">{{ 'COMMON.UPDATE_RECORD' | translate }}</button>
            <button type="button" class="btn btn-cancel margin-7-hr" (click)="CloseMRAddPupUp()">{{ 'COMMON.CANCEL' | translate }}</button>
          </div>
        </div>

        <div class="close-modelbox">
          <button class="btn btn-danger" (click)="CloseMRAddPupUp()">X</button>
        </div>

      </div>
    </div>
  </div>
</div>