<a class="btn green btn-success margin-7-hr" feature="button" (click)="ShowAddPage()"><i class="fa fa-plus"></i>{{ 'SETTINGS_NEW.ADDITIONAL_SERVICE_ITEM' | translate }}</a>

<div *ngIf="showGrid">
    <danphe-grid [grid-colDefaults]="additionalServiceItemGridColumns"
                 [grid-data]="additionalServiceItemList"
                 (grid-actions)="AdditionalServiceItemGridActions($event)"
                 [show-print-button]="false">
    </danphe-grid>
</div>

<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="ShowServiceItemAddPage">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="modelbox-div clearfix">
                    <div class="caption custom-caption no-margin">
                        <h3> <span *ngIf="!isUpdate">{{ 'SETTINGS_NEW.ADD_ADDITIONAL_SERVICE_ITEM' | translate }}</span>
                            <span *ngIf="isUpdate">{{ 'SETTINGS_NEW.UPDATE_ADDITIONAL_SERVICE_ITEM' | translate }}</span>
                        </h3>
                        <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a>
                    </div>
                    <form [formGroup]="CurrentAdditionalServiceItem.AdditionalServiceItemValidator" class="form-horizontal hm-form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.GROUP_NAME_1' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control"
                                           type="text"
                                           [placeholder]="'SETTINGS_NEW.ENTER_GROUPNAME' | translate" formControlName="GroupName" />
                                    <span class="color-red font-sm"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('GroupName','required') ||
                                           !(CurrentAdditionalServiceItem.IsDirty('GroupName'))"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.PRICE_CATEGORY_1' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input danphe-auto-complete class="form-control" [(ngModel)]="selectedPriceCategory"
                                           [source]="priceCategoryList" [placeholder]="'SETTINGS_NEW.PRICECATEGORY' | translate" display-property-name="PriceCategoryName"
                                           value-property-name="PriceCategoryName"
                                           (valueChanged)="AssignSelectedPriceCategory($event)"
                                           [list-formatter]="PriceCategoryListFormatter" max-num-list="50"
                                           onclick="this.select()" id="PriceCategoryId" style="width: 100%;"
                                           formControlName="PriceCategoryId" />
                                    <span class="color-red font-sm"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('PriceCategoryId','required') ||
                                           !(CurrentAdditionalServiceItem.IsDirty('PriceCategoryId'))"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.SERVICE_ITEM' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input danphe-auto-complete class="form-control"
                                           [source]="serviceItemList" [placeholder]="'SETTINGS_NEW.SERVICEITEM' | translate" display-property-name="ItemName"
                                           [(ngModel)]="selectedServiceItem"
                                           (valueChanged)="AssignSelectedServiceItem($event)"
                                           [list-formatter]="ServiceItemListFormatter" max-num-list="50"
                                           onclick="this.select()" id="ServiceItemId" style="width: 100%;"
                                           formControlName="ServiceItemId" />
                                    <span class="color-red font-sm"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('ServiceItemId','required') ||
                                           !(CurrentAdditionalServiceItem.IsDirty('ServiceItemId'))"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.MINIMUM_CHARGE_AMOUNT' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" type="number"
                                           [placeholder]="'SETTINGS_NEW.MINIMUM_CHARGE_AMOUNT' | translate"
                                           formControlName="MinimumChargeAmount"
                                           (wheel)="coreService.PreventNumberChangeOnScroll($event)" />
                                    <span class="color-red font-sm" *ngIf="CurrentAdditionalServiceItem.IsDirty('MinimumChargeAmount')"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('MinimumChargeAmount','required')
                                           && CurrentAdditionalServiceItem.IsValidCheck('MinimumChargeAmount','min')">
                                        {{ 'SETTINGS_NEW.CHARGE_AMOUNT_CANNOT_BE_NEGATIVE_OR_LESS_THAN_ZERO' | translate }}</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.USE_ITEM_SELF_PRICE' | translate }} <b>:</b> </label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input id="needParent" type="checkbox" formControlName="UseItemSelfPrice" />
                                                <span></span> </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.PERCENTAGE_OF_PARENT_ITEM_FOR_SAME_DEPT' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" type="number"
                                           [placeholder]="'SETTINGS_NEW.PERCENTAGE_OF_PARENT_ITEM_FOR_SAME_DEPT' | translate"
                                           formControlName="PercentageOfParentItemForSameDept"
                                           (wheel)="coreService.PreventNumberChangeOnScroll($event)" />
                                    <span class="color-red font-sm" *ngIf="CurrentAdditionalServiceItem.IsDirty('PercentageOfParentItemForSameDept')"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForSameDept','required') 
                                          && CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForSameDept','min') && CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForSameDept','max')">
                                        {{ 'SETTINGS_NEW.DISCOUNT_PERCENT_CANNOT_BE_LESS_THAN_0_AND_GREATER_THAN_100' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.PERCENTAGE_OF_PARENT_ITEM_FOR_DIFF_DEPT' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" type="number"
                                           [placeholder]="'SETTINGS_NEW.PERCENTAGE_OF_PARENT_ITEM_FOR_DIFF_DEPT' | translate"
                                           formControlName="PercentageOfParentItemForDiffDept"
                                           (wheel)="coreService.PreventNumberChangeOnScroll($event)" />
                                    <span class="color-red font-sm" *ngIf="CurrentAdditionalServiceItem.IsDirty('PercentageOfParentItemForDiffDept')"
                                          [hidden]="CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForDiffDept','required') && CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForDiffDept','min') && CurrentAdditionalServiceItem.IsValidCheck('PercentageOfParentItemForDiffDept','max')">
                                        {{ 'SETTINGS_NEW.DISCOUNT_PERCENT_CANNOT_BE_LESS_THAN_0_AND_GREATER_THAN_100' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div style="margin-left:140px;">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" formControlName="WithPreAnaesthesia" />
                                            <label class="control-label">{{ 'SETTINGS_NEW.WITH_PREANAESTHESIA' | translate }}</label>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox"
                                               formControlName="IsPreAnaesthesia" />
                                        <label class="control-label">{{ 'SETTINGS_NEW.ISPREANAESTHESIA' | translate }}</label>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div style="margin-left:140px;">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox"
                                                   formControlName="IsIpServiceItem" />
                                            <label class="control-label col-md-5">{{ 'SETTINGS_NEW.ISIPSERVICEITEM' | translate }}</label>
                                            <span></span> </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" formControlName="IsOpServiceItem" />
                                        <label class="control-label col-md-5">{{ 'SETTINGS_NEW.ISOPSERVICEITEM' | translate }}</label>
                                        <span></span> </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="panel-footer" style="text-align: right;">
                        <input id="savebtn" type="button" (click)="AddAdditionalServiceItem()" class="btn green btn-success margin-7-hr"
                               *ngIf="!isUpdate"
                               [disabled]="loading" [value]="'SETTINGS_NEW.ADD' | translate" />
                        <input id="savebtn" type="button" (click)="UpdateAdditionalServiceItem()" class="btn green btn-success margin-7-hr"
                               *ngIf="isUpdate"
                               [disabled]="loading" [value]="'COMMON.UPDATE' | translate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>