<!--Start Grid List show-->
<a feature="button" class="btn blue bordered" (click)="NewTemplate()"><i class="fa fa-plus"></i>{{ 'SETTINGS_NEW.ADD_TEMPLATE' | translate }}</a>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <dsf-grid [grid-colDefaults]="radReportTemplateGridColumns" [grid-data]="radTemplateList" (grid-actions)="TemplateGridActions($event)"
                     [show-print-button]="false"> </dsf-grid>
  </div>
</div>
<!--End Grid List show--> 
<!--Start Add, Update Popup code--> 
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="showAddEditPage">
  <div class="portlet-body form"> 
    <!--Model Box Body Start-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div clearfix">
			<div class="caption custom-caption">
                    <h3> <span *ngIf="!IsUpdate">{{ 'SETTINGS_NEW.ADD_TEMPLATE' | translate }}</span> <span *ngIf="IsUpdate">{{ 'SETTINGS_NEW.UPDATE_TEMPLATE' | translate }}</span> </h3>
					   <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a>
                  </div>
          <div class="form-body form-horizontal hm-form">
            <div class="row">
<!--              <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;"> </div>-->
                          
               
                  <div class="col-md-6 col-xs-12">
                    <form [formGroup]="currentTemplate.RadiologyReportTemplateValidator">
                      <div class="form-group">
                        <label class="control-label col-md-4">{{ 'SETTINGS_NEW.MODULE_NAME' | translate }}<sup>*</sup><b>:</b></label>
                        <div class="col-md-8">
                          <input type="text" value="" class="form-control" maxlength="30" [readonly]="true"
                                               [(ngModel)]="currentTemplate.ModuleName" formControlName="ModuleName" id="ModuleName"
                                               [placeholder]="'SETTINGS_NEW.ENTER_MODULE_NAME' | translate" />
                          <span class="color-red font-sm" [hidden]="currentTemplate.IsValidCheck('ModuleName','required') || !(currentTemplate.IsDirty('ModuleName'))">{{ 'SETTINGS_NEW.MODULE_NAME_REQUIRED' | translate }}</span> </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-4">{{ 'SETTINGS_NEW.TEMPLATE_CODE' | translate }}<sup>*</sup><b>:</b></label>
                        <div class="col-md-8">
                          <input type="text" name="TemplateCode" required value="" class="form-control" maxlength="30" [readonly]="update"
                                               [(ngModel)]="currentTemplate.TemplateCode" id="TemplateCode" formControlName="TemplateCode"
                                               [placeholder]="'SETTINGS_NEW.ENTER_TEMPLATE_CODE' | translate"  (keyup.enter)="FocusElementById('TemplateName')" />
                          <span class="color-red font-sm" [hidden]="currentTemplate.IsValidCheck('TemplateCode','required') || !(currentTemplate.IsDirty('TemplateCode'))">{{ 'SETTINGS_NEW.TEMPLATE_CODE_REQUIRED' | translate }}</span> </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <form [formGroup]="currentTemplate.RadiologyReportTemplateValidator">
                      <div class="form-group">
                        <label class="control-label col-md-4">{{ 'SETTINGS_NEW.TEMPLATE_NAME' | translate }}<sup>*</sup><b>:</b></label>
                        <div class="col-md-8">
                          <input type="text" name="TemplateName" required value="" class="form-control" maxlength="100"
                                               [(ngModel)]="currentTemplate.TemplateName" id="TemplateName" formControlName="TemplateName"
                                               [placeholder]="'SETTINGS_NEW.TEMPLATE_NAME_1' | translate" (keyup.enter)="FocusElementById('TemplateContent')"/>
                          <span class="color-red font-sm" [hidden]="currentTemplate.IsValidCheck('TemplateName','required') || !(currentTemplate.IsDirty('TemplateName'))">{{ 'SETTINGS_NEW.TEMPLATE_NAME_REQUIRED' | translate }}</span> </div>
                      </div>
                    </form>
                    <div class="form-group">
                      <label class="control-label col-md-4">{{ 'SETTINGS_NEW.ACTIVE' | translate }}<b>:</b> </label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <div class="icheck-inline">
                            <label class="mt-checkbox mt-checkbox-outline">
                              <input id="IsActive" name="IsActive" type="checkbox" value=""
                                                       [(ngModel)]="currentTemplate.IsActive">
                              <span></span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12"><div class="form-group">
                    <div class="col-md-12">
                      <label class="control-label no-padding">{{ 'SETTINGS_NEW.TEMPLATE_CONTENT' | translate }}<b>:</b> </label>
                      <span class="color-red font-sm" *ngIf="!isValidTemplate">{{ 'SETTINGS_NEW.TEMPLATE_CONTENT_REQUIRED' | translate }}</span> <br />
                      <dsf-ckeditor [readonly]="false"
                                                 (get-html-content)="onChangeEditorData($event)"
                                                 [set-html-content]="currentTemplate.TemplateHTML"
                                                 id="TemplateContent"
                                                 (keyup.enter)="FocusElementById('Add')"
                                                 > </dsf-ckeditor>
                    </div>
                  </div></div>
                  <div class="col-md-12"><div class="form-group">
                    <div class="col-md-12">
                      <label class="control-label">{{ 'SETTINGS_NEW.FOOTER_NOTE' | translate }}<b>:</b> </label>
                      <br />
                      <textarea name="FooterNote" class="form-control" rows="5" [(ngModel)]="currentTemplate.FooterNote" id="FooterNote" [placeholder]="'SETTINGS_NEW.NOTES_ARE_HERE' | translate"></textarea>
                    </div>
                  </div></div>
                  
               
             
<!--              <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;"> </div>-->
            </div>
          </div>
			<div class="panel-footer">
                    <input type="button" class="btn green btn-success margin-7-hr" *ngIf="!IsUpdate" (click)="Add()" [value]="'SETTINGS_NEW.ADD' | translate" id="Add" />
                    <input type="button" class="btn green btn-success margin-7-hr" *ngIf="IsUpdate" (click)="Update()" [value]="'COMMON.UPDATE' | translate" id="Add"  />
                  </div>
        </div>
      </div>
    </div>
    <!--</form>--> 
    <!--Model Box Body End--> 
  </div>
</div>
<!--End Add, Update Popup code--> 
