<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="ShowAddPage">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="modelbox-div clearfix">
                    <div class="caption lb-caption">
                        <h3>
                            <span>{{ 'ACCOUNTING.CREATE_SUB_LEDGER' | translate }}</span>
                        </h3>
                        <a class="btn btn-danger" (click)="Close()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>
                    </div>
                    <form class="form-horizontal hm-form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'ACCOUNTING.LEDGER' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <!-- <input class="form-control" maxlength="30" type="text"
                                           id="LedgerName" [(ngModel)]="LedgerForSubLedger.LedgerName"
                                           [ngModelOptions]="{standalone: true}" disabled
                                           placeholder="LedgerName" style="color: #000000;" /> -->
                                    {{LedgerForSubLedger.LedgerName}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'ACCOUNTING.SUB_LEDGER_NAME' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="30" type="text"
                                           id="SubLedgerName" [(ngModel)]="SelectedSubledger.SubLedgerName"
                                           [ngModelOptions]="{standalone: true}"
                                           placeholder="{{ 'ACCOUNTING.SUB_LEDGER_NAME' | translate }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'ACCOUNTING.OPENING_BALANCE' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="30" type="number"
                                           id="VoucherCode" [(ngModel)]="SelectedSubledger.OpeningBalance"
                                           (wheel)="coreService.PreventNumberChangeOnScroll($event)"
                                           [ngModelOptions]="{standalone: true}"
                                           placeholder="{{ 'ACCOUNTING.OPENING_BALANCE' | translate }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'ACCOUNTING.OPENING_BALANCE_TYPE' | translate }}<b>:</b> </label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="mt-checkbox mt-checkbox-outline not-mapped not-mapped-outline">
                                                <input id="Dr" name="Dr"
                                                       [(ngModel)]="Dr" [ngModelOptions]="{standalone: true}"
                                                       (click)="ChangeOpeningBalType($event)"
                                                       type="checkbox" />
                                                {{ 'ACCOUNTING.DR' | translate }}
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline not-mapped not-mapped-outline">
                                                <input id="Cr" name="Cr"
                                                       [(ngModel)]="Cr" [ngModelOptions]="{standalone: true}"
                                                       (click)="ChangeOpeningBalType($event)"
                                                       type="checkbox" />
                                                {{ 'ACCOUNTING.CR' | translate }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'ACCOUNTING.DESCRIPTION' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="50" type="text"
                                           id="Description" [(ngModel)]="SelectedSubledger.Description"
                                           [ngModelOptions]="{standalone: true}"
                                           placeholder="{{ 'ACCOUNTING.DESCRIPTION' | translate }}" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="button" class="btn green btn-success margin-7-hr" (click)="AddSubLedger()" value="{{ 'ACCOUNTING.ADD_SUB_LEDGER' | translate }}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>