<div class="row">
    <div class="col-md-5" style="border: 1px solid grey; margin-left: 10px; padding: 10px;">
        <div style="background: #eeeae3; padding: 5px;">
            <label style="color: red; font-size: large;"> <b> {{ 'ACCOUNTING.FISCAL_YEAR_DETAILS' | translate }} </b></label>
        </div>
        <div class="row">
            <br>
            <div class="col-md-4">
                <label> <b> {{ 'ACCOUNTING.FISCAL_YEAR_NAME' | translate }} : </b> </label>
            </div>
            <div class="col-md-4">
                <select [(ngModel)]="fiscalYearId" (ngModelChange)="onFiscalYearChange()">
                    <option *ngFor="let fs of FiscalYearList" value="{{fs.FiscalYearId}}"> {{ fs.FiscalYearName}}</option>
                </select>
            </div>

        </div>
        <div class="row">
            <br>
            <div class="col-md-4">
                <label><b> {{ 'ACCOUNTING.STARTING_DATE' | translate }} : </b> </label>
            </div>
            <div class="col-md-4">
                <b> AD </b> {{activeFiscalYear.StartDate | DsfDateTime:'format':'YYYY-MM-DD'}}
            </div>
            <div class="col-md-4" *ngIf="!this.EnableEnglishCalendarOnly">
                {{ activeFiscalYear.nStartDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label> <b> {{ 'ACCOUNTING.END_DATE' | translate }} : </b></label>
            </div>
            <div class="col-md-4">
                <b> AD </b> {{ activeFiscalYear.EndDate | DsfDateTime:'format':'YYYY-MM-DD'}}
            </div>
            <div class="col-md-4" *ngIf="!this.EnableEnglishCalendarOnly">
                {{ activeFiscalYear.nEndDate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label> <b> {{ 'ACCOUNTING.ACCOUNT_CLOSED_STATUS' | translate }} : </b></label>
            </div>
            <div class="col-md-4">
                <label *ngIf="activeFiscalYear.IsClosed == true "> {{ 'ACCOUNTING.CLOSED' | translate }} </label>
                <label *ngIf="activeFiscalYear.IsClosed !== true "> {{ 'ACCOUNTING.NOT_CLOSED' | translate }} </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" [rbac-permission]="{'name':'accounting-closure-btn','actionOnInvalid':'hidden'}">
                <br>
                <input type="button" class="btn btn-primary" [disabled]="disablebtn" (click)="openPopup()"
                       value="{{ 'ACCOUNTING.CLOSE_ACCOUNT' | translate }}" style="float: right;" />
            </div>
        </div>
    </div>
    <div class="col-md-6" style="border: 1px solid grey; margin-left: 10px; padding: 10px;">
        <fiscal-yearlog-shared [loadDetail]="loadDetail"></fiscal-yearlog-shared>
    </div>

</div>

<div class="popup-static portlet box portlet-fullscreen" *ngIf="showpopup">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <div class="form-body">
            <div class="col-md-4" style="margin-left: 35%;margin-top: 15%;">
                <div class="modelbox-div">
                    <div style="text-align: center;">
                        <b style="color: red;"> {{ 'ACCOUNTING.CLOSE_ACCOUNT_CONFIRMATION' | translate: {fiscalYearName: activeFiscalYear.FiscalYearName} }} </b>

                    </div>
                    <div>
                        <br>
                        <label> {{ 'ACCOUNTING.CLOSE_ACCOUNT_NOTE' | translate }} </label>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div>
                            <br>
                            <input type="button" [disabled]="disablebtn" class="btn btn-primary"
                                   (click)="postAccountClosure()" value="{{ 'YES' | translate }}" />
                            <input type="button" class="btn btn-primary" (click)="close()" value="{{ 'NO' | translate }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</form>-->
        <!--Model Box Body End-->
    </div>
</div>