<div class="wrapper">
  <div class="cpt-top-row lb-caption">
    <!-- <i class="glyphicon glyphicon-asterisk font-green-turquoise"></i> -->
    <span class="caption-subject">{{ 'LABS.COLLECT_SAMPLE' | translate }}</span> <span class="animate-message">{{ 'LABS.PLEASE_VERIFY_THE_RUN_NUMBER_AND_TESTS_CAREFULLY_B' | translate }}</span>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped table-hover sample-table">
          <thead class="pat-info-head lb-info-head">
            <tr>
              <td [attr.colspan]="showInsuranceFlag ? 4:3">{{ 'LABS.WARD_2' | translate }} <b>{{patientService.globalPatient.WardName}}</b></td>
              <td colspan="3" class="text-right">{{ 'LABS.PHONE_NUMBER_1' | translate }} <b>{{patientService.globalPatient.PhoneNumber}}</b></td>

              <!--<td  *ngIf="showInsuranceFlag" colspan="4">Phone Number: <b>{{patientService.globalPatient.PhoneNumber}}</b></td>
            <td  *ngIf="showInsuranceFlag" colspan="3">Phone Number: <b>{{patientService.globalPatient.PhoneNumber}}</b></td>-->
            </tr>
          </thead>
          <thead class="sample-main-head">
            <tr>
              <th>{{ 'LABS.REQUESTED_ON_1' | translate }} <b *ngIf="!IsLocalDate">{{ 'LABS.AD' | translate }}</b><b *ngIf="IsLocalDate">{{ 'LABS.BS' | translate }}</b>
                <div class="tooltip ng-star-inserted" style="color: #0069FF;z-index: inherit;">
                  <span style="display: inline-block;background: #D8DEF1;cursor: pointer;">
                    <i class="fa fa-refresh" (click)="ChangeDateFormat()"></i>
                  </span>
                  <p class="tooltiptext ttptextdown no-print">{{ 'LABS.CHANGE_DATE_FORMAT_TO_ADBS' | translate }}</p>
                </div>
              </th>
              <th>{{ 'LABS.PRESCRIBED_BY_1' | translate }}</th>
              <!--below th is for insurance flag-->
              <th *ngIf="showInsuranceFlag"></th>
              <th>
                <div class="form-horizontal">
                  <div class="checkbox maintain-min-ht">
                    <label class="mt-checkbox mt-checkbox-outline">
                      <input type="checkbox" name="selectAllTest" [(ngModel)]="isAllTestSelected"
                             (ngModelChange)="AlterSelectAllTest()">
                      <span></span><strong>{{ 'LABS.SELECT_TEST' | translate }}</strong> </label>
                    <!-- <label>
                    <input type="checkbox" name="selectAllTest" [(ngModel)]="isAllTestSelected" (ngModelChange)="AlterSelectAllTest()"><strong>Select Test</strong>
                  </label> -->
                  </div>
                </div>
              </th>
              <th>{{ 'LABS.IS_OUTSOURCED' | translate }}</th>
              <th>{{ 'LABS.SPECIMEN' | translate }}</th>
              <th>{{ 'LABS.TYPE' | translate }}</th>
              <th>{{ 'COMMON.ACTION' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-vertical-middle" *ngFor="let requ of patientTestCSVs;let i = index">
              <td *ngIf="!IsLocalDate">{{requ.OrderDateTime | DsfDateTime:'format':'YYYY-MM-DD hh:mm A'}}</td>
              <td *ngIf="IsLocalDate">{{requ.OrderDateTime | nepaliDate:'format':'YYYY-MM-DD hh:mm A'}}</td>
              <td>{{requ.PrescriberName}}</td>
              <!--below td is for insurance flag-->
              <td *ngIf="showInsuranceFlag"><span class="bold green" [title]="'LABS.GOVERNMENT_INSURANCE' | translate"> {{ requ &&
                  requ.HasInsurance ? '(INS)':'' }} </span></td>
              <td>
                <div class="form-horizontal">
                  <div class="checkbox">
                    <label class="mt-checkbox mt-checkbox-outline cstm-ellipsis" title="{{requ.TestName}}">
                      <input type="checkbox" name="requ.RequisitionId" [(ngModel)]="requ.IsSelected"
                             (ngModelChange)="CheckIfAllSelected()">
                      <span></span>{{requ.TestName}} </label>
                    <!-- <label class="cstm-ellipsis" title="{{requ.TestName}}">
                    <input type="checkbox" name="requ.RequisitionId" [(ngModel)]="requ.IsSelected" (ngModelChange)="CheckIfAllSelected()"> {{requ.TestName}}
                  </label> -->
                  </div>
                </div>
              </td>
              <td style="padding-left: 20px;">
                <label *ngIf="requ.IsOutsourceTest" style="color: blue;">{{ 'COMMON.YES' | translate }}</label>
                <label *ngIf="!requ.IsOutsourceTest">{{ 'COMMON.NO' | translate }}</label>
              </td>
              <td>
                <div class="select">
                  <select id="specimen" class="form-control" [(ngModel)]="requ.Specimen" [disabled]="!requ.IsSelected">
                    <option *ngFor="let spec of requ.SpecimenList" value="{{spec}}">{{spec}}</option>
                  </select>
                </div>
              </td>
              <td> {{requ.RunNumberType}} </td>
              <td><a *ngIf="showTestChangeParam" (click)="changeTest(i)"> <i class="fa fa-pencil"></i> {{ 'LABS.CHANGE_TEST' | translate }} </a>
                <a class="margin-7-hr" *ngIf="showTransfer" (click)="transferToLab(i)"><i
                     class="fa fa-exchange"></i>{{ 'LABS.TRANSFER' | translate }} </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
         *ngIf="(!isRunNumberAutoGenerate) && (!LastSampleCodeOfPat || !LastSampleCodeOfPat.BarCodeNumber || !LastSampleCodeOfPat.IsSelected) "
         class="col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <p class="bg-info margin-0-vr padding-15-vr text-capitalize padding-5-lft"><strong>{{visitType}}
              ({{RunNumberType}}) {{ 'LABS.RUN_NUMBER' | translate }}: </strong></p>
        </div>
        <div class="col-md-4">
          <div class="form-inline form-inline-center">
            <div *ngIf="LatestSampleCode.SampleLetter" class="form-group">
              <input [(ngModel)]="LatestSampleCode.SampleLetter" disabled min="0" class="form-control sampleletter"
                     name="Sample Code" type="text">
            </div>
            <div class="form-group">
              <input [(ngModel)]="LatestSampleCode.SampleNumber" [disabled]="!allowRunNoChange" min="1"
                     class="form-control cstm-code-input smpl-num" name="Sample number" type="number">
            </div>
            <div class="form-group"> <span> &nbsp;/&nbsp; </span> </div>
            <div class="form-group">
              <input [(ngModel)]="LatestSampleCode.SampleCode" disabled min="0" class="form-control cstm-code-input "
                     name="Sample Code" type="text">
            </div>
            <div class="tooltip ng-star-inserted"
                 style="color: #0069FF;z-index: inherit;display: flex;align-items: center;">
              <span style="display: inline-block;background: transparent;cursor: pointer;">
                <i class="fa fa-refresh" (click)="ChangeRunNumber()"></i>
              </span>
              <p class="tooltiptext ttptextdown no-print">{{ 'LABS.GET_LATEST_RUN_NUMBER' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="showSampleDateChange">
          <p class="bg-info margin-0-vr padding-15-all"> <a (click)="ConfirmChangeSampleCreatedOn()"> <i
                 class="fa fa-edit edit-ic"></i> {{ 'LABS.CHANGE_SAMPLE_COLLECTION_DATE' | translate }} </a>
            <!--<p class="tooltiptext ttptextdown" style="width: 250px;margin-left: -125px;">Click to Change Sample Collection Date.</p>-->
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-4">
          <button *ngIf="!isRunNumberAutoGenerate" [disabled]="loading || !LatestSampleCode.SampleNumber"
                  (click)="loading=true;CheckIfSampleCodeExist();" class="btn green btn-success mt15"> <i
               class="fa fa-align-right"></i>{{ 'LABS.COLLECT_SAMPLE' | translate }} </button>
          <button *ngIf="isRunNumberAutoGenerate" [disabled]="loading" (click)="loading=true;AutoGenerateRunNumber();"
                  class="btn green btn-success mt15"> <i class="fa fa-align-right"></i>{{ 'LABS.COLLECT_SAMPLE' | translate }} </button>
        </div>
        <div class="col-md-4">
          <div class="checkbox margin-15-tp" *ngIf="LastSampleCodeOfPat && LastSampleCodeOfPat.BarCodeNumber">
            <label for="includeLatSample">
              <input type="checkbox" id="includeLatSample" name="includelastsample"
                     [(ngModel)]="LastSampleCodeOfPat.IsSelected" />
              {{ 'LABS.USE_EARLIER_SAMPLE' | translate }}
              <ng-container>RunNumber:&nbsp;
                {{LastSampleCodeOfPat.SampleCodeFormatted}},&nbsp;{{ 'LABS.BARCODENUMBER_1' | translate }}:&nbsp;{{LastSampleCodeOfPat.BarCodeNumber}}
              </ng-container>
              ]
            </label>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <!--@*Lab Test Change Box*@-->
  <lab-test-change *ngIf="showChangeTest" [requisitionId]="reqId" [showChangeTest]="showChangeTest"
                   [selectedLabTest]="labTestToChange" (callBack)="GetChangedLabtest($event)"> </lab-test-change>

  <!--@* Confirmation box added --yub 1st Sept 2018 *@-->
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="showConfirmationBox">
    <div class="portlet-body form">
      <!--Model Box Body Start-->
      <div class="col-md-6 col-md-offset-3">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr text-danger text-center"><strong>{{ 'LABS.ALERT_1' | translate }}</strong></h4>
          </div>
          <div class="modelbox-body">
            <div *ngIf="patientId != sampleCodeExistingDetail.PatientId">
              <div>
                <p *ngIf="visitType && visitType.toLowerCase()=='outpatient'">{{ 'LABS.RUN_NUMBER' | translate }}
                  <b>{{LatestSampleCode.SampleNumber}} / {{LatestSampleCode.SampleCode}}</b> {{ 'LABS.IS_ALREADY_USED_FOR_PATIENT_2' | translate }}
                  <b>{{sampleCodeExistingDetail.PatientName}}</b>
                </p>
                <p *ngIf="visitType && visitType.toLowerCase()=='inpatient'">{{ 'LABS.RUN_NUMBER' | translate }}
                  <b>{{LatestSampleCode.SampleCode}}</b> {{ 'LABS.IS_ALREADY_USED_FOR_PATIENT_2' | translate }}
                  <b>{{sampleCodeExistingDetail.PatientName}}</b>
                </p>
                <p> {{ 'LABS.PLEASE_CHANGE_THE_RUN_NUMBER' | translate }}</p>
              </div>
              <div class="modelbox-footer">
                <div class="all-buttons text-right">
                  <button type="button" class="btn btn-cancel btn-sm" (click)="showConfirmationBox=false">{{ 'COMMON.CLOSE' | translate }}</button>
                </div>
              </div>
            </div>
            <div *ngIf="patientId == sampleCodeExistingDetail.PatientId">
              <div>
                <p *ngIf="visitType=='outpatient'">{{ 'LABS.RUN_NUMBER' | translate }} <b>{{LatestSampleCode.SampleNumber}} /
                    {{LatestSampleCode.SampleCode}}</b> {{ 'LABS.IS_ALREADY_USED_FOR_ANOTHER_TEST_FOR_THE_SAME_PATI_1' | translate }}<b>({{sampleCodeExistingDetail.PatientName}})</b></p>
                <p *ngIf="visitType=='inpatient'">{{ 'LABS.RUN_NUMBER' | translate }} <b>{{LatestSampleCode.SampleNumber}}</b> {{ 'LABS.IS_ALREADY_USED_FOR_ANOTHER_TEST_FOR_THE_SAME_PATI_2' | translate }}<b>({{sampleCodeExistingDetail.PatientName}})</b></p>
                <p>{{ 'LABS.DO_YOU_WANT_TO_CONTINUE_WITH_THE_SAME_RUN_NUMBER' | translate }}</p>
              </div>
              <div class="modelbox-footer">
                <div class="all-buttons text-right">
                  <button type="button" class="btn btn-primary btn-sm margin-7-hr"
                          (click)="loading=true;AddSampleCode()">{{ 'LABS.CONTINUE' | translate }}</button>
                  <button type="button" class="btn btn-cancel btn-sm margin-7-hr"
                          (click)="showConfirmationBox=false">{{ 'COMMON.CANCEL' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="close-modelbox">
            <button class="btn btn-danger" (click)="showConfirmationBox=false">X</button>
          </div>

          <!--<div class="sample-model-holder text-center">
        <div class="row">
          <h4 class="text-center text-danger"><strong></strong></h4>-->
          <!--<table border="0" align="center">
          <tr>
            <td><img src="~/themes/theme-default/images/alert.png" height="30" width="30" />&nbsp;&nbsp;&nbsp;</td>
            <td></td>
          </tr>
        </table>-->
          <!--</div>
        </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="showModalBox">
    <div class="portlet-body form">
      <!--Model Box Body Start-->
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr"><strong>{{ 'LABS.SAMPLE_CODE_GENERATED_SUCCESSFULLY' | translate }}</strong></h4>
          </div>
          <div class="modelbox-body">
            <div class="row">
              <!--<div class="col-md-8">
              <div class="scroll-vertical table-responsive alltest-table">
                <table class="table table-striped table-hover">
                  <thead class="sample-main-head">
                    <tr>
                      <th>SN</th>
                      <th>Lab Test Name</th>
                      <th>Run Number</th>
                      <th>BarCodeNumber</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let requ of patientTestCSVs;let i =index">
                      <td>{{i+1}}</td>
                      <td>{{requ.TestName}}</td>
                      <td>{{requ.SampleCode}}</td>
                      <td>{{requ.BarCodeNumber}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>-->
              <div class="col-md-12">
                <lab-sticker *ngIf="showlabsticker" (callback-Add)="CloseAfterPrint($event)"
                             [showlabsticker]="showlabsticker" [isFromLabRequisition]="fromLabRequisition"
                             [PatientLabInfo]="PatientLabInfo" [requisitionIdList]="requisitionlist"> </lab-sticker>
              </div>
            </div>
          </div>
          <div class="modelbox-footer">
            <div class="all-buttons text-right">
              <button *ngIf="showPrintEmptySheet" type="button" class="btn green btn-success btn-sm margin-7-hr"
                      rbac-permission='{"name":"btn-collect-sample-empty-print","actionOnInvalid":"remove"}'
                      (click)="PrintEmptySheet()"> {{ 'LABS.PRINT_EMPTY_SHEET' | translate }} </button>
              <button type="button" class="btn btn-cancel btn-sm margin-7-hr" (click)="CloseModalBox()"> {{ 'COMMON.CLOSE' | translate }} </button>
            </div>
          </div>
          <div class="close-modelbox">
            <button class="btn btn-danger" (click)="CloseModalBox()">X</button>
          </div>
        </div>
      </div>
      <!--Model Box Body End-->
    </div>
  </div>
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="showChangeSampleCreatedOn">
    <div class="portlet-body form">
      <div class="col-md-5 col-md-offset-4">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr"><strong>{{ 'LABS.CHANGE_SAMPLE_COLLECTION_DATE' | translate }}</strong></h4>
          </div>
          <div class="modelbox-body">
            <div class="datepicker-holder">
              <dsf-date-picker [(ngModel)]="sampleCreatedOn" ngDefaultControl [CalendarTypes]="'np'">
              </dsf-date-picker>
            </div>
          </div>
          <div class="modelbox-footer">
            <div class="all-buttons text-right">
              <button type="button" class="btn btn-primary btn-sm margin-7-hr" (click)="CheckSampleCollectionDate()">
                {{ 'LABS.CHANGE_1' | translate }} </button>
              <button type="button" class="btn btn-cancel btn-sm margin-7-hr" (click)="CancelDateChange()"> {{ 'COMMON.CANCEL' | translate }}
              </button>
            </div>
          </div>
          <div class="close-modelbox">
            <button class="btn btn-danger" (click)="CancelDateChange()">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="showEmptySheet">
    <div class="portlet-body form">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr"><strong>{{ 'LABS.PRINT_EMPTY_SHEET' | translate }}</strong></h4>
          </div>
          <div class="modelbox-body">
            <empty-add-report (closeEmptyReport)="CloseEmptyReportSheetPopUp($event)"
                              [allReqIdListForPrint]="allReqIdListForPrint"></empty-add-report>
          </div>
          <div class="close-modelbox">
            <button class="btn btn-danger" (click)="CloseEmptySheet()">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>