<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showAddPage">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <form [formGroup]="CurrentItem.ItemValidator" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue; margin-top:10px;">
                                <span *ngIf="!update">{{ 'PHARMACY.ADD_ITEM' | translate }}</span>
                                <span *ngIf="update">{{ 'PHARMACY.UPDATE_ITEM' | translate }}</span>
                            </div>
                            <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">{{ 'PHARMACY.X' | translate }}</a>
                            <hr />
                        </div>
                        <br />
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.SELECT_SALES_CATEGORY' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                                       [(ngModel)]="selCategory"
                                       [source]="categoryList"
                                       [placeholder]="'PHARMACY.CATEGORY_TYPE' | translate"
                                       formControlName="SalesCategoryId"
                                       display-property-name="Name"
                                       value-property-name="Name"
                                       (valueChanged)="AssignSelectedCategory()"
                                       [list-formatter]="SalesCategoryListFormatter"
                                       max-num-list="15"
                                       style="width:100%;height:32px;" />

                                <div class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('SalesCategoryId','required') || !(CurrentItem.IsDirty('SalesCategoryId'))">{{ 'PHARMACY.CATEGORY_IS_REQUIRED' | translate }}</div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.ITEM_NAME' | translate }}<b class="color-red">  *</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="50"
                                       [(ngModel)]="CurrentItem.ItemName"
                                       value=""
                                       formControlName="ItemName"
                                       [placeholder]="'PHARMACY.ENTER_NAME_OF_ITEM' | translate" />
                                <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('ItemName','required') || !(CurrentItem.IsDirty('ItemName'))">{{ 'PHARMACY.NAME_OF_ITEM_IS_REQUIRED' | translate }}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.ITEM_CODE' | translate }}<b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="50"
                                       [(ngModel)]="CurrentItem.ItemCode" [ngModelOptions]="{standalone: true}"
                                       value=""
                                       [placeholder]="'PHARMACY.ENTER_CODE_OF_ITEM' | translate" />
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.SELECT_COMPANY' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                                       [(ngModel)]="selCompany"
                                       [source]="companyList"
                                       [placeholder]="'PHARMACY.COMPANY_NAME' | translate"
                                       formControlName="CompanyId"
                                       display-property-name="CompanyName"
                                       value-property-name="CompanyName"
                                       (valueChanged)="AssignSelectedCompany()"
                                       [list-formatter]="CompaniesListFormatter"
                                       max-num-list="15"
                                       style="width:100%;height:32px;" />
                                <div class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('CompanyId','required') || !(CurrentItem.IsDirty('CompanyId'))">{{ 'PHARMACY.COMPANY_IS_REQUIRED' | translate }}</div>
                              </div>
                            </div>
                            <span style="vertical-align:middle;width:20px">
                              <a *ngIf="!selCompany || !selCompany.CompanyId" (click)="AddCompanyPopUp(i)" [title]="'PHARMACY.UNABLE_TO_FIND_ITEM_CLICK_TO' | translate">{{ 'PHARMACY.NEW_COMPANY' | translate }}</a>
                            </span>
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.ITEM_TYPE' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                                       [(ngModel)]="selItemType"
                                       [source]="itemtypeList"
                                       placeholder="Item Type"
                                       formControlName="ItemTypeId"
                                       display-property-name="ItemTypeName"
                                       value-property-name="ItemTypeName"
                                       (valueChanged)="AssignSelectedItemType()"
                                       [list-formatter]="ItemTypesListFormatter"
                                       max-num-list="15"
                                       style="width:100%;height:32px;" />
                                <div class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('ItemTypeId','required') || !(CurrentItem.IsDirty('ItemTypeId'))">{{ 'PHARMACY.ITEM_TYPE_IS_REQUIRED' | translate }}</div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.SELECT_UNIT' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <select class="form-control" [(ngModel)]="CurrentItem.UOMId"
                                        formControlName="UOMId">
                                  <option *ngFor="let unit of uomList"
                                          value="{{unit.UOMId}}">
                                    {{unit.UOMName}}
                                  </option>
                                </select>
                                <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('UOMId','required') || !(CurrentItem.IsDirty('UOMId'))">{{ 'PHARMACY.UNIT_IS_REQUIRED' | translate }}</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.GENERIC_NAME' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input dsf-auto-complete onClick="this.setSelectionRange(0, this.value.length)"
                                       [(ngModel)]="selGenName"
                                       [source]="genericList"
                                       placeholder="Generic Name"
                                       display-property-name="GenericName"
                                       value-property-name="GenericId"
                                       (valueChanged)="AssignSelectedGenName()"
                                       (blur)="CheckProperSelectedGenName(selGenName)"
                                       [list-formatter]="GenNamesListFormatter"
                                       max-num-list="15"
                                       style="width:100%;height:32px;"
                                       formControlName="GenericId" />
                                <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('GenericId','required') || (CurrentItem.IsDirty('GenericId'))">{{ 'PHARMACY.GENERIC_NAME_IS_REQUIRED' | translate }}</span>
                              </div>
                            </div>




                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'GRID_HEADERS.IS_ACTIVE' | translate }}<b style="float:right;">:</b></label>
                              <div class="col-md-7">
                                <div class="input-group">
                                  <div class="icheck-inline">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                      <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentItem.IsActive" [ngModelOptions]="{standalone: true}">
                                      <span></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">{{ 'PHARMACY.IS_INTERNATIONAL_BRAND' | translate }}<b style="float:right;">:</b></label>
                              <div class="col-md-7">
                                <div class="input-group">
                                  <div class="icheck-inline">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                      <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentItem.IsInternationalBrand" [ngModelOptions]="{standalone: true}">
                                      <span></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.REORDER' | translate }}<b class="color-red">*</b><b style="float:right;">:</b><br />{{ 'PHARMACY.QUANTITY' | translate }}</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="CurrentItem.ReOrderQuantity" formControlName="ReOrderQuantity"
                                               value=""
                                               [placeholder]="'PHARMACY.ENTER_REORDER_QUANTITY' | translate" />
                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('ReOrderQuantity','required') || !(CurrentItem.IsDirty('ReOrderQuantity'))">{{ 'PHARMACY.REORDER_QUANTITY_IS_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentItem.IsDirty('ReOrderQuantity')" [hidden]="CurrentItem.IsValidCheck('ReOrderQuantity','pattern')">{{ 'PHARMACY.REORDER_QUANTITY_IN_NUMBERS_ONLY' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.MINSTOCK' | translate }}<b class="color-red">*</b><b style="float:right;">:</b><br />{{ 'PHARMACY.QUANTITY' | translate }}</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="CurrentItem.MinStockQuantity" formControlName="MinStockQuantity"
                                               value=""
                                               [placeholder]="'PHARMACY.ENTER_MINSTOCK_QUANTITY' | translate" />
                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('MinStockQuantity','required') || !(CurrentItem.IsDirty('MinStockQuantity'))">{{ 'PHARMACY.MINSTOCK_QUANTITY_IS_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentItem.IsDirty('MinStockQuantity')" [hidden]="CurrentItem.IsValidCheck('MinStockQuantity','pattern')"> {{ 'PHARMACY.MINSTOCK_QUANTITY_IN_NUMBERS_ONLY' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.DOSAGE' | translate }}<b class="color-red">*</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="CurrentItem.Dosage" [ngModelOptions]="{standalone: true}"
                                               value=""
                                               [placeholder]="'PHARMACY.ENTER_DOSAGE' | translate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.BUDGETED' | translate }}<b class="color-red">*</b><b style="float:right;">:</b><br />{{ 'PHARMACY.QUANTITY' | translate }}</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="CurrentItem.BudgetedQuantity" formControlName="BudgetedQuantity"
                                               value=""
                                               [placeholder]="'PHARMACY.ENTER_BUDGETED_QUANTITY' | translate" />
                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('BudgetedQuantity','required') || !(CurrentItem.IsDirty('BudgetedQuantity'))">{{ 'PHARMACY.BUDGETED_QUANTITY_IS_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentItem.IsDirty('BudgetedQuantity')" [hidden]="CurrentItem.IsValidCheck('BudgetedQuantity','pattern')">{{ 'PHARMACY.BUDGETED_QUANTITY_IN_NUMBERS_ONLY' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.VAT_PERCENTAGE' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="CurrentItem.VATPercentage" formControlName="VATPercentage"
                                               value=""
                                               [placeholder]="'PHARMACY.ENTER_VAT_PERCENTAGE' | translate" />
                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('VATPercentage','required') || !(CurrentItem.IsDirty('VATPercentage'))">{{ 'PHARMACY.VAT_PERCENTAGE_IS_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentItem.IsDirty('VATPercentage')" [hidden]="CurrentItem.IsValidCheck('VATPercentage','pattern')">{{ 'PHARMACY.PERCENTAGE_IS_NOT_PROPER' | translate }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.IS_VAT_APPLICABLE' | translate }}<b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input name="IsActive" type="checkbox" value="IsVATApplicable" [(ngModel)]="CurrentItem.IsVATApplicable" [ngModelOptions]="{standalone: true}">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ 'PHARMACY.AB_OR_C' | translate }}<b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <select class="form-control" [(ngModel)]="CurrentItem.ABCCategory"
                                                [ngModelOptions]="{standalone: true}">
                                            &#64;*
                                            <option value="null">--{{ 'PHARMACY.CHOOSE_CATEGORY' | translate }}--</option>*&#64;
                                            <option *ngFor="let abc of abcCategory"
                                                    value="{{abc.value}}">
                                                {{abc.text}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 18px;">
                            <div class="form-actions">
                                <input type="button" class="btn btn-primary" (click)="Add()" [value]="'PHARMACY.ADD' | translate" />
                                <!--<input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                </div>
            </div>
        </form>
        <!--form end-->
        <!--Model Box Body End-->
    </div>
</div>
<company-add *ngIf="showAddCompanyPopUp" [showComAddPage]="showAddCompanyPopUp" (callback-com-add)="OnNewCompanyAdded($event)"></company-add>
