<style>

</style>

<div class="" style="padding-top:0px;">
  <div class="">
    <form class="form-horizontal hm-form border-bottom grp-title-div">
      <div class="form-group header-title">
        <!-- <div class="caption custom-caption mt10 col-md-2">
          <h3>
            <i class="fa fa-calendar-check-o"></i>
            <span class="caption-subject">Goods {{ 'PHARMACY.RECEIPT' | translate }} Page</span>
          </h3>
        </div> -->
        <div class="row">
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <label class="col-md-5">{{ 'PHARMACY.SUPPLIER_BILL_DATE' | translate }}:</label>
                  <div class="col-md-7">
                    <dsf-date-picker [(ngModel)]="goodsReceiptVM.goodReceipt.SupplierBillDate" ngDefaultControl [CalendarTypes]="'np,en'" [ngModelOptions]="{standalone:true}">
                    </dsf-date-picker>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <label class="col-md-4">{{ 'PHARMACY.GOODS_RECEIPT_DATE' | translate }}:</label>
                  <div class="col-md-8">
                    <dsf-date-picker [(ngModel)]="goodsReceiptVM.goodReceipt.GoodReceiptDate" ngDefaultControl [CalendarTypes]="'np,en'" [ngModelOptions]="{standalone:true}">
                    </dsf-date-picker>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <div class="pull-right">
              <div class="shortcut-key shortkey-right " [title]="'PHARMACY.SHORTCUT_KEYS' | translate">
                <a href="#"><img src="../../../themes/theme-default/images/Keyboard-icon.svg" alt=""></a>
                <div class="keydropdown">
                  <ul>
                    <li><kbd>{{ 'PHARMACY.ALT' | translate }}</kbd> + <kbd>{{ 'PHARMACY.P' | translate }}</kbd> = <samp> <span *ngIf="IsGRedit; else updateshortcut">{{ 'COMMON.UPDATE' | translate }}</span> {{ 'PHARMACY.RECEIPT' | translate }}
                        <ng-template #updateshortcut> <span> {{ 'COMMON.PRINT' | translate }} </span> </ng-template>
                      </samp> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div *ngIf="IsPOorder" class="col-md-2 ml20">
          <div class="row no-gutters">
            <label class="col-md-8">{{ 'PHARMACY.PURCHASE_ORDER_NO' | translate }}:</label>
            <div class="col-md-4 text-right">
              <label class="" style="border: none !important;"><b>{{PurchaseOrderNo}}</b></label>
            </div>
          </div>

        </div>
        <div class="col-md-3 padding-set ml20">
          <div class="row no-gutters">
            <label class="col-md-4 pt5">{{ 'PHARMACY.SUPPLIER_NAME' | translate }}<sup>*</sup> <b>:</b></label>
            <div class="col-md-8 no-padding no-margin">
              <div class="div-relative">
                <input dsf-auto-complete class="form-control mb-0" [(ngModel)]="currentSupplier" [source]="supplierList" [list-formatter]="supplierListFormatter" [placeholder]="'PHARMACY.SELECT_SUPPLIER' | translate" display-property-name="SupplierName" id="SupplierName" value-property-name=null min-chars="0" max-num-list="20" onClick="this.select();" (keyup.enter)="SetFocusById('InvoiceId')" match-formatted="true" [grid-sort]="'SupplierName'" [ngModelOptions]="{standalone: true}" [disabled]="IsPOorder" (change)="OnInvoiceChange()" />
                <a style="z-index:initial" class="fa fa-question" (click)="AddSupplierPopUp()" *ngIf="!IsPOorder && loading == false " [title]="'PHARMACY.UNABLE_TO_FIND_SUPPLIER_CLICK_TO' | translate"></a>
                <a *ngIf="loading == true" style="z-index:initial" [title]="'PHARMACY.SUPPLIER_IS_LOADING' | translate">
                  <i class="fa fa-spinner"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 padding-set">
          <div class="row no-gutters">
            <div [ngClass]="{'alert alert-warning':duplicateInvoice}" style="padding:0px!important;margin:0px!important">
              <label class="col-md-4 col-sm-5">{{ 'PHARMACY.INVOICE' | translate }}<sup>*</sup> <b>:</b></label>
              <div class="col-md-8 col-sm-7">
                <input type="text" [(ngModel)]="goodsReceiptVM.goodReceipt.InvoiceNo" name="InvoiceNo" id="InvoiceId" [ngModelOptions]="{standalone: true}" [placeholder]="'PHARMACY.INVOICE_NO' | translate" style="width:100%" (keyup.enter)="SetFocusById('btn_AddNew')" class="form-control mb-0" (change)="OnInvoiceChange()">
              </div>
              <div class="color-red font-sm" *ngIf="duplicateInvoice">
                <i class="fa fa-warning"></i>{{ 'PHARMACY.DUPLICATE_INVOICE_NO_NOT_ALLOWED' | translate }}
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-3 padding-set ml20">
          <div class="row">
            <label class="col-md-5">{{ 'PHARMACY.PAYMENT_MODE' | translate }}<sup>*</sup> <b>:</b></label>
            <div class="form-group col-md-7  mt-0">
              <select [(ngModel)]="goodsReceiptVM.goodReceipt.TransactionType" type="text" name="TransactionType" style="width:100%" [ngModelOptions]="{standalone: true}" placeholder="" class="form-control mb-0" id="paymentMode">
                <option value="cash">{{ 'PHARMACY.CASH' | translate }} </option>
                <option value="credit">{{ 'PHARMACY.CREDIT' | translate }} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row no-gutters">
            <label class="col-md-6">{{ 'PHARMACY.CREDIT_PERIOD' | translate }} <b>:</b></label>
            <div class="col-md-6">
              <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.CreditPeriod" name="CreditPeriod" id="CreditPeriod" style="width:100%" (keyup.enter)="IsPOorder ? SetFocusById('editButton0') : SetFocusById('btn_AddNew')" [ngModelOptions]="{standalone: true}" placeholder="Credit Period" class="form-control mb-0" (ngModelChange)="OnCreditPeriodChange()" />
              <div *ngIf="checkCreditPeriod" class="color-red font-sm">{{ 'PHARMACY.CREDIT_PERIOD_MUST_BE_POSITIVE_AND' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>

  <div class="col-md-12">
    <div class="table-responsive" #tblResWrapper>
      <table class="table table-bordered inv_table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>{{ 'PHARMACY.GENERIC_NAME' | translate }}</th>
            <th>{{ 'PHARMACY.ITEM_NAME' | translate }}</th>
            <th>{{ 'PHARMACY.BATCH_NO' | translate }}</th>
            <th>{{ 'PHARMACY.RACK_NO' | translate }}</th>
            <th *ngIf="!isExpiryNotApplicable">{{ 'PHARMACY.EXP_DATE' | translate }}</th>
            <th *ngIf="IsPOorder || (IsGRedit && goodsReceiptVM.goodReceipt.PurchaseOrderId != null)">{{ 'PHARMACY.PENDING_QTY' | translate }} </th>
            <th *ngIf="IsPkgitem">{{ 'PHARMACY.PACKING' | translate }}</th>
            <th *ngIf="IsPkgitem">{{ 'PHARMACY.PACKING_QTY' | translate }}</th>
            <th *ngIf="!IsPkgitem">{{ 'PHARMACY.ITEM_QTY' | translate }}</th>
            <th *ngIf="showFreeQty">{{ 'PHARMACY.FREE_QTY' | translate }} </th>
            <th *ngIf="showFreeQty">{{ 'PHARMACY.TOTAL_QTY' | translate }} </th>
            <th *ngIf="IsPkgitem"> {{ 'PHARMACY.STRIP_RATE' | translate }} </th>
            <th *ngIf="!IsPkgitem">{{ 'PHARMACY.RATE' | translate }}</th>
            <th>{{ 'PHARMACY.MARGIN' | translate }}</th>
            <th *ngIf="IsPkgitem">{{ 'PHARMACY.STRIP_SALEPRICE' | translate }}</th>
            <th *ngIf="!IsPkgitem"> {{ 'PHARMACY.SALEPRICE' | translate }}</th>
            <th *ngIf="showFreeQty">{{ 'PHARMACY.FREE_AMT' | translate }}</th>
            <th *ngIf="showCCCharge">{{ 'PHARMACY.CC_CHARGE' | translate }}</th>
            <th>{{ 'PHARMACY.SUB_TOTAL' | translate }}</th>
            <th *ngIf="isItemLevelDiscountApplicable">{{ 'PHARMACY.DISCOUNT_AMT' | translate }}</th>
            <th>{{ 'PHARMACY.VAT_AMT' | translate }}</th>
            <th>{{ 'PHARMACY.TOTAL_AMOUNT' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <!--class="alert alert-warning"-->
          <tr *ngFor="let row of grItemList; let i = index" [style.background-color]="row.VATAmount > 0 ? '#f6f696' : 'none'" [ngClass]="{'alert alert-warning':HasDuplicateItems(row.ItemId,i)}">
            <td [title]="'PHARMACY.DELETE_RECORD' | translate">
              <div *ngIf="i>=0 && grItemList[i].ItemId !== 0">
                <a (click)="DeleteGrItemRow(i)">
                  <i class="fa fa-times fa-2x" style="color: red;" aria-hidden="true"></i>
                </a>
              </div>
            </td>
            <td [title]="'PHARMACY.EDIT_RECORD' | translate">
              <div *ngIf="i>=0 && grItemList[i].ItemId !== 0">
                <button id="editButton{{i}}" (click)="EditRow(i)" style="border: none; background: none;"><i class="fa fa-edit" style="font-size:20px;color: blue;"></i></button>
              </div>
            </td>
            <td>
              {{row.GenericName}}
            </td>
            <td>
              {{row.ItemName}}
            </td>
            <td>
              {{row.BatchNo}}
            </td>
            <td>
              {{row.RackNo}}
            </td>
            <td *ngIf="!isExpiryNotApplicable">
              {{row.ExpiryDate}}
            </td>
            <td *ngIf="IsPOorder || (IsGRedit && goodsReceiptVM.goodReceipt.PurchaseOrderId != null)">
              {{row.PendingQuantity}}
            </td>
            <td *ngIf="IsPkgitem">
              {{row.PackingName}}
            </td>
            <td *ngIf="IsPkgitem">
              {{row.PackingQty}}
            </td>
            <td *ngIf="!IsPkgitem">
              {{row.ItemQTy}}
            </td>
            <td *ngIf="showFreeQty">
              {{row.FreeQuantity}}
            </td>
            <td *ngIf="showFreeQty">
              {{row.ItemQTy + row.FreeQuantity}}
            </td>
            <td *ngIf="IsPkgitem">
              {{row.StripRate}}
            </td>
            <td *ngIf="!IsPkgitem">
              {{row.GRItemPrice}}
            </td>
            <td>
              {{row.AdjustedMargin}}
            </td>
            <td *ngIf="IsPkgitem">
              {{row.StripMRP}}
            </td>
            <td *ngIf="!IsPkgitem">
              {{row.SalePrice}}
            </td>
            <td *ngIf="showFreeQty">
              {{row.CCAmount}}
            </td>
            <td *ngIf="showCCCharge">
              {{row.CCCharge}}
            </td>
            <td>{{row.SubTotal | number: "1.2-4"}}</td>
            <td *ngIf="isItemLevelDiscountApplicable">{{row.DiscountAmount | number: "1.2-4"}}</td>
            <td>{{row.VATAmount | number: "1.2-4"}}</td>
            <td>{{row.TotalAmount | number: "1.2-4"}}</td>
          </tr>
        </tbody>
      </table>
      <tr>
        <td [title]="'PHARMACY.ADD_NEW_ITEM' | translate" *ngIf="itemList && itemList.length">
          <button id="btn_AddNew" class="btn green btn-success" (click)="AddGRItemPopUp()" tabindex="1"><i class="fa fa-plus" style="width: auto;"></i> Add New Item</button>
        </td>
        <td>
          <div style="margin-left: 20px; color: blue; font-size: 15px;">
            <b>{{ 'PHARMACY.ITEMS_COUNT' | translate }}:</b>&nbsp;
            <label *ngIf="grItemList && grItemList.length>0">
              <b style="font-size: 15px;">{{grItemList.length}}</b>
            </label>
            <label *ngIf="!grItemList || grItemList.length==0">
              <b style="font-size: 15px;">0</b>
            </label>
          </div>
        </td>
      </tr>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="mt20 t-wrap">
          <table class="inv_table">
            <tr class="form-group">
              <td> {{ 'PHARMACY.TAXABLE_SUB_TOTAL' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.TaxableSubTotal" [ngModelOptions]="{standalone:true}" disabled min="0" name="subtotal" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>
            <tr class="form-group">
              <td> {{ 'PHARMACY.NONTAXABLE_SUB_TOTAL' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.NonTaxableSubTotal" [ngModelOptions]="{standalone:true}" disabled min="0" name="subtotal" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>
            <tr class="form-group">
              <td> {{ 'PHARMACY.SUB_TOTAL' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.SubTotal" [ngModelOptions]="{standalone:true}" disabled min="0" name="subtotal" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>
            <tr class="form-group" *ngIf="isMainDiscountApplicable">
              <td>{{ 'PHARMACY.DISCOUNT_PERCENT' | translate }}: </td>
              <td>
                <div class="form-group">
                    <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.DiscountPercentage" tabindex="2" (focusout)="CalculationForPHRMGoodsReceipt(goodsReceiptVM.goodReceipt.DiscountPercentage,0)" min="0" name="DiscountPercentage" class="form-control" value="{{0}}" [disabled]="!isMainDiscountApplicable" onClick="this.select();" onwheel=this.blur() (keyup.enter)="setFocusById('discountAmount')">
                    <!-- <span class="color-red font-sm" *ngIf="throwError"> {{ 'PHARMACY.DISCOUNT_RANGE_0100' | translate }} </span> -->
                    <div style="color:red" *ngIf="invalidDiscountPercentage">
                      {{ 'PHARMACY.DISCOUNT_RANGE_0100' | translate }}
                    </div>
                </div>
              </td>
            </tr>
            <tr class="form-group" *ngIf="isMainDiscountApplicable">
              <td>{{ 'PHARMACY.DISCOUNT_AMOUNT' | translate }}: </td>
              <td>
                <div class="form-group">
                    <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.DiscountAmount" (focusout)="CalculationForPHRMGoodsReceipt(0,goodsReceiptVM.goodReceipt.DiscountAmount)" min="0" name="DiscTotal" class="form-control" value="{{0}}" [disabled]="!isMainDiscountApplicable" onClick="this.select();" (keyup.enter)="setFocusById('remarks')" onwheel=this.blur() id="discountAmount">
                    <div style="color:red" *ngIf="invalidDiscountAmount">
                      {{ 'PHARMACY.MIN_0' | translate }}
                    </div>
                </div>
                </td>
                </tr>
                <tr class="form-group">
                  <td>{{ 'PHARMACY.VAT' | translate }}: </td>
                  <td>
                    <div class="form-group">
                      <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.VATPercentage" (focusout)="OnVATChange(goodsReceiptVM.goodReceipt.VATPercentage,0)" min="0" name="VATTotal" class="form-control" value="{{0}}">
                      <div style="color:red" *ngIf="invalidVATPercentage">
                        {{ 'PHARMACY.VAT_RANGE_0100' | translate }}
                      </div>
                </div>
              </td>
            </tr>
            <tr class="form-group">
              <td>{{ 'PHARMACY.VAT_TOTAL' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.VATAmount" (focusout)="OnVATChange(0,goodsReceiptVM.goodReceipt.VATAmount)" min="0" name="VATTotal" class="form-control" value="{{0}}">
                  <div style="color:red" *ngIf="invalidVATAmount">
                    {{ 'PHARMACY.MIN_0' | translate }}
                  </div>
                  </div>
                  </td>
                  </tr>
                  <tr class="form-group">
                    <td>{{ 'PHARMACY.CC_CHARGE' | translate }}: </td>
                    <td>
                      <div class="form-group">
                        <input type="number" disabled [(ngModel)]="goodsReceiptVM.goodReceipt.CCAmount" [ngModelOptions]="{standalone:true}" min="0" name="VATTotal" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>
            <tr class="form-group">
              <td> {{ 'PHARMACY.ADJUSTMENT' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.Adjustment" [ngModelOptions]="{standalone:true}" disabled min="0" name="Adjustment" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>
            <tr class="form-group">
              <td> {{ 'PHARMACY.TOTAL_AMOUNT' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="number" [(ngModel)]="goodsReceiptVM.goodReceipt.TotalAmount" [ngModelOptions]="{standalone:true}" disabled min="0" name="totalamount" class="form-control" value="{{0}}">
                </div>
              </td>
            </tr>


            <tr class="form-group">
              <td>{{ 'COMMON.REMARKS' | translate }}: </td>
              <td>
                <div class="form-group">
                  <input type="text" [(ngModel)]="goodsReceiptVM.goodReceipt.Remarks" [ngModelOptions]="{standalone:true}" name="remarks" class="form-control" id="remarks" (keyup.enter)="IsGRedit ? setFocusToBtnById('updateGr') : setFocusToBtnById('saveGr')" />
                </div>
              </td>
            </tr>
            <tr class="dot">
              <td colspan="2" class="text-capitalize" style="color: blue; font-weight: bold;
              ">
                {{ 'PHARMACY.IN_WORDS' | translate }} :
                <b>{{goodsReceiptVM.goodReceipt.TotalAmount | NumberInWords}} </b>{{ 'PHARMACY.ONLY' | translate }} <br /><br />
              </td>
            </tr>
          </table>
          <div class="form-group clearfix">
            <div class="text-right mt20">
              <button id="saveGr" *ngIf="!IsGRedit" class="btn green btn-success tooltip" [title]="'PHARMACY.ALT_P' | translate" (click)="SaveGoodsReceipt()" [disabled]="loading"> <u>{{ 'PHARMACY.P' | translate }}</u>{{ 'PHARMACY.RINT_RECEIPT' | translate }} </button>
              <button id="updateGr" *ngIf="IsGRedit" class="btn green btn-success tooltip" [title]="'PHARMACY.ALT_P' | translate" (click)="EditGR()" [disabled]="loading">{{ 'PHARMACY.U' | translate }}<u>{{ 'PHARMACY.P' | translate }}</u>{{ 'PHARMACY.DATE_RECEIPT' | translate }} </button>
              <span></span>
              <button class="btn btn-danger" (click)="DiscardGoodsReceipt()">{{ 'COMMON.DISCARD' | translate }}</button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<phrm-supplier-add *ngIf="showAddSupplierPopUp" [showAddPage]="showAddSupplierPopUp" (callback-add)="OnNewSupplierAdded($event)">
</phrm-supplier-add>


<div *ngIf="showAddGRPage || showUpdateGRPage">
  <phrm-add-goods-receipt-item (callback-update)="CallBackUpdateGRItem($event)" (callback-add)="OnNewGRItemAdded($event)" (popup-close)="OnPopupClose($event)" #grItemPop [PackingList]="packingtypeList" [all-items-list]="itemList">
  </phrm-add-goods-receipt-item>
</div>


<div *ngIf="showNepaliReceipt; else englishReceipt">
  <!-- Nepali GR VIEW-->
  <app-phrm-gr-view-np *ngIf="showGRReceipt" [showPopUp]="showGRReceipt" [goodsReceiptId]="goodsReceiptIdForPrint" [canUserModify]="false" (popup-close-event)="OnGRViewPopUpClose()"></app-phrm-gr-view-np>
</div>
<ng-template #englishReceipt>
  <div>
    <!-- English GR View -->
    <goods-receipt-view *ngIf="showGRReceipt" [showPopUp]="showGRReceipt" [goodsReceiptId]="goodsReceiptIdForPrint" [canUserModify]="false" (popup-close-event)="OnGRViewPopUpClose()"></goods-receipt-view>
  </div>
</ng-template>