<!-- <div class="row">
  <div class="col-md-3 col-md-offset-1">
    <button class="btn btn-default btn-sm" (click)="GoBackToOrganizationDepositPage()">
      <i class="fa fa-backward"></i> &nbsp;&nbsp;Back </button>
  </div>
</div> -->

<div id="id_organizationalDepositPrint_page" class="form-horizontal hm-form" style="margin-top: 20px;">
  <div class="row">
    <div>
      <div class="form-body">
        <div id="id_organizationDeposit_print" style="text-align:center;">
          <div class="receipt">
            <billing-header></billing-header>
            <div class="text-center">
              <p class="no-margin" style="text-align:center;text-decoration:underline;margin-top:15px">
                <span>
                  <b *ngIf="organizationDeposit.TransactionType === 'Deposit'">{{ 'UTILITIES.DEPOSIT_ADD_RECEIPT' | translate }} </b>
                  <b *ngIf="organizationDeposit.TransactionType === 'ReturnDeposit'">{{ 'UTILITIES.DEPOSIT_REFUND_RECEIPT' | translate }} </b>
                </span>
              </p>
            </div>
            <hr style="border-top: dotted 1px;" />
            <div class="height: fit-content; width: 100%;" style="text-align:left; margin-left:20px;">
              <div>
                <p>
                  {{ 'UTILITIES.ORGANIZATION' | translate }}: &nbsp;{{organizationDeposit.CreditOrganizationName}}
                </p>
              </div>
              <div>
                <p>
                  {{ 'UTILITIES.REPRESENTATIVE' | translate }}: &nbsp; {{organizationDeposit.CareOf}}
                </p>
              </div>
              <div>
                <p *ngIf="organizationDeposit.TransactionType=='Deposit'">
                  {{ 'UTILITIES.DEPOSIT_AMOUNT' | translate }}: Rs. {{organizationDeposit.InAmount}}
                </p>
              </div>
              <div>
                <p *ngIf="organizationDeposit.TransactionType=='ReturnDeposit'">
                  {{ 'UTILITIES.RETURN_AMOUNT' | translate }}: Rs. {{organizationDeposit.OutAmount}}
                </p>
              </div>
            </div>
            <div class="clear"></div>

            <div class="height: fit-content; width: 100%;" style="text-align:left; margin-left:20px;">
              <p *ngIf="organizationDeposit.TransactionType=='Deposit'">
                {{ 'UTILITIES.DEPOSIT_OF' | translate }} <b>{{organizationDeposit.InAmount}}</b>
                {{ 'UTILITIES.RECEIVED_FROM' | translate }} <b>{{organizationDeposit.CreditOrganizationName}}</b>
                <br>
                {{ 'UTILITIES.IN_WORDS' | translate }}: {{ organizationDeposit.InAmount | NumberInWords}} {{ 'UTILITIES.ONLY' | translate }} /-
              </p>
              <p *ngIf="organizationDeposit.TransactionType=='ReturnDeposit'">
                {{ 'UTILITIES.DEPOSIT_OF' | translate }} <b>{{organizationDeposit.OutAmount }}</b>
                {{ 'UTILITIES.RETURNED_TO' | translate }} <b>{{organizationDeposit.CreditOrganizationName}}</b>
                <br>
                {{ 'UTILITIES.IN_WORDS' | translate }}: {{organizationDeposit.OutAmount | NumberInWords}} {{ 'UTILITIES.ONLY' | translate }} /-
              </p>
            </div>
            <div class="clear"></div>
            <div class="height: fit-content; width: 100%;" style="text-align:left; margin-left:20px;">
              <p>
                {{ 'UTILITIES.DEPOSIT_BALANCE' | translate }}: &nbsp;<b>{{organizationDeposit.DepositBalance}}</b>
              </p>
              <p>
                {{ 'GRID_HEADERS.REMARKS' | translate }}:&nbsp; {{organizationDeposit.Remarks}}
              </p>
              <p>
                {{ 'GRID_HEADERS.PAYMENT_MODE' | translate }}: &nbsp;{{organizationDeposit.PaymentMode}}
              </p>
              <p *ngIf="organizationDeposit.PaymentDetails !== null">
                {{ 'UTILITIES.PAYMENT_DETAILS' | translate }}: &nbsp;{{organizationDeposit.PaymentDetails}}
              </p>
            </div>
            <hr style="border-top: dotted 1px;" />
            <div class="height: fit-content; width: 100%;" style="text-align:left; margin-left:20px;">
              <p *ngIf="organizationDeposit.TransactionType=='Deposit'">
                {{ 'UTILITIES.DEPOSITED_BY' | translate }}: {{CurrentUser.UserName}} {{ 'UTILITIES.ON' | translate }} {{DateTimeNow}}
              </p>
              <p *ngIf="organizationDeposit.TransactionType=='ReturnDeposit'">
                {{ 'UTILITIES.RETURNED_BY' | translate }}: {{CurrentUser.UserName}} {{ 'UTILITIES.ON' | translate }} {{DateTimeNow}}
              </p>
            </div>

          </div>
        </div>
        <div class="height: fit-content; width: 100%;">
          <p style="text-align:center; background-color:white">
            <button class="btn blue" (click)="Print()">
              {{ 'UTILITIES.PRINT_RECEIPT' | translate }}
              <i class="glyphicon glyphicon-print"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print-page *ngIf="openBrowserPrintWindow" [print-data]="browserPrintContentObj">
</app-print-page>