<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="ShowAddPage">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="modelbox-div clearfix">
                    <div class="caption custom-caption">
                        <h3> <span *ngIf="!IsUpdate">{{ 'SETTINGS_NEW.ADD_NEW_VARIABLE' | translate }}</span> <span *ngIf="IsUpdate">Update
                                Variable</span>
                        </h3>
                        <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a>
                    </div>
                    <form class="form-horizontal hm-form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.PARAMETER_TYPE' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <select class="form-control" (change)="AssignSelecteParameterType($event)"
                                            [(ngModel)]="CurrentIntakeOutput.ParameterType"
                                            [ngModelOptions]="{standalone: true}" [disabled]="IsUpdate">
                                        <option value="Intake">{{ 'SETTINGS_NEW.INTAKE' | translate }}</option>
                                        <option value="Output">{{ 'SETTINGS_NEW.OUTPUT' | translate }}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'SETTINGS_NEW.PARAMETER_VALUE' | translate }}<sup>*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="30" type="text" id="ParameterValue" value=""
                                           [placeholder]="'SETTINGS_NEW.PARAMETER_VALUE' | translate" [(ngModel)]="CurrentIntakeOutput.ParameterValue"
                                           [ngModelOptions]="{standalone: true}" />
                                    <br />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!IsParent">
                                <label class="control-label col-md-5"> {{ 'SETTINGS_NEW.PARENT_PARAMETER_VALUE' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <select [placeholder]="'SETTINGS_NEW.UNIT' | translate" class="form-control cstm-form-control"
                                            (change)="AssignSelectedParent()" [(ngModel)]="selectedParentParameter"
                                            [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let data of AllParentIntakeOutput" [ngValue]="data">
                                            {{data.ParameterValue}} </option>

                                    </select>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="button" *ngIf="!IsUpdate" id="add" class="btn green btn-success margin-7-hr"
                                   (click)="Add()" [value]="'SETTINGS_NEW.ADD' | translate" />
                            <input type="button" id="update" class="btn green btn-success margin-7-hr" *ngIf="IsUpdate"
                                   (click)="Update()" [value]="'COMMON.UPDATE' | translate" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>