<style>
  .printStyle {
    border: dotted 1px;
    margin: 10px 100px;
  }

  .print-border-top {
    border-top: dotted 1px;
  }

  .print-border-bottom {
    border-bottom: dotted 1px;
  }

  .print-border {
    border: dotted 1px;
  }

  .center-style {
    text-align: center;
  }

  .border-up-down {
    border-top: dotted 1px;
    border-bottom: dotted 1px;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="left">
      <button class="btn btn-primary btn-sm" (click)="requisitionList()"><i class="fa fa-backward"></i>&nbsp;{{ 'WARD_SUPPLY.BACK_TO_REQUISITION_LIST' | translate }}</button>
    </div>
    <div class="right">
      <button class="btn btn-primary btn-sm" (click)="print()"><i class="fa fa-print"></i>&nbsp;{{ 'COMMON.PRINT' | translate }}</button>
    </div>
  </div>
</div>
<app-requisition-np-view *ngIf="showNepaliReceipt else EnglishReceiptView" [requisition-id]="requisitionId" [module-type]="'fixedasset-substore'">
</app-requisition-np-view>
<ng-template #EnglishReceiptView>
  <div id="printpage" class="row printStyle print-border">
    <div style="text-align:center;">
      <div class="col-md-12">
        <print-header [unit-name]="'Inventory Unit'"></print-header>
        <div class="clear"></div>
        <div class="left" style="text-align:left;">
          <p>{{ 'WARD_SUPPLY.REQUISITION_NO' | translate }}:<b> {{requisitionNo}}</b></p>
        </div>
        <div class="right" style="text-align:right;">
          <p *ngIf="issueNo!=null">{{ 'WARD_SUPPLY.ISSUE_NO' | translate }}:<b> {{issueNo}}</b></p>
          <p>{{ 'WARD_SUPPLY.REQUISITION_DATE' | translate }}:<b> {{requisitionDate}}</b> <i *ngIf="requisitionDate"> 
              {{requisitionDate | nepaliDate:'format':'YYYY-MM-DD'}}  </i> </p>
        </div>
        <div class="clear"></div>
        <p class="text-center btm-pad border-up-down"><b> {{ 'WARD_SUPPLY.REQUISITION_DETAILS_PRINT' | translate }}</b></p>
        <div class="clear"></div>
        <div class="clear footer"></div>
        <div>
          <table class="table table-striped table-hover req_table" style="background-color:initial;margin-top:10px;width:100%">
            <thead>
              <tr style="font-weight: bold;text-align:center">
                <td>{{ 'WARD_SUPPLY.ITEM_NAME' | translate }}</td>
                <td>{{ 'GRID_HEADERS.CODE' | translate }}</td>
                <td>{{ 'WARD_SUPPLY.QUANTITY' | translate }}</td>
                <td>{{ 'WARD_SUPPLY.RECEIVED_QTY' | translate }}</td>
                <td>{{ 'WARD_SUPPLY.PENDING_QTY' | translate }}</td>
                <td>{{ 'COMMON.STATUS' | translate }}</td>
                <td>{{ 'COMMON.REMARKS' | translate }}</td>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center" *ngFor="let row of requisitionItemsDetails">
                <td>{{row.ItemName}}</td>
                <td>{{row.Code}}</td>
                <td>{{row.Quantity}}</td>
                <td>{{row.ReceivedQuantity}}</td>
                <td>{{row.PendingQuantity}}</td>
                <td>{{row.RequisitionItemStatus}} <span *ngIf="row.IsActive == false" id="CancellationToolTip" class="tooltip"> <span class="fa fa-info" style="margin-left:5px;padding: 3px 6px 3px 6px;background-color: #c8c8d2;border-radius: 9px;">
                    </span>
                    <p class="tooltiptext ttptextdown no-print"> {{ 'WARD_SUPPLY.CANCELLED_BY' | translate }}:&nbsp;{{row.CancelBy}}<br />
                      {{ 'WARD_SUPPLY.CANCELLED_ON' | translate }}:&nbsp;{{row.CancelOn | date : 'medium'}}<br />
                      <em *ngIf="!!row.CancelRemarks">{{ 'COMMON.REMARKS' | translate }}:&nbsp;{{row.CancelRemarks}}</em>
                    </p>
                  </span></td>
                <td><b>{{row.Remark}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="col-md-12" style="font-size:12px">
          <div class="col-md-12 text-left" *ngIf="!!mainRemarks">
            <span class="col-md-2">{{ 'COMMON.REMARKS' | translate }}:&nbsp;</span><span>{{mainRemarks}}</span>
          </div>
          <div class="col-md-12 text-left">
            <div class="col-md-2" style="text-align: left;padding:0px;">
              <div><u>{{ 'WARD_SUPPLY.REQUESTED_BY' | translate }}</u>:</div>
              <div>{{createdby}}</div>
              <div>{{requisitionDate | date : 'mediumDate'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<app-print-page *ngIf="showPrint" [print-data]="printDetaiils" (print-sucess)="callBackPrint()"></app-print-page>