<div class="popup-static portlet box portlet-fullscreen" *ngIf="showAddPage">

    <div class="portlet-body form" style="background-color:white">
        <form [formGroup]="CurrentLeave.LeaveCategoryValidator" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-8 col-sm-10 col-xs-10 modelbox-div" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue;">
                                <h3>
                                    <span *ngIf="!update">{{ 'PAYROLL.CREATE_LEAVE_CATEGORY' | translate }}</span>
                                    <span *ngIf="update">{{ 'PAYROLL.UPDATE_LEAVE_CATEGORY' | translate }}</span>
                                </h3>

                            </div>
                            <a style="float:right;  margin-top:-32px;" class="btn btn-danger" (click)="Close()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>

                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8" style="margin-right: 24px;">


                                <div class="form-group">
                                    <label class="control-label col-md-5">{{ 'PAYROLL.LEAVE_CATEGORY' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <input class="form-control" maxlength="30" type="text"
                                               [(ngModel)]="CurrentLeave.LeaveCategoryName"
                                               formControlName="LeaveCategoryName"
                                               id="LeaveCategoryName"
                                               placeholder="{{ 'PAYROLL.LEAVE_CATEGORY' | translate }}" />

                                        <span class="color-red font-sm" [hidden]="CurrentLeave.IsValidCheck('LeaveCategoryName','required') || !(CurrentLeave.IsDirty('LeaveCategoryName'))">{{ 'PAYROLL.LEAVE_CATEGORY_NAME_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentLeave.IsDirty('LeaveCategoryName')" [hidden]="CurrentLeave.IsValidCheck('LeaveCategoryName','maxlength')">{{ 'PAYROLL.LENGTH_IS_NOT_PROPER' | translate }}</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">{{ 'PAYROLL.LEAVE_CATEGORY_CODE' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <input class="form-control" maxlength="30" type="text"
                                               [(ngModel)]="CurrentLeave.CategoryCode"
                                               formControlName="CategoryCode"
                                               id="CategoryCode"
                                               placeholder="{{ 'PAYROLL.LEAVE_CATEGORY_CODE' | translate }}" />
                                        <span class="color-red font-sm" [hidden]="CurrentLeave.IsValidCheck('CategoryCode','required') || !(CurrentLeave.IsDirty('CategoryCode'))">{{ 'PAYROLL.VOUCHER_CODE_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentLeave.IsDirty('CategoryCode')" [hidden]="CurrentLeave.IsValidCheck('CategoryCode','maxlength')">{{ 'PAYROLL.LENGTH_IS_NOT_PROPER' | translate }}</span>
                                     </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-5">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <input class="form-control" maxlength="100" type="text"
                                               [(ngModel)]="CurrentLeave.Description"
                                               formControlName="Description"
                                               id="Description"
                                               placeholder="{{ 'GRID_HEADERS.DESCRIPTION' | translate }}" />

                                        <span class="color-red font-sm" [hidden]="CurrentLeave.IsValidCheck('Description','required') || !(CurrentLeave.IsDirty('Description'))">{{ 'PAYROLL.VOUCHER_DESCRIPTION_REQUIRED' | translate }}</span>
                                        <span class="color-red font-sm" *ngIf="CurrentLeave.IsDirty('Description')" [hidden]="CurrentLeave.IsValidCheck('Description','maxlength')">{{ 'PAYROLL.LENGTH_IS_NOT_PROPER' | translate }}</span>

                                    </div>
                                </div>



                                <div class="form-actions" *ngIf="!update">
                                    <input type="button" class="btn btn-primary" (click)="AddLeaveCategory()" value="{{ 'PAYROLL.ADD_LEAVE_CATEGORY' | translate }}" />
                                 </div>
                                 <div class="form-actions" *ngIf="update">
                                    <input type="button" class="btn btn-primary" (click)="UpdateLeaveCategory()" value="{{ 'PAYROLL.UPDATE_LEAVE_CATEGORY' | translate }}" />
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
