<style>
  textarea {
    resize: vertical;
  }

  .clp.clp-hd {
    margin-bottom: 0px !important;
  }

  .each-card {
    background: #fbfbfb;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal">
      <div class="form-body">

        <h3 class="text-head" style="text-align:center">{{ 'CLINICAL.PROGRESS_NOTE_TITLE' | translate }}</h3>


        <div class="form-group">
          <label class="control-label col-md-4">{{ 'CLINICAL.SUBJECTIVE_NOTES_SOAP' | translate }}<b style="float:right;">:</b></label>

          <div class="col-md-8">
            <textarea class="form-control" (focusout)="Focusit()" [(ngModel)]="progressNote.SubjectiveNotes" [ngModelOptions]="{standalone: true}" maxlength="2000" rows="5" cols="80"></textarea>

          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">{{ 'CLINICAL.OBJECTIVE_NOTES_SOAP' | translate }}<b style="float:right;">:</b></label>

          <div class="col-md-8">
            <textarea class="form-control" (focusout)="Focusit()" [(ngModel)]="progressNote.ObjectiveNotes" [ngModelOptions]="{standalone: true}" maxlength="2000" rows="5" cols="80"></textarea>

          </div>
        </div>
        <!-- This is no longer in use -->
        <!-- <div class="form-group">
          <label class="control-label col-md-4">Assessment/Plan<b style="float:right;">:</b></label>

          <div class="col-md-8">
            <textarea class="form-control" (focusout)="Focusit()" [(ngModel)]="progressNote.AssessmentPlan" [ngModelOptions]="{standalone: true}" maxlength="2000" rows="5" cols="80"></textarea>

          </div>
        </div> -->

        <div class="form-group">
          <label class="control-label col-md-4">{{ 'CLINICAL.INSTRUCTIONS_SOAP' | translate }}<b style="float:right;">:</b></label>

          <div class="col-md-8">
            <textarea class="form-control" (focusout)="Focusit()" [(ngModel)]="progressNote.Instructions" [ngModelOptions]="{standalone: true}" maxlength="2000" rows="5" cols="80"></textarea>

          </div>
        </div>
      </div>

    </form>

  </div>
</div>