<div class="wrapper">
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <div class="caption lb-caption">
        <!-- <i class="glyphicon glyphicon-asterisk font-green-turquoise"></i> -->
        <span class="caption-subject">{{ 'LABS.REPORT_DISPATCH' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <label style="vertical-align: top;margin-top: 10px; margin-right: 10px;">{{ 'LABS.REQUEST_DATE' | translate }} </label>
      <div style="display: inline-block;">
        <from-to-date-select (on-change)="OnFromToDateChange($event)"> </from-to-date-select>
      </div>
    </div>
    <div class="col-md-5 col-xs-12">
      <div class="row">
        <label class="col-md-3 text-right" style="line-height: 3;">{{ 'LABS.CATEGORY' | translate }}</label>
        <div class="col-md-6">
          <div class="row">
            <div style="display: inline-block; width: 100%;">
              <lab-category-select (selected-category-list)="CategoryOnChange($event)"></lab-category-select>
            </div>
          </div>


        </div>

        <div class="col-md-3">
          <button [disabled]="loading" class="btn green btn-success pull-right" (click)="GetPendingReportList();">{{ 'LABS.LOAD' | translate }}
            <i class="fa fa-refresh"></i></button>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <input id="searchBxLabReport" class="custom-table-search" [(ngModel)]="searchString" onclick="this.select();"
            [placeholder]="'LABS.SEARCH_BY_HOSPITAL_NO_OR_PATIENT_NAME' | translate">
        </div>
        <div class="col-md-7">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table table-responsive dispatch-report-table">
        <thead class="table-header-bg">
          <tr>
            <th scope="col" style="width: 50px;">{{ 'COMMON.SN' | translate }}</th>
            <th scope="col" class="wd-130"> {{ 'GRID_HEADERS.HOSPITAL_NO_' | translate }} </th>
            <th scope="col" class="wd-270"> {{ 'GRID_HEADERS.PATIENT_NAME' | translate }} </th>
            <th scope="col" class="wd-80"> {{ 'GRID_HEADERS.AGE_SEX' | translate }} </th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let report of reportListFiltered | searchFilter: searchString | async| paginate: {id: 'listing_pagination', itemsPerPage: 20, currentPage: page } ; let i = index;">
            <tr class="hover-effect" [ngClass]="report.IsSelected ? 'highlightbg':'donthighlight'"
              (click)="SelectUnselectRow(report)">
              <td class="wd-60"> {{((page-1) * 20) + i+1}} </td>
              <td class="wd-130"> {{report.PatientCode}} </td>
              <td class="wd-270"> {{report.PatientName}} </td>
              <td class="wd-80"> {{GetFormattedAgeSex(report.DateOfBirth,report.Gender)}} </td>
            </tr>
          </ng-container>


        </tbody>
      </table>

      <!--pagination div start-->
      <div>
        <pagination-controls id="listing_pagination" (pageChange)="page = $event" style="display: flex; float:right;">
        </pagination-controls>
      </div>
      <!--End of pagination div-->

    </div>
    <div class="col-md-7">
      <lab-report-dispatch-detail *ngIf="showSelectedPatTestDetail" [patientId]="patientId" [fromDate]="fromDate"
        [toDate]="toDate" [catagoryList]="catIdList"> </lab-report-dispatch-detail>
    </div>
  </div>

</div>