<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showAddPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix">
          <div class="caption lb-caption">
            <h3> <span *ngIf="update==false">{{ 'ACCOUNTING.CREATE_VOUCHER_HEAD' | translate }}</span> <span *ngIf="update==true">{{ 'ACCOUNTING.UPDATE_VOUCHER_HEAD' | translate }}</span> </h3>
            <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a> </div>
      <form [formGroup]="CurrentVoucherhead.VoucherHeadValidator" class="form-horizontal hm-form">
          <div class="form-body">
        <div class="form-group">
                      <label class="control-label col-md-5">{{ 'ACCOUNTING.VOUCHER_HEAD_NAME' | translate }}<sup>*</sup><b>:</b></label>
                      <div class="col-md-7">
                        <input class="form-control" maxlength="30" type="text"
                                               [(ngModel)]="CurrentVoucherhead.VoucherHeadName"
                                               formControlName="VoucherHeadName"
                                               id="VoucherHeadName"
                                               [placeholder]="'ACCOUNTING.VOUCHER_HEAD_NAME' | translate" />
                        <span class="color-red font-sm" [hidden]="CurrentVoucherhead.IsValidCheck('VoucherHeadName','required') || !(CurrentVoucherhead.IsDirty('VoucherHeadName'))">{{ 'ACCOUNTING.VOUCHER_HEAD_NAME_REQUIRED' | translate }}</span> <span class="color-red font-sm" *ngIf="CurrentVoucherhead.IsDirty('VoucherHeadName')" [hidden]="CurrentVoucherhead.IsValidCheck('VoucherHeadName','maxlength')"> {{ 'ACCOUNTING.LENGTH_NOT_PROPER' | translate }}</span> </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-5">{{ 'ACCOUNTING.DESCRIPTION' | translate }}<b>:</b></label>
                      <div class="col-md-7">
                        <input class="form-control" maxlength="30" type="text"
                                               [(ngModel)]="CurrentVoucherhead.Description"
                                               [ngModelOptions]="{standalone: true}"
                                               id="Description"
                                               [placeholder]="'ACCOUNTING.DESCRIPTION' | translate" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-5">{{ 'ACCOUNTING.IS_ACTIVE' | translate }} <b>:</b> </label>
                      <div class="col-md-7">
                        <div class="input-group">
                           <div class="icheck-inline">
                            <label class="mt-checkbox mt-checkbox-outline">
                              <input id="isActive"
                                                            type="checkbox"
                                                            [(ngModel)]="CurrentVoucherhead.IsActive"
                                                            [ngModelOptions]="{standalone: true}" />
                              <span></span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div  *ngIf="update==true" class="form-group">
                      <label  class="control-label col-md-5">{{ 'ACCOUNTING.IS_DEFAULT' | translate }}<b>:</b> </label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <div class="icheck-inline">
                            <label class="mt-checkbox mt-checkbox-outline">
                              <input id="isDefault"
                                                            type="checkbox"
                                                            [(ngModel)]="CurrentVoucherhead.IsDefault"
                                                            [ngModelOptions]="{standalone: true}" />
                              <span></span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions">
                      <input type="button" class="btn btn-primary primary-btn"  *ngIf="update==false" (click)="AddVoucherHead();" [value]="'ACCOUNTING.ADD_VOUCHER_HEAD' | translate" />
                      <input type="button" class="btn btn-primary primary-btn"  *ngIf="update==true" (click)="UpdateVoucherHead();" [value]="'COMMON.UPDATE' | translate" />
                    </div>
         <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;"> </div>
            
          </div>
        </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
