<div class="wrapper">
    <div class="col-md-12" *ngIf="IsSchemeDetailLoaded">
        <div class="row">
            <div class="col-md-2">
                <label>{{ 'COMMON.SCHEME' | translate }}: <span>{{SchemePriceCategory.SchemeName}}</span></label>
            </div>
            <div class="col-md-2">
                <label>{{ 'PHARMACY.PRICECATEGORY' | translate }}: <span>{{SchemePriceCategory.DefaultPriceCategoryName}}</span></label>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-striped table-hover inv_table table-bordered">
            <thead>
                <tr>
                    <th><b>{{ 'PHARMACY.REQUESTED_DATE' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.RECEIPT_NO' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.ITEM_NAME' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.BATCH' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.EXPIRY_DATE' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.SALE_PRICE' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.CONSUMPTION_QTY' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.SUBTOTAL' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.DIS' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.DIS_AMT' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.TOTAL_AMOUNT' | translate }}</b></th>
                    <th><b>{{ 'GRID_HEADERS.STORE' | translate }}</b></th>
                    <th><b>{{ 'PHARMACY.USER' | translate }}</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of PatientConsumptionData.PatientConsumptionItems">
                    <td class="autocomplete-item">
                        <span>{{items.CreatedOn|
                            date}}</span>
                    </td>
                    <td>
                        <span>{{items.ConsumptionReceiptNo}}</span>
                    </td>
                    <td><span>{{items.ItemName}}</span>
                    </td>
                    <td><span>{{items.BatchNo}}</span>
                    </td>
                    <td><span>{{items.ExpiryDate | date}}</span>
                    </td>
                    <td><span>{{items.SalePrice}}</span>
                    </td>
                    <td>
                        <span>{{items.RemainingQuantity}}</span>
                    </td>
                    <td><span>{{items.SubTotal}}</span>
                    </td>
                    <td><span>{{items.DiscountPercentage}}</span>
                    </td>
                    <td><span>{{items.DiscountAmount}}</span>
                    </td>
                    <td><span>{{items.TotalAmount}}</span>
                    </td>
                    <td><span>{{items.StoreName}}</span>
                    </td>
                    <td><span>{{items.UserName}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.SUBTOTAL' | translate }}</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.SubTotal" disabled class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.DISCOUNT_PERCENTAGE' | translate }}</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.DiscountPercentage"
                           onClick="this.select();"
                           (focusout)="OnDiscountChange(0,PatientConsumptionData.DiscountPercentage)"
                           class="form-control"
                           id="input_discount_percentage"
                           (keyup.enter)="coreService.FocusInputById('input_tender')"
                           [disabled]="!PatientConsumptionData.IsDiscountApplicable && !PatientConsumptionData.IsCoPayment">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.DISCOUNT_AMOUNT' | translate }}:</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.DiscountAmount"
                           (focusout)="OnDiscountChange(PatientConsumptionData.DiscountAmount,0)"
                           onClick="this.select();"
                           class="form-control"
                           id="input_discount_amount"
                           (keyup.enter)="coreService.FocusInputById('input_tender')"
                           [disabled]="!PatientConsumptionData.IsDiscountApplicable && !PatientConsumptionData.IsCoPayment">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.TOTAL_AMOUNT' | translate }}</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.TotalAmount" disabled class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.IN_WORDS' | translate }}:</label>
                </div>
                <div class="col-md-7">
                    <span>{{PatientConsumptionData.TotalAmount |NumberInWords}} </span>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="PatientConsumptionData.IsCoPayment">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.PAYMENT_MODE' | translate }}</label>
                </div>
                <div class="col-md-7">
                    <input type="text" [(ngModel)]="PatientConsumptionData.CoPaymentMode" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="PatientConsumptionData.IsCoPayment">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.CASH' | translate }}:</label>
                </div>
                <div class="col-md-7">
                    <input disabled [(ngModel)]="PatientConsumptionData.ReceivedAmount"
                           style="font-weight:bold;height: 40px;font-size:30px !important;background-color:#0773bc; color:#fff;margin-bottom: 3px;"
                           class="form-control" name="cash" type="number"
                           (wheel)="coreService.PreventNumberChangeOnScroll($event)"
                           onclick="this.select();"
                           (ngModelChange)="ReceivedAmountChange()"
                           [disabled]="PatientConsumptionData.IsCoPayment ? null : true">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="PatientConsumptionData.IsCoPayment">
            <div class="col-md-12">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.COPAYMENT_INFORMATION' | translate }}</label>
                </div>
                <div class="col-md-7">
                    <span>{{ 'PHARMACY.COPAYCASHAMT' | translate }}: {{PatientConsumptionData.CoPaymentCashAmount}} </span> <br>
                    <span> {{ 'PHARMACY.COPAYCREDITAMT' | translate }}:
                        {{PatientConsumptionData.CoPaymentCreditAmount}}</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="IsSchemeDetailLoaded">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-12">
                    <payment-mode-info
                                       [deposit-balance]="patSummary.DepositBalance"
                                       [default-payment-mode]="SchemePriceCategory.DefaultPaymentMode"
                                       [page-name]="'NewSale'"
                                       [is-coPayment]="SchemePriceCategory.IsCoPayment"
                                       [is-allAmountPaidByPatient]="IsAllAmountPaidByPatient"
                                       [is-credit-only-scheme]="SchemePriceCategory.IsCreditOnlyScheme"
                                       (on-paymentMode-change)="PaymentModeChange($event)"
                                       [default-credit-organization]="SchemePriceCategory.DefaultCreditOrganizationId"
                                       (on-creditOrganization-change)="CreditOrganizationChanges($event)"
                                       [show-deduct-from-deposit]="'true'"
                                       (on-multiple-paymentMode)="MultiplePaymentCallBack($event)"
                                       [disable-paymentMode-dropdown]="DisablePaymentModeDropDown"
                                       [total-amount]="PatientConsumptionData.ReceivedAmount">
                    </payment-mode-info>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="PatientConsumptionData.CoPaymentMode!=='credit'"
             [hidden]="(PatientConsumptionData.PaymentMode === 'credit' ||PatientConsumptionData.PaymentMode === 'credit')">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.TENDER' | translate }}:</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.Tender"
                           (focusout)="OnTenderChange()" class="form-control"
                           [disabled]="PatientConsumptionData.PaymentMode!=='cash'"
                           (wheel)="coreService.PreventNumberChangeOnScroll($event)"
                           (keyup.enter)="coreService.FocusInputById('input_remark')"

                           id="input_tender">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="PatientConsumptionData.CoPaymentMode!=='credit'"
             [hidden]="(PatientConsumptionData.PaymentMode === 'credit' ||PatientConsumptionData.PaymentMode === 'credit')">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'PHARMACY.CHANGE' | translate }}:</label>
                </div>
                <div class="col-md-7">
                    <input type="number" [(ngModel)]="PatientConsumptionData.Change" disabled class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:4px">
                <div class="col-md-5">
                    <label>{{ 'COMMON.REMARKS' | translate }}:<sup *ngIf="PatientConsumptionData.PaymentMode === 'credit'" class="color-red">*</sup></label>
                </div>
                <div class="col-md-7">
                    <input type="text" [(ngModel)]="Remark" class="form-control" id="input_remark"
                           (keyup.enter)="coreService.FocusInputById('btn-save')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right" style="margin-top: 20px;">
                <input DanpheConfirmationDialog
                       type="submit"
                       [title]="confirmationTitle"
                       [message]="confirmationMessage"
                       (confirm)="handleConfirm()"
                       (cancel)="handleCancel()"
                       id="btn-save"
                       class="btn green btn-success"
                       [disabled]="loading"
                       [value]="'PHARMACY.PRINT_INVOICE' | translate">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="invoice-history" *ngIf="patSummary.IsLoaded">
                    <div class="history-title"> <b>{{ 'PHARMACY.INVOICE_HISTORY' | translate }}</b> </div>
                    <table>
                        <tr>
                            <td>{{ 'PHARMACY.DEPOSIT_BALANCE' | translate }} <b class="colon">:</b></td>
                            <td>{{patSummary.DepositBalance}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.CREDIT' | translate }} <b class="colon">:</b></td>
                            <td style="text-decoration:underline;">{{patSummary.CreditAmount}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.PROVISIONAL_AMOUNT' | translate }} <b class="colon">:</b></td>
                            <td style="text-decoration:underline;">{{patSummary.ProvisionalAmt}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.TOTAL_DUE' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.TotalDue}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.BALANCE_AMOUNT' | translate }} <b class="colon">:</b></td>
                            <td style="font-weight: bold;color: red;font-size: 17px;"> {{patSummary.BalanceAmount}} </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="invoice-history" *ngIf="patSummary.IsLoaded">
                    <div class="history-title"> <b>{{ 'PHARMACY.CREDIT_LIMITS_AND_BALANCES' | translate }}</b> </div>
                    <table>
                        <tr>
                            <td>{{ 'PHARMACY.GENERAL_CREDIT_LIMIT' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.GeneralCreditLimit}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.IP_CREDIT_LIMIT' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.IpCreditLimit}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.OP_CREDIT_LIMIT' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.OpCreditLimit}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.IP_BALANCE' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.IpBalance}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'PHARMACY.OP_BALANCE' | translate }}<b class="colon">:</b></td>
                            <td>{{patSummary.OpBalance}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showSaleInvoice">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="modelbox-div clearfix">
                    <a class="btn btn-danger history-del-btn" (click)="OnInvoicePopUpClose()" [title]="'COMMON.CANCEL' | translate"><i class="fa fa-close"></i></a>
                    <div class="form-body">
                        <div class="col-md-12">
                            <div class="row printStyle print-border">
                                <div style="text-align:center;">
                                    <pharmacy-invoice-print [invoice-id]="InvoiceId" (call-back-print)="OnInvoicePopUpClose()">
                                    </pharmacy-invoice-print>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>