<div class="wrapper">
    <div class="row">
        <div class="caption custom-caption" style="margin-left: 10px;">
            <h3 style="color: black;font-size: 20px;"><span><i class="fa fa-file-text-o"></i>{{ 'MATERNITY.MATERNITY_ALLOWANCE_PAYMENT' | translate }}</span></h3>
        </div>
        <br>
        <div>
            <b style="margin-left: 10px;">
                <span>
                    <i class="fa fa-user"></i>{{ 'MATERNITY.PATIENT' | translate }} {{patient.ShortName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span>
                    <i class="fa fa-male"></i>{{ 'MATERNITY.AGE_SEX' | translate }} : {{patient.Age}}
                </span>
                <span>
                    /
                    {{patient.Gender}}
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    <i class="fa fa-h-square"></i>{{ 'MATERNITY.HOSPITAL_NO' | translate }} :
                    {{patient.PatientCode}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <span>
                    <i class="fa fa-calendar"></i>{{ 'MATERNITY.DISCHARGE_ON' | translate }} : {{patient.DischargeDate |
                    DsfDateTime:'format':'YYYY-MM-DD' }}
                </span>
            </b>
        </div>
        <div class="form-horizontal form-body hm-form">
            <div class="col-md-6 col-md-8">
                <div class="page-bar">
                    <form [formGroup]="paymentModelObj.MaternityPaymentDetailsValidator">
                        <div class="col-md-6 p-0">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right;">
                                    <label for="chkPaymentReturn"
                                        style="font-size: 14px; color: green;vertical-align: text-bottom;margin-right: 16px;">{{ 'MATERNITY.PAYMENT_RETURN' | translate }}<b>:</b></label>
                                    <input [attr.disabled]="this.maternityPatientPaymentData.length == 0 ? true : null"
                                        type="checkbox" name="paymentreturn" id="chkPaymentReturn"
                                        style="width: 20px;height: 20px;" [(ngModel)]="isPaymentReturn"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>

                             <div class="form-group" style="margin-top: 15px;">
                                <label *ngIf="!isPaymentReturn" class="control-label col-md-4">{{ 'MATERNITY.PAID_AMOUNT' | translate }}<b>:</b></label>
                                <label *ngIf="isPaymentReturn" class="control-label col-md-4">{{ 'MATERNITY.RETURN_AMOUNT' | translate }}<b>:</b></label>
                                <div class="col-md-8">
                                    <select style="margin-bottom:5px;" formControlName="Amount" class="form-control"
                                        [(ngModel)]="paymentModelObj.InOrOutAmount">
                                        <option selected [ngValue]="null">{{ 'MATERNITY.SELECT_AMOUNT_PLACEHOLDER' | translate }}</option>
                                        <option *ngFor="let amount of paymentAmounts" [ngValue]="amount">{{amount}}
                                        </option>
                                    </select>
                                    <span class="color-red font-sm" *ngIf="paymentModelObj.IsDirty('Amount')"
                                        [hidden]="paymentModelObj.IsValidCheck('Amount','required')">{{ 'MATERNITY.AMOUNT_REQUIRED' | translate }}</span><br>
                                    <b> {{ 'MATERNITY.IN_WORDS' | translate }} :</b>&nbsp; {{paymentModelObj.InOrOutAmount | Currency:'4' |
                                    NumberInWords | CapitalFirstLetter}} <span
                                        *ngIf="paymentModelObj.InOrOutAmount !=0 && paymentModelObj.InOrOutAmount != null">{{ 'MATERNITY.ONLY' | translate }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">{{ 'COMMON.REMARKS' | translate }}<b>:</b></label>
                                <div class="col-md-8">
                                    <textarea rows="2" id="txtRemarks" class="form-control" [placeholder]="'COMMON.REMARKS' | translate"
                                        name="remarks" type="text" formControlName="Remarks"
                                        [(ngModel)]="paymentModelObj.Remarks"></textarea>
                                    <span class="color-red font-sm"
                                        *ngIf="isPaymentReturn && paymentModelObj.IsDirty('Remarks')"
                                        [hidden]="paymentModelObj.IsValidCheck('Remarks','required')">{{ 'MATERNITY.REMARK_REQUIRED' | translate }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input type="button" class="btn green btn-success fa" [disabled]="loading"
                                        [value]="'MATERNITY.PROCEED' | translate" (click)="Save()" />
                                    &nbsp;
                                    <input type="button" class="btn red btn-danger fa" [disabled]="loading"
                                        [value]="'MATERNITY.DISCARD' | translate" (click)="Discard()" />
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-md-8">
                <div class="page-bar">
                    <div class="text-left">
                        <h4 class="header-sm inner-header-sm"><b>{{ 'MATERNITY.PAYMENT_HISTORY' | translate }}</b></h4>
                    </div>
                    <dsf-grid [show-print-button]="false" [customServerSearch]="false"
                        [grid-colDefaults]="maternityPatientGridColumns" [grid-data]="maternityPatientPaymentData">
                    </dsf-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<maternity-payment-receipt *ngIf="showPaymentReceipt" [patient-paymentId]="paymentPatientId"
    (popup-close-action)="closePaymentPopup($event)">
    <maternity-payment-receipt>