<style>
  .b {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }

  .p {
    font-weight: 300;
    font-size: medium
  }

  .label {
    padding: 2px 5px;
    margin-right: 5px;
    background: #C0C0C0;
    color: #fff;
  }

  .marginSubjectiveNote {
    padding: 5px 2px 5px;
  }
</style>


<div class="row">
  <div class="col-md-12">
    <!-- <div class="col-md-6"> -->
    <!--<p style="font-weight:600; font-size:medium">Clinical Subjective Notes</p>-->
    <h4 *ngIf="subjectiveNote"><strong>{{ 'CLINICAL.SUBJECTIVE_NOTES' | translate }}</strong></h4>
    <div *ngIf="subjectiveNote" class="marginSubjectiveNote">
      <div><b>{{ 'CLINICAL.CHIEF_COMPLAINT' | translate }} :</b>
        <ul *ngFor="let complain of subjectiveNote.ChiefComplaint ">
          <li>
            {{complain.ChiefComplaint}}
          </li>
        </ul>
      </div>
      <p> <b>{{ 'CLINICAL.HISTORY_OF_PRESENTING_ILLNESS' | translate }}:</b> {{subjectiveNote.HistoryOfPresentingIllness}}</p>
      <p><b>{{ 'CLINICAL.REVIEW_OF_SYSTEM' | translate }} :</b> {{subjectiveNote.ReviewOfSystems}}</p>
    </div>
  </div>
  <div class="col-md-12" *ngIf="objectiveNote && objectiveNote.length>0">
    <!--<p style="font-weight:600; font-size:large">Objective Notes</p>-->
    <h4><strong>{{ 'CLINICAL.OBJECTIVE_NOTES' | translate }}</strong></h4>
    <div *ngIf="objectiveNote">
      <p><b>{{ 'CLINICAL.HEENT' | translate }}:</b> {{objectiveNote.HEENT}}</p>
      <p><b>{{ 'CLINICAL.CHEST' | translate }} :</b> {{objectiveNote.Chest}}</p>
      <p><b>{{ 'CLINICAL.CVS' | translate }} :</b> {{objectiveNote.CVS}}</p>
      <p><b>{{ 'CLINICAL.ABDOMEN' | translate }} :</b> {{objectiveNote.Abdomen}}</p>
      <p><b>{{ 'CLINICAL.EXTREMITY' | translate }} :</b> {{objectiveNote.Extremity}}</p>
      <p><b>{{ 'CLINICAL.SKIN' | translate }} :</b> {{objectiveNote.Skin}}</p>
      <p><b>{{ 'CLINICAL.NEUROLOGICAL' | translate }} :</b> {{objectiveNote.Neurological}}</p>
    </div>
  </div>
  <!-- </div> -->
  <div class="col-md-12">
    <div class="prob-entry hm-form">
      <div class="text-head-wrapper clearfix">
        <h4><strong>{{ 'CLINICAL.ASSESSMENT_AND_ORDERS' | translate }}</strong></h4>
      </div>

      <div *ngIf="diagnosisOrderList">
        <p *ngIf="!diagnosisOrderList.length">{{ 'CLINICAL.NO_ASSESSMENT_AND_ORDERS' | translate }}</p>
        <table *ngIf="diagnosisOrderList.length" class="table table-bordered allIcdOrdersTable" style="width: 100%;">
          <thead>
            <tr>
              <th>{{ 'CLINICAL.ASSESSMENT_NAME' | translate }}</th>
              <th>{{ 'CLINICAL.ORDERS_LABEL' | translate }}</th>
            </tr>
          </thead>

          <tr *ngFor="let assessment of diagnosisOrderList; let assessIndex=index;">
            <td width="38%">
              ({{assessment.ICD[0].ICD10Code}}) {{assessment.ICD[0].ICD10Description}}
            </td>
            <td>
              <p *ngIf="assessment.AllIcdLabOrders.length>0" style="font-weight:700!important;">{{ 'CLINICAL.LAB' | translate }}: </p>
              <label *ngFor="let lo of assessment.AllIcdLabOrders">
                {{lo.ItemName}}
              </label>

              <p *ngIf="assessment.AllIcdImagingOrders.length>0" style="font-weight:700!important;">{{ 'CLINICAL.IMAGING' | translate }}: </p>
              <label *ngFor="let io of assessment.AllIcdImagingOrders">
                {{io.ItemName}}
              </label>

              <p *ngIf="assessment.AllIcdPrescriptionOrders.length>0" style="font-weight:700!important;">{{ 'CLINICAL.MEDICATION' | translate }}: </p>
              <label *ngFor="let mo of assessment.AllIcdPrescriptionOrders">
                {{mo.ItemName}}
              </label>

            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="col-md-12" style="margin-left:15px;" *ngIf="hpNote?.FollowUp || hpNote?.Remarks">
    <h4><strong>{{ 'CLINICAL.INSTRUCTIONS' | translate }}:</strong></h4>
    <p *ngIf="hpNote?.FollowUp">{{ 'CLINICAL.FOLLOW_UP' | translate }}<b>:</b>{{hpNote?.FollowUp}} {{ (hpNote?.FollowUpUnit ? 'CLINICAL.' + hpNote.FollowUpUnit : '') | translate }}</p>
    <p *ngIf="hpNote?.Remarks">{{ 'CLINICAL.REMARKS' | translate }}<b>:</b>{{hpNote?.Remarks}}</p>
  </div>
</div>