<style>
    .div_padding {
        padding-top: 15px;
    }
</style>
<div class="birth-certificate wd-100">
    <div id="PrintPage">
        <div class="birth-certificate-header-gap"></div>
        <div>
            <table style="padding-top: 50px;width: 100%;">
                <tr>
                    <td>
                        <b>
                            <i>
                                {{ 'MEDICAL_RECORDS.FISCAL_YEAR_COLON' | translate }}
                                <u>{{CurrentBaby.FiscalYearFormatted}}</u>
                            </i>
                        </b>
                    </td>
                    <td style="text-align:right">
                        <b>
                            <i>
                                {{ 'MEDICAL_RECORDS.CERTIFICATE_NO_COLON' | translate }}
                                <u>{{CurrentBaby.CertificateNumber}}</u>
                            </i>
                        </b>
                    </td>
                </tr>
            </table>
        </div>

        <div style="width: 100%; text-align: center; font-family: 'Times New Roman', Times, serif;">
            <h3><b><i>{{ 'MEDICAL_RECORDS.BIRTH_REPORT' | translate }}</i></b></h3>
        </div>
        <div class="padding-15-all" style="width: 100%;">
            <div class="flex-container">
                <div class="brth-cert-txt">
                    <span [innerHTML]="'MEDICAL_RECORDS.BIRTH_CERTIFICATE_BODY_1' | translate:{sex: CurrentBaby.Sex}"></span>
                    <span class="txt-underline"><b>{{CurrentBaby.BirthDate | nepaliDate}}</b></span>
                    <span> (<b><i class="txt-underline"> {{CurrentBaby.BirthDate | date:'yyyy-MM-dd'}}</i>{{ 'MEDICAL_RECORDS.AD' | translate }}</b>)</span> {{ 'MEDICAL_RECORDS.AT' | translate }} <span class="txt-underline"><b>{{CurrentBaby.BirthTime}}&nbsp;{{amPm}}</b></span> {{ 'MEDICAL_RECORDS.WITH_BABY_WEIGHT' | translate }}
                    <u><b>{{CurrentBaby.WeightOfBaby}}</b></u> {{ 'MEDICAL_RECORDS.GRAMS_AND_CONDITION' | translate }}
                    <u><b>{{CurrentBaby?.ConditionAtBirth}}</b></u>. {{ 'MEDICAL_RECORDS.TYPE_OF_BIRTH_WAS' | translate }}
                    <ul *ngIf="isEditmode" style="display: inline;padding: 0;">
                        <li *ngFor="let itm of BirthNumberTypeList; let i=index;" style="display: inline-block;">
                            <label class="mt-checkbox mt-checkbox-outline" style="padding-right: 15px;">
                                <input [value]="itm.type" class="zoomcheckbox" [(ngModel)]="CurrentBaby.BirthNumberType"
                                    name="BirthNumberType" width="100" type="radio"> <span></span>{{itm.type}}
                            </label>
                        </li>
                    </ul>
                    <span *ngIf="!isEditmode">
                        <u><b>{{CurrentBaby.BirthNumberType}}</b></u>
                    </span>
                    <!-- <ng-container *ngIf="CurrentBaby.BirthNumberType && CurrentBaby.BirthNumberType == 'multiple'">
            <span> of <u> {{CurrentBaby.NumberOfBabies}} </u> &nbsp; </span>
          </ng-container> -->
                    <span> {{ 'MEDICAL_RECORDS.BY' | translate }} </span>
                    <ul *ngIf="isEditmode" style="display: inline;padding: 0;">
                        <li *ngFor="let itm of BirthTypeList; let i=index;" style="display: inline-block;">
                            <label class="mt-checkbox mt-checkbox-outline" style="padding-right: 15px;">
                                <input [value]="itm.type" class="zoomcheckbox" [(ngModel)]="CurrentBaby.BirthType"
                                    name="BirthType" width="100" type="radio"> <span></span>{{itm.type}}
                            </label>
                        </li>
                    </ul>
                    <span *ngIf="!isEditmode"> <u><b>{{CurrentBaby.BirthType}}</b></u> </span>


                    <span>. {{ 'MEDICAL_RECORDS.ACCORDING_TO_RECORD_MOTHER' | translate }} </span>
                    <span class="txt-underline text-uppercase"><b>{{CurrentBaby.MotherName}}</b></span>
                    <span *ngIf="isEditmode || CurrentBaby.FathersName"> {{ 'MEDICAL_RECORDS.AND_FATHER_IS_MR' | translate }} </span>
                    <span *ngIf="!isEditmode" class="txt-underline text-uppercase"><b>{{CurrentBaby.FathersName}}</b></span>
                    <span *ngIf="isEditmode"> <input type="text" name="fatherName"[(ngModel)]="CurrentBaby.FathersName"></span> {{ 'MEDICAL_RECORDS.RESIDENT_OF_COUNTRY' | translate }}
                    <span class="txt-underline" style=" text-transform: capitalize;"><b>{{CurrentBaby.Country}}</b></span> {{ 'MEDICAL_RECORDS.DISTRICT' | translate }} <span class="txt-underline" style=" text-transform: capitalize;"><b>{{CurrentBaby.CountrySubDivision}}</b></span>
                    <span *ngIf="CurrentBaby.Municipality"> {{ 'MEDICAL_RECORDS.MUNICIPALITY' | translate }} </span><span class="txt-underline" style=" text-transform: capitalize;"><b>{{CurrentBaby.Municipality}}</b></span>
                    <span *ngIf="CurrentBaby.Address"> {{ 'MEDICAL_RECORDS.ADDRESS_LABEL' | translate }} </span>
                    <span class="txt-underline" style=" text-transform: capitalize;"><b>{{CurrentBaby.Address}}</b></span>.
                </div>
            </div>

            <div class="div_padding">
                <div class="flex-container">
                    <div class="flex-1">
                        <p class="margin-15-bt"><b style="font-size: large;"><i>{{ 'MEDICAL_RECORDS.ISSUED_BY_ITALIC' | translate }}</i></b></p>
                        <div>
                            <p> {{ 'MEDICAL_RECORDS.SIGNATURE_COLON' | translate }} ______________________</p>
                            <p>{{ 'MEDICAL_RECORDS.NAME_COLON' | translate }} <span *ngIf="!IssuedSignatory || !IssuedSignatory.FullName">______________________</span><span><b><u>{{IssuedSignatory.FullName}}</u></b></span>
                            </p>
                            <p>{{ 'MEDICAL_RECORDS.DESIGNATION_COLON' | translate }}<span *ngIf="!IssuedSignatory || !IssuedSignatory.LongSignature">______________________</span>
                                <b><u>{{IssuedSignatory.LongSignature}}</u></b></p>
                        </div>
                        <div *ngIf="isEditmode" class="flex-container">
                            <input danphe-auto-complete class="form-control" [(ngModel)]="IssuedSignatory" [source]="providerList" [list-formatter]="myListFormatter" [placeholder]="'MEDICAL_RECORDS.ISSUED_BY_PLACEHOLDER' | translate" display-property-name="FullName" value-property-name=null (valueChanged)="OnChangeIssuedSignatory()"
                                min-chars="0" max-num-list="10" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="flex-1">
                        <p class="margin-15-bt"><b style="font-size: large;"><i>{{ 'MEDICAL_RECORDS.HOSPITAL_HEALTH_FACILITY' | translate }}</i></b></p>
                        <p>{{ 'PATIENT.FULL_NAME' | translate }}: <u><b>{{HospitalDetails.hospitalName}}</b></u></p>
                        <p>{{ 'PATIENT.ADDRESS' | translate }}: <u><b>{{HospitalDetails.address}}</b></u></p>
                    </div>
                </div>
            </div>

            <div class="div_padding">
                <div class="flex-container">
                    <div class="flex-1">
                        <p class="margin-15-bt"><b style="font-size: large;"><i>{{ 'MEDICAL_RECORDS.CERTIFIED_BY_ITALIC' | translate }}</i></b></p>
                        <div *ngIf="!isEditmode">
                            <p> {{ 'MEDICAL_RECORDS.SIGNATURE_COLON' | translate }} ______________________</p>
                            <p>{{ 'MEDICAL_RECORDS.NAME_COLON' | translate }} <span *ngIf="!CertifiedSignatory || !CertifiedSignatory.FullName">______________________</span><span><b><u>{{CertifiedSignatory.FullName}}</u></b></span>
                            </p>
                            <p>{{ 'MEDICAL_RECORDS.DESIGNATION_COLON' | translate }}<span *ngIf="!CertifiedSignatory || !CertifiedSignatory.LongSignature">______________________</span>
                                <b><u>{{CertifiedSignatory.LongSignature}}</u></b></p>
                        </div>
                        <div *ngIf="isEditmode" class="flex-container">
                            <input danphe-auto-complete class="form-control" [(ngModel)]="CertifiedSignatory" [source]="providerList" [list-formatter]="myListFormatter" [placeholder]="'MEDICAL_RECORDS.CERTIFIED_BY_PLACEHOLDER' | translate" display-property-name="FullName" value-property-name=null (valueChanged)="OnChangeCertifiedSignatory()"
                                min-chars="0" max-num-list="10" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="flex-1">
                        <div style="padding:5%;width:250px;height:90px;border:1px solid;text-align: center;border-radius: 15px !important;">
                            <span style="color: #d2cccc !important;">{{ 'MEDICAL_RECORDS.OFFICE_SEAL' | translate }}</span></div>
                    </div>
                </div>
            </div>
            <div class="div_padding">
                <div class="flex-container">
                    <div class="flex-1" *ngIf="!isEditmode">
                        <p class="margin-15-bt">
                            <b style="font-size: large;"><i>{{ 'MEDICAL_RECORDS.CERT_ISSUED_DATE' | translate }}</i></b>
                            <b style="font-size: large;"><u>{{CurrentBaby.CertificateIssuedDate | date:'yyyy-MM-dd'}}{{ 'MEDICAL_RECORDS.AD' | translate }}</u></b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="div_padding">
                <div class="flex-container">
                    <div *ngIf="!isEditmode && BirthCertificateParam.ShowFooter" class="flex-1" style="text-align: center;">
                        <p><i>{{BirthCertificateParam.BirthCertificateFooterContent}}</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modelbox-footer">
        <div class="all-buttons text-right">
            <!-- <button *ngIf="!isEditmode" [disabled]="loading" (click)="loading=true;UpdateBirthCertificationDetail()" type="button" class="btn btn-cancel btn-sm margin-7-hr">Save and Print</button> -->
            <button *ngIf="!isEditmode" (click)="Edit()" type="button" class="btn btn-cancel btn-sm margin-7-hr">{{ 'COMMON.EDIT' | translate }}</button>
            <button *ngIf="isEditmode" (click)="UpdateBirthCertificationDetail()" type="button" class="btn btn-cancel btn-sm margin-7-hr">{{ 'COMMON.UPDATE' | translate }}</button>
            <button *ngIf="!isEditmode" (click)="Print()" type="button" class="btn btn-cancel btn-sm margin-7-hr">{{ 'COMMON.PRINT' | translate }}</button>
            <button (click)="Close()" type="button" class="btn btn-cancel btn-sm margin-7-hr">{{ 'COMMON.CANCEL' | translate }}</button>
        </div>
    </div>
</div>

<!-- for print window -->
<app-print-page *ngIf="showPrint" [print-data]="printDetails" (print-sucess)="callBackPrint()"></app-print-page>