<phrm-rack-add *ngIf="showAddPage " [showAddPage]="showAddPage" [selected-rack]="rack" [selectedStore]="selectedStore" [store-list]="StoreList" [parent-rack-list]="ParentRackList" (callback-add)="pushToList($event)"></phrm-rack-add>

<phrm-rack-drug-list [rack-name]="rackName" [drug-list]="drugList" [showDrugListPage]="showDrugListPage"></phrm-rack-drug-list>

<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-primary" (click)="AddRack()" [value]="'PHARMACY.ADD_RACK' | translate" />
    </div>
    <div class="col-md-8">
        <div class="right">
            <label class="control-label ">{{ 'GRID_HEADERS.STORE' | translate }}:</label>
            <select [(ngModel)]="selectedStore" style="width:250px;height:30px;margin-bottom:7px;" (change)="FilterRackBasedOnLocation()" >
                <!-- <option [ngValue]="null" selected>{{ 'PHARMACY.ALL' | translate }}</option> -->
                <option [ngValue]="null" selected>{{ 'PHARMACY.ALL' | translate }}</option>
                <option *ngFor="let store of StoreList" [ngValue]="store">{{store.StoreName}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
        <dsf-grid [grid-colDefaults]="rackGridColumns" [grid-showExport]="true" [grid-exportOptions]="gridExportOptions" [grid-data]="rackListFiltered" (grid-actions)="RackGridActions($event)">
        </dsf-grid>
    </div>
</div>