<style>
  .noPadding {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .tr-highlight {
    border: 3px solid #006687;
  }

  .control-label b {
    font-weight: 600;
  }

  table.additionalTxn tr td,
  th {
    text-align: center;
    border: 1px solid black !important;
  }
</style>


<div>
  <!-- START: Display Bank reconciliation Report -->
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="showAdditionalTxnPopUp">
    <div class="portlet-body form">
      <!--Model Box Body Start-->
      <div class="form-body clearfix">
        <div class="col-md-12" id="sf">
          <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 modelbox-div">
            <div class="row">
              <div id="additionalTransactionView">
                <a class="btn btn-danger hidden-print rt_close_btn" style="float:right; border-radius:40%" (click)="CloseAdditionalTxnPopUp()"
                   title="{{ 'COMMON.CANCEL' | translate }}">X</a>
                <!-- <customer-header [header-title]="selLedger.LedgerName + ' Ledger'+ '(' + selLedger.Code +')'"></customer-header> -->
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <hr style="border:1px solid black;margin-top: 0px;margin-bottom: 5px;" />

                    <div class="col-md-12" id="print_Rec_View">
                      <div class="row">
                        <div class="col-md-12 patient-hdr-label">
                          <table style="width:100% !important;">
                            <tr>

                              <td style="width: 10%;"><b>{{ 'ACCOUNTING.BANK_NAME' | translate }} :</b> </td>
                              <td style="width: 50%;"> {{selLedger.LedgerName}} </td>

                            </tr>

                          </table>
                        </div>
                        <br>
                        <div class="col-md-12" style="overflow-y:auto">
                          <table class="additionalTxn table  table-bordered" border="1" id="additionalTransactionView">
                            <tr>
                              <th>{{ 'ACCOUNTING.DR_CR' | translate }}</th>
                              <th>{{ 'ACCOUNTING.BANK_RECONCILIATION_CATEGORY' | translate }}</th>
                              <th>{{ 'ACCOUNTING.AMOUNT' | translate }}</th>
                              <th>{{ 'ACCOUNTING.DESCRIPTION' | translate }}</th>
                              <th>{{ 'ACCOUNTING.ACTION' | translate }}</th>
                            </tr>
                            <tr>
                              <td>
                                <select name="additional_txn_DrCr" id="additional_txn_DrCr" class="form-control"
                                        [(ngModel)]="bankReconciliationAdditionalTxn.DrCr"
                                        (keydown.enter)="FocusOnInputField('additional_txn_BankReconciliationCategory')">
                                  <option [ngValue]=true>{{ 'ACCOUNTING.DR' | translate }}</option>
                                  <option [ngValue]=false>{{ 'ACCOUNTING.CR' | translate }}</option>
                                </select>
                              </td>
                              <td>
                                <select name="additional_txn_BankReconciliationCategory" class="form-control"
                                        [(ngModel)]="selectedBankReconciliationCategory" id="additional_txn_BankReconciliationCategory"
                                        (change)="FocusOnInputField('additional_txn_Amount')">
                                  <option *ngFor="let cat of bankReconcCategory let i=index;" [ngValue]=cat>{{ cat.CategoryName }}</option>
                                </select>
                              </td>
                              <td>
                                <input type="number" class="form-control" [(ngModel)]="bankReconciliationAdditionalTxn.Amount"
                                       onClick="this.select();" (keydown.enter)="FocusOnInputField('additional_txn_description')"
                                       id="additional_txn_Amount">
                              </td>
                              <td>
                                <textarea id="additional_txn_description" class="form-control"
                                          (keydown.enter)="AddAdditionalTxn()"
                                          [(ngModel)]="bankReconciliationAdditionalTxn.Description"></textarea>
                              </td>
                              <td>
                                <button class="btn green btn-success btn-sm" (click)="AddAdditionalTxn()"><i class="fa fa-solid fa-plus"></i></button>
                              </td>
                            </tr>
                          </table>
                          <div style="float: right; margin: 15px  15px;">
                            <button class="btn green btn-success btn-sm" id="btn_BankReconcilliation_SaveAdditionalTxn" (click)="SaveAdditionalTxn()">
                              {{ 'OK' | translate }}
                            </button>

                            <button class="btn orange btn-success btn-sm" id="btn_BankReconcilliation_DiscardAdditionTxn"
                                    (click)="DiscardAdditionalTxn()">
                              {{ 'DISCARD' | translate }}
                            </button>
                          </div>
                          <table class="additionalTxn table  table-bordered">
                            <tr>
                              <th>{{ 'ACCOUNTING.BANK_RECONCILIATION_CATEGORY' | translate }}</th>
                              <th>{{ 'ACCOUNTING.DEBIT_AMOUNT' | translate }}</th>
                              <th>{{ 'ACCOUNTING.CREDIT_AMOUNT' | translate }}</th>
                              <th>{{ 'ACCOUNTING.DESCRIPTION' | translate }}</th>
                              <th>{{ 'ACCOUNTING.ACTION' | translate }}</th>
                            </tr>
                            <tr *ngFor="let txn of extraTransactions;let i = index;">
                              <td>{{ txn.CategoryName }}</td>
                              <td>{{ txn.DrCr ? txn.Amount : 0 }}</td>
                              <td>{{ txn.DrCr ? 0 : txn.Amount }}</td>
                              <td>{{ txn.Description }}</td>
                              <td> <button class="btn btn-sm" style="color:red;" (click)="RemoveExtraTransaction(i)"><i class="fa fa-trash fa-lg"
                                     aria-hidden="true"></i>
                                </button> </td>
                            </tr>
                          </table>
                        </div>
                        <hr />
                      </div>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="caption custom-caption top-report-section">
    <h3><i class="fa fa-book"></i>
      <span class="caption-subject">Bank Reconciliation Details</span>
    </h3>
  </div> -->
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="row">
      <div class="col-md-3 col-xs-12 noPadding">
        <div class="form-group">

          <label class="control-label"> <b>{{ 'ACCOUNTING.BANK_NAME' | translate }}</b> <b class="color-red"> *</b></label>
          <div style="margin-top: 5px;">
            <!-- <span *ngIf="selLedger" style="float: left !important; margin-top: 5px;
            margin-right: 5px;">{{selLedger.Code}}</span> -->
            <input dsf-auto-complete class="form-control" [(ngModel)]="selLedger" [source]="ledgerList" placeholder="{{ 'ACCOUNTING.LEDGER_NAME' | translate }}"
                   display-property-name="LedgerName" value-property-name="LedgerName" [list-formatter]="LedgerListFormatter"
                   max-num-list="15" [grid-sort]="'LedgerName'" onClick="this.select();"
                   style="height: 30px; width: 90% !important;" />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 noPadding">
        <div class="form-group">
          <label class="control-label" style="margin-left: 5px;">{{ 'ACCOUNTING.SELECT_FISCAL_YEAR' | translate }}<b class="color-red"> *</b><b
               style="float:right;">:</b></label>
          <div>
            <fiscal-year-calendar [showSingleDatePicker]="false" [showAllFiscalYear]="true"
                                  (fiscalYearDate)="selectDate($event)"> </fiscal-year-calendar>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <br>
          <label class="control-label" style="margin-right: 15px;">
            {{ 'ACCOUNTING.STATUS' | translate }} :
          </label>
          <input type="checkbox" id="reconsile_status_open" [(ngModel)]="reconcile_Status_Open" name="reconcile_status_open" checked>
          <label for="reconsile_status_open" style="margin:0px 15px 0px 5px">{{ 'ACCOUNTING.OPEN' | translate }}</label>
          <input type="checkbox" id="reconsile_status_close" [(ngModel)]="reconcile_Status_Close" name="reconcile_status_close">
          <label for="reconsile_status_close" style="margin-left: 5px;">{{ 'CLOSE' | translate }}</label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-1">
        <label>{{ 'ACCOUNTING.MODE' | translate }}:</label>
      </div>
      <div class="col-md-2">
        <input dsf-auto-complete class="form-control" [(ngModel)]="selectedVoucher" [source]="voucherTypeList"
               placeholder="{{ 'ACCOUNTING.SELECT_MODE_VOUCHER_TYPE' | translate }}"
               display-property-name="VoucherName" value-property-name="VoucherName" [list-formatter]="VoucherListFormatter"
               max-num-list="15" [grid-sort]="'VoucherName'" onClick="this.select();" />
      </div>
      <div class="col-md-3">
        <label>{{ 'ACCOUNTING.BANK_OPENING_BALANCE' | translate }}:</label>
        <input type="number" [(ngModel)]="bank_Opening_Balance" onclick="this.select()" class="form-control" style="float: right;width: 50%;">
      </div>
      <div class="col-md-3">
        <label>{{ 'ACCOUNTING.BANK_CLOSING_BALANCE' | translate }}:</label>
        <input type="number" [(ngModel)]="bank_Closing_Balance" onclick="this.select()" class="form-control" style="float: right; width: 50%;">
      </div>
      <div class="col-md-1">
        <button class="btn green btn-success btn-sm" (click)="GetTxnList()">
          <i class="fa fa-search"></i>
          {{ 'ACCOUNTING.SHOW_DETAILS' | translate }}
        </button>
      </div>
    </div>
    <div class="row" *ngIf="ledgerResult && ledgerResult.length >0" id="printpage" style="padding: 10px; border: 1px solid #b9b9b9 !important;">
      <!-- *ngIf="ledgerResult && ledgerResult.length >0" -->
      <!-- <div style="width: 50%; margin: auto;">
        <customer-header id="headerForPrint" [header-title]="selLedger.LedgerName + ' Ledger'+ '(' + selLedger.Code +')'"></customer-header>
      </div> -->
      <div class="col-md-12 col-xs-12" style="padding: 0;">
        <div style="float: right; margin-bottom: 10px;">
          <button class="btn green btn-success btn-sm hidden-print" (click)="ShowAdditionalTransactions()"> {{ 'ACCOUNTING.ADDITIONAL_TRANSACTIONS' | translate }} </button>
          <button class="btn green btn-success btn-sm hidden-print" (click)="PrintTxnTable('exportTable')" value="Print" title="{{ 'ACCOUNTING.PRINT_PAGE_TOOLTIP' | translate }}">
            {{ 'PRINT' | translate }}<i class="glyphicon glyphicon-print" style="margin-left:10px;"></i>
          </button>
          <button class="btn green btn-success btn-sm hidden-print" (click)="ExportToExcel('exportTable')" value=""
                  title="{{ 'ACCOUNTING.EXPORT_TO_EXCEL_TOOLTIP' | translate }}">
            {{ 'ACCOUNTING.EXPORT' | translate }}<i class="fa fa-file-excel-o" style="margin-left:10px;"></i>
          </button>
          <button class="btn green btn-success btn-sm hidden-print" id="btn_BankReconcilliation_Preview" (click)="ViewDetails()"> {{ 'ACCOUNTING.PREVIEW' | translate }} </button>
          <button class="btn green btn-success btn-sm hidden-print" (click)="Save()"> {{ 'ACCOUNTING.RECONCILE' | translate }} </button>
        </div>
        <!-- <div class="col-md-12" style="padding: 5px; text-align: right;">
            <div class="form-actions">
                <button class="btn btn-primary" (click)="ViewDetails()" value="details" title="details page">
                   Reconciliation Details<i style="margin-left:10px;"></i>
                  </button>
              <button class="btn btn-primary hidden-print" (click)="Save()" value="Save" title="Save page">
                Save<i class="glyphicon glyphicon-print" style="margin-left:10px;"></i>
              </button>
               <button class="btn btn-primary hidden-print" (click)="PrintTxnTable('exportTable')" value="Print" title="print page">
                Print<i class="glyphicon glyphicon-print" style="margin-left:10px;"></i>
              </button>
              <button class="btn btn-primary hidden-print" (click)="ExportToExcel('exportTable')" value=""
                title="export to excel">
                Export<i class="fa fa-file-excel-o" style="margin-left:10px;"></i>
              </button>
            </div>
          </div> -->
        <table style="width:100% !important;">
          <tr>
            <td style="width: 10%;"><b>{{ 'ACCOUNTING.BANK_NAME' | translate }} :</b> </td>
            <td style="width: 25%;"> {{selLedger.LedgerName}} </td>

            <td style="width: 10%;"><b>{{ 'ACCOUNTING.ADDRESS' | translate }} :</b> </td>
            <td style="width: 25%;"> {{selLedger.Address}} </td>

            <td style="width: 10%;"><b>{{ 'ACCOUNTING.CONTACT' | translate }} :</b> </td>
            <td style="width: 25%;"> {{selLedger.MobileNo}} </td>

          </tr>

        </table>
        <br>
        <div id="exportTable" class="col-md-12" style="overflow-y:auto;padding:0px; max-height: 400px !important;">
          <table style="width: 100% !important;">
            <tr>
              <th></th>
              <th>{{ 'ACCOUNTING.SN' | translate }}</th>
              <th>{{ 'ACCOUNTING.VOUCHER_NO' | translate }}</th>
              <th>{{ 'ACCOUNTING.TXN_DATE' | translate }} <dsf-date-change class="ADBS_btn" [dataArr]="ledgerResult" [datecolumn]="'TransactionDate'">
                </dsf-date-change>
              </th>
              <th>{{ 'ACCOUNTING.LEDGER_MAIN' | translate }}</th>
              <th>{{ 'ACCOUNTING.SUB_LEDGER' | translate }}</th>
              <th>{{ 'ACCOUNTING.MODE' | translate }}</th>
              <th>{{ 'ACCOUNTING.CHEQUE_NO' | translate }}</th>
              <th>{{ 'ACCOUNTING.CHEQUE_DATE' | translate }} <dsf-date-change class="ADBS_btn" [dataArr]="ledgerResult" [datecolumn]="'ChequeDate'">
                </dsf-date-change></th>
              <th>{{ 'ACCOUNTING.DEBIT' | translate }}</th>
              <th>{{ 'ACCOUNTING.CREDIT' | translate }}</th>
              <th>{{ 'ACCOUNTING.BANK_DATE' | translate }} </th>
              <th>{{ 'ACCOUNTING.BANK_REF_NO' | translate }}</th>
              <th>{{ 'ACCOUNTING.STATUS' | translate }}</th>
              <!-- <th>Category</th>
                <th>Balance as per book</th>
                <th>Balance as per bank</th>
                <th>Difference</th>
                <th>Action</th> -->
            </tr>
            <tr *ngFor="let txnItm of ledgerResult;let i = index;"
                [ngStyle]="{'background-color': txnItm.Status === enum_Reconcile_Status.Close ? 'azure' : 'white' }">
              <td>
                <input type="checkbox" [(ngModel)]="txnItm.IsVerified" (change)="checkValue($event,i)"
                       [disabled]="txnItm.Status == enum_Reconcile_Status.Close"
                       [ngModelOptions]="{standalone: true}" />

              </td>
              <td>{{ i+1 }}</td>
              <td>{{txnItm.VoucherNumber}}</td>
              <td>{{txnItm.TransactionDate | DsfDateTime:'format':'YYYY-MM-DD' }}</td>
              <td>{{txnItm.PartyLedgerName}}</td>
              <td>{{txnItm.PartySubLedgerName}}</td>
              <td>{{txnItm.VoucherName}}</td>
              <td>{{txnItm.ChequeNumber}}</td>
              <td>{{txnItm.ChequeDate | DsfDateTime:'format':'YYYY-MM-DD'}}</td>
              <td>
                <p>
                  {{txnItm.LedgerDr | Currency:'4'}}
                </p>
              </td>
              <td>
                <p>
                  {{txnItm.LedgerCr | Currency:'4'}}
                </p>
              </td>
              <td>
                <dsf-date-picker (ngModelChange)="dateChanged($event,i)" ngDefaultControl [isFromToDateSelect]="true"
                                    [(ngModel)]="txnItm.BankTransactionDate" [CalendarTypes]="calType"
                                    [ngModelOptions]="{standalone: true}"> </dsf-date-picker>

              </td>
              <td>
                <input type="text" [(ngModel)]="txnItm.BankRefNumber" (ngModelChange)="HandleBankRefNumber(i)" placeholder="{{ 'ACCOUNTING.BANK_REF_NO' | translate }}"
                       id="Bank_Ref_No_{{i}}"
                       (keyup.enter)="ProcessEnterKeySequence(i)" [disabled]="txnItm.Status == enum_Reconcile_Status.Close"
                       (focusout)="ProcessEnterKeySequence(i)">
              </td>
              <td>{{ txnItm.Status }}</td>
              <!-- <td>
                  <select [disabled]="!txnItm.IsVerified" [(ngModel)]="txnItm.CategoryId" id="Category" (change)="onCategoryChange($event.target.value,i)">
                    <option  value="null">— Select —</option>
                    <option *ngFor="let cat of bankReconcCategory"   [value]="cat.CategoryId"> {{cat.CategoryName}}
                      </option>
                  </select>
                  <div style="color: red;"
                   *ngIf="(ledgerResult[i].IsVerified == true) && (txnItm.CategoryId == 0) "> please select Category</div>
                </td>

                <td>
                  <p *ngIf="txnItm.Balance > 0">
                    {{txnItm.Balance | Currency:'4'}}
                    <span *ngIf="txnItm.BalanceType==true" style="font-weight: bold;">Dr</span>
                    <span *ngIf="txnItm.BalanceType==false" style="font-weight: bold;">Cr</span>
                  </p>
                  <p *ngIf="txnItm.Balance == 0">
                    {{txnItm.Balance | Currency:'4'}}
                  </p>

                </td>

                <td>

                  <input type="text"  (change)="calculateDifference(i)" class="form-control"
                    [(ngModel)]="txnItm.BankBalance" style=" width: 50% !important;float: left;"
                   [disabled]="!txnItm.IsVerified" />
                  <select [(ngModel)]="txnItm.DrCr" (change)="onbalanceTypeChange($event.target.value,i)" style=" width: 35% !important">
                    <option value="null">— Select —</option>
                    <option value="true"> Dr </option>
                    <option value="false"> Cr </option>
                  </select>
                  <div style="color: red;"
                    *ngIf="(ledgerResult[i].IsVerified == true) && (ledgerResult[i].BankBalance == null || ledgerResult[i].BankBalance == 0)">
                    Enter Balance as per bank
                  </div>
                </td>
                <td> <input type="text" class="form-control" disabled [(ngModel)]="txnItm.Difference"
                    [ngModelOptions]="{standalone: true}"> </td>
                <td> <button class="btn btn-primary btn-sm" (click)="GetTxnItem(i)">View</button><br><br>

                <button class="btn btn-primary btn-sm" (click)="GetReconciliationHistory(i)">History</button> </td> -->
              <!-- <td>
                  <input type="checkbox" [(ngModel)]="txnItm.IsVerified" (change)="checkValue($event,i)"
                    [ngModelOptions]="{standalone: true}" />

                </td> -->
            </tr>

          </table>
        </div>

        <div class="col-md-12" style="padding-top:50px;display: none;">
          <table style="width:100%;border:0;text-align:center;">
            <tr>
              <td>
                <input type="text" class="signature" style="border: 0;border-bottom: 1px solid #000;" /><br />
                <b> {{ 'ACCOUNTING.PREPARED_BY' | translate }}</b>
              </td>
              <td>
                <input type="text" class="signature" style="border: 0;border-bottom: 1px solid #000;" /><br />
                <b> {{ 'ACCOUNTING.CHECKED_BY' | translate }}</b>
              </td>
              <td>
                <input type="text" class="signature" style="border: 0;border-bottom: 1px solid #000;" /><br>
                <b> {{ 'ACCOUNTING.APPROVED_BY' | translate }}</b>
              </td>
            </tr>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- START: Display save confirmation popup  -->
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showSavePopup">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="modelbox-div clearfix" style="margin-top: 25%;">
          <div class="caption lb-caption" style="text-align: center;">
            <h3> <span> <b> {{ 'ACCOUNTING.ARE_YOU_SURE' | translate }}</b> </span> </h3>
          </div>
          <div>
            <label style="margin-left: 10px;"> <b>{{ 'ACCOUNTING.REMARK' | translate }} :</b> <b style="color: red;">*</b> </label> <br>
            <textarea name="remark" [(ngModel)]="remark" style="width: 95%;  margin: 10px;"> </textarea>
          </div>
          <div style="text-align: center;">
            <button class="btn green btn-success btn-sm" (click)="saveReconcilation()"> {{ 'YES' | translate }} </button>
            <button class="btn green btn-success btn-sm" (click)="closesavePopup()"> {{ 'NO' | translate }} </button>
            <br /> <br />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- END: Display save confirmation popup  -->

<!-- START: Display selected bank txn details popup -->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDetails">
  <div class="portlet-body form">
    <!--Model Box Body Start-->
    <div class="form-body clearfix">
      <div class="col-md-12" id="sf" style="margin-left: 90px;">
        <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div">
          <div class="row">
            <div id="printpageTransactionView">
              <a class="btn btn-danger hidden-print rt_close_btn" (click)="ClosetxnDetails()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>
              <!-- <customer-header id="headerForPrint" [header-title]="txnItems.VoucherType + '('+txnItems.FiscalYear+')'">
              </customer-header> -->
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <hr style="border:1px solid black;margin-top: 0px;margin-bottom: 5px;" />

                  <div class="col-md-12">
                    <div class="row" id="printpageView">
                      <div class="col-md-12 patient-hdr-label">
                        <table style="width:100% !important;" id="excelTransactionView">
                          <tr>
                            <td style="width: 10%;"><b>{{ 'ACCOUNTING.BANK_NAME' | translate }} :</b> </td>
                            <td style="width: 25%;"> {{selLedger.LedgerName}} </td>

                            <td style="width: 10%;"><b>{{ 'ACCOUNTING.ADDRESS' | translate }} :</b> </td>
                            <td style="width: 25%;"> {{selLedger.Address}} </td>

                            <td style="width: 10%;"><b>{{ 'ACCOUNTING.CONTACT' | translate }} :</b> </td>
                            <td style="width: 25%;"> {{selLedger.MobileNo}} </td>

                          </tr>

                        </table>
                        <table style="width:100%;" align="center">
                          <tr>
                            <td style="width: 35%;">
                              <b>{{ 'ACCOUNTING.VOUCHER_NO' | translate }}:</b>&nbsp;{{txnItems.VoucherNumber}}
                            </td>
                            <td style="text-align:center;">
                            </td>
                            <td style="width: 35%;">
                              <b>{{ 'ACCOUNTING.BOOK_DATE' | translate }}:</b>
                              <span> &nbsp; {{selectedTxn.TransactionDate | nepaliDate:'format':'YYYY-MM-DD hh:mm'}}
                                <b>BS</b>
                                <br />
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                {{selectedTxn.TransactionDate |
                                DsfDateTime:'format':'YYYY-MM-DD'}} <b>AD</b>
                              </span>
                            </td>
                            <td style="width: 35%;">
                              <b>{{ 'ACCOUNTING.BANK_DATE' | translate }}:</b>
                              <span> &nbsp;{{selectedTxn.BankTransactionDate | nepaliDate:'format':'YYYY-MM-DD hh:mm'}}
                                 <br />
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{selectedTxn.BankTransactionDate | DsfDateTime:'format':'YYYY-MM-DD'}} <b> AD
                                </b>
                              </span>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <br /> <br />
                      <div class="col-md-12" style="overflow-y:auto">
                        <table class="table_data" style="width:100%;" border="1">
                          <tr>
                            <th *ngIf="showVoucherHeadCol">
                              {{ 'ACCOUNTING.ACCOUNT_HEAD' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.PARTICULARS' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.DESCRIPTION' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.DEBIT' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.CREDIT' | translate }}
                            </th>
                          </tr>
                          <tr *ngFor="let itm of txnItems.TransactionItems">
                            <td *ngIf="showVoucherHeadCol">
                              {{itm.LedgerGroupName}}<br />
                            </td>
                            <td>
                              {{itm.PartySubLedgerName}}
                              <span *ngFor="let det of itm.Details"
                                    style="font-size:12px;color:green;padding-left:50px;">
                                <br />
                                <span>{{det.Name}}</span>
                                <span>
                                  <span *ngIf="det.DrCr">
                                    Dr: {{det.Amount | Currency:'4'}}
                                  </span>
                                  <span *ngIf="!det.DrCr">
                                    Cr: {{det.Amount | Currency:'4'}}
                                  </span>
                                </span>
                              </span>
                            </td>
                            <td>
                              {{itm.Description}}
                            </td>
                            <td>
                              <p *ngIf="itm.DrCr == false">{{itm.Amount | Currency:'4'}}</p>
                            </td>
                            <td>
                              <p *ngIf="itm.DrCr == true">{{itm.Amount | Currency:'4'}}</p>
                            </td>
                          </tr>
                          <tr>
                            <th *ngIf="showVoucherHeadCol" colspan="3">
                              <b style="float:right;"> {{ 'ACCOUNTING.TOTAL' | translate }} &nbsp;&nbsp; </b>
                            </th>
                            <th *ngIf="!showVoucherHeadCol" colspan="2">
                              <b style="float:right;"> {{ 'ACCOUNTING.TOTAL' | translate }} &nbsp;&nbsp; </b>
                            </th>
                            <th>
                              {{drTotal | Currency:'4'}}
                            </th>
                            <th>
                              {{crTotal | Currency:'4'}}
                            </th>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-12">
                        <div class="col-md-12">
                        <b> {{ 'ACCOUNTING.BALANCE_AS_PER_BOOK' | translate }} :</b> &nbsp;
                        {{selectedTxn.Balance | Currency:'4' }}
                      </div>
                      <div class="col-md-12">
                        <b>{{ 'ACCOUNTING.BALANCE_AS_PER_BANK' | translate }} :</b> &nbsp;
                        {{selectedTxn.BankBalance | Currency:'4'}}
                      </div>

                      <div class="col-md-12">
                        <b>{{ 'ACCOUNTING.DIFFERENCE' | translate }} :</b> &nbsp;
                        {{selectedTxn.Difference}}
                      </div>
                      <hr />
                      <div class="col-md-12" style="padding-top:50px;">
                        <table style="width:100%;border:0;text-align:center;">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <br />
                              <b style="border-top:1px solid black; padding:0px 10px;">
                                {{ 'ACCOUNTING.PREPARED_BY' | translate }}
                              </b>
                            </td>
                            <td>
                              <br />
                              <b style="border-top:1px solid black; padding:0px 10px;">
                                {{ 'ACCOUNTING.CHECKED_BY' | translate }}
                              </b>
                            </td>
                            <td>
                              <br />
                              <b style="border-top:1px solid black; padding:0px 10px;">
                                {{ 'ACCOUNTING.APPROVED_BY' | translate }}
                              </b>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12" style="padding-bottom: 15px;">
                      <div class="form-actions" style="text-align: right;">
                        <button id="printbtn" class="btn green btn-success btn-sm hidden-print" (click)="PrintTxnTable('printpageView')"
                                value="Print" title="{{ 'ACCOUNTING.PRINT_PAGE_TOOLTIP' | translate }}">
                          {{ 'PRINT' | translate }}<i class="glyphicon glyphicon-print" style="margin-left:10px; "></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--</form>-->
    <!--Model Box Body End-->
  </div>
</div>


<!-- END: Display selected bank txn details popup -->
<!-- START: history of bank txn details popup -->
<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="historyPopup">
  <div class="portlet-body form">
    <!--Model Box Body Start-->

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="modelbox-div clearfix">
          <div class="caption custom-caption no-margin">
            <h3> <span>{{ 'ACCOUNTING.BANK_RECONCILIATION_HISTORY' | translate }}</span> </h3>
            <a class="btn btn-danger" (click)="ClosetxnDetails()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>
          </div>
          <form class="form-horizontal">
            <div class="form-body">
              <h5 style="text-transform:capitalize;">
                <div>
                  <span style="display:inline-block;">{{ 'ACCOUNTING.BANK_NAME' | translate }}: <b> {{selLedger.LedgerName}} </b></span> &nbsp;&nbsp;&nbsp;

                  <span style="float:right;">{{ 'ACCOUNTING.VOUCHER_NO' | translate }}:&nbsp;
                    <b> {{voucherNo}} </b></span>
                </div>
              </h5>
              <div class="table-responsive">
                <table class="table  table-bordered table-hover" style="background-color:initial;margin-top:20px">

                  <tr>
                    <th><b>{{ 'ACCOUNTING.SN' | translate }}</b></th>
                    <th><b>{{ 'ACCOUNTING.VOUCHER_DATE' | translate }}</b></th>
                    <th><b>{{ 'ACCOUNTING.CATEGORY' | translate }}</b></th>
                    <th><b> {{ 'ACCOUNTING.BALANCE_AS_PER_BANK' | translate }}</b></th>
                    <th><b>{{ 'ACCOUNTING.DIFFERENCE' | translate }}</b></th>
                    <th><b>{{ 'ACCOUNTING.CREATED_BY' | translate }}</b></th>
                    <th><b>{{ 'ACCOUNTING.REMARK' | translate }}</b></th>
                  </tr>

                  <tbody>
                    <tr *ngFor="let row of txnHistory;let i=index;">
                      <td><span style="font-weight:bold;text-align:center;">{{i+1}}</span></td>
                      <td>{{row.TransactionDate | DsfDateTime:'format':'YYYY-MM-DD'}}</td>
                      <td>{{row.CategoryName}}</td>
                      <td>{{row.BankBalance | Currency:'4'}}</td>
                      <td>{{row.Difference | Currency:'4'}}</td>
                      <td>{{row.User}}</td>
                      <td>{{row.Remark}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Model Box Body End-->
  </div>
</div>

<!-- END: history of bank txn details popup -->

<!-- START: Display all bank txn details popup -->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDetailView">
  <div class="portlet-body form">
    <!--Model Box Body Start-->
    <div class="form-body clearfix">
      <div class="col-md-12" id="sf">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 modelbox-div">
          <div class="row">
            <div id="printpageTransactionView">
              <a class="btn btn-danger hidden-print rt_close_btn" (click)="ClosetxnDetails()" title="{{ 'COMMON.CANCEL' | translate }}">X</a>
              <!-- <customer-header [header-title]="selLedger.LedgerName + ' Ledger'+ '(' + selLedger.Code +')'"></customer-header> -->
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <hr style="border:1px solid black;margin-top: 0px;margin-bottom: 5px;" />

                  <div class="col-md-12" id="print_Rec_View">
                    <div class="row">
                      <div class="col-md-12 patient-hdr-label">
                        <table style="width:100% !important;">
                          <tr>

                            <td style="width: 10%;"><b>{{ 'ACCOUNTING.BANK_NAME' | translate }} :</b> </td>
                            <td style="width: 50%;"> {{selLedger.LedgerName}} </td>

                          </tr>

                        </table>
                      </div>
                      <br /> <br />
                      <div class="col-md-6">
                        <span>{{ 'ACCOUNTING.BEFORE_RECONCILIATION' | translate }}</span>
                        <hr>
                        <div class="col-md-6">
                          {{ 'ACCOUNTING.BALANCE_AS_PER_BOOK' | translate }}
                        </div>
                        <div class="col-md-6">
                          <label>{{ openingBalance.ReconcileOpening }}</label>
                        </div>
                        <div class="col-md-6">
                          {{ 'ACCOUNTING.BALANCE_AS_PER_BANK' | translate }}
                        </div>
                        <div class="col-md-6">
                          <label>{{ bank_Opening_Balance }}</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <span>{{ 'ACCOUNTING.AFTER_RECONCILIATION' | translate }}</span>
                        <hr>
                        <div class="col-md-6">
                          {{ 'ACCOUNTING.BALANCE_AS_PER_BOOK' | translate }}
                        </div>
                        <div class="col-md-6">
                          <label>{{ openingBalance.ReconcileOpening + txn_Sum }}</label>
                        </div>
                        <div class="col-md-6">
                          {{ 'ACCOUNTING.BALANCE_AS_PER_BANK' | translate }}
                        </div>
                        <div class="col-md-6">
                          <label>{{ bank_Closing_Balance}}</label>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-12" style="overflow-y:auto">
                        <table class="table_data" style="width:100%;" border="1" id="excelTransactionView">
                          <tr>
                            <th>{{ 'ACCOUNTING.SN' | translate }}</th>
                            <th>
                              {{ 'ACCOUNTING.VOUCHER_NO' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.TXN_DATE' | translate }}
                            </th>
                            <th>{{ 'ACCOUNTING.LEDGER_MAIN' | translate }}</th>
                            <th>{{ 'ACCOUNTING.SUB_LEDGER' | translate }}</th>
                            <th>{{ 'ACCOUNTING.MODE' | translate }}</th>
                            <th>
                              {{ 'ACCOUNTING.CHEQUE_NO' | translate }}
                            </th>
                            <th>{{ 'ACCOUNTING.CHEQUE_DATE' | translate }}</th>
                            <th>{{ 'ACCOUNTING.DEBIT' | translate }}</th>
                            <th>{{ 'ACCOUNTING.CREDIT' | translate }}</th>
                            <th>{{ 'ACCOUNTING.BANK_DATE' | translate }}</th>
                            <th>
                              {{ 'ACCOUNTING.BANK_REF_NO' | translate }}
                            </th>
                            <th>
                              {{ 'ACCOUNTING.STATUS' | translate }}
                            </th>
                            <!-- <th>
                                  Difference
                                </th>
                                <th>
                                 Remark
                                </th> -->
                          </tr>
                          <tr *ngFor="let r of reconciliationDetails let i=index;">
                            <td>{{ i+1 }}</td>
                            <td>
                              {{r.VoucherNumber }}
                            </td>
                            <td>
                              {{r.TransactionDate | DsfDateTime:'format':'YYYY-MM-DD' }}<br />
                            </td>
                            <td>
                              {{r.PartyLedgerName}}
                            </td>
                            <td>
                              {{r.PartySubLedgerName}}
                            </td>
                            <td>
                              {{r.VoucherName}}
                            </td>
                            <td>
                              {{r.ChequeNumber}}
                            </td>
                            <td>
                              {{r.ChequeDate | DsfDateTime:'format':'YYYY-MM-DD' }}
                            </td>
                            <td>
                              {{r.LedgerDr | Currency:'4'}}
                            </td>
                            <td>{{r.LedgerCr | Currency:'4'}}</td>
                            <td>{{r.BankTransactionDate | DsfDateTime: 'format':'YYYY-MM-DD'}}</td>
                            <td>{{r.BankRefNumber}}</td>
                            <td>{{r.Status}}</td>
                          </tr>
                        </table>
                      </div>
                      <hr />
                    </div>
                    <br />
                    <br />
                  </div>
                  <div class="form-actions">
                    <button class="btn green btn-success btn-sm hidden-print" (click)="PrintTxnTable('print_Rec_View')" value="Print"
                            title="{{ 'ACCOUNTING.PRINT_PAGE_TOOLTIP' | translate }}">
                      {{ 'PRINT' | translate }}<i class="glyphicon glyphicon-print" style="margin-left:10px;"></i>
                    </button>
                    <button class="btn green btn-success btn-sm hidden-print" (click)="ExportToExcel('excelTransactionView')" value=""
                            title="{{ 'ACCOUNTING.EXPORT_TO_EXCEL_TOOLTIP' | translate }}">
                      {{ 'ACCOUNTING.EXPORT' | translate }}<i class="fa fa-file-excel-o" style="margin-left:10px;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</form>-->
<!--Model Box Body End-->
<!-- END: Display all bank txn details popup -->
<!-- START: Open reusable print function -->
<app-print-page *ngIf="showPrint" [print-data]="printDetaiils"></app-print-page>
<!-- END: Open reusable print function -->


<!-- <div class="popup-static portlet box portlet-fullscreen" *ngIf="showAdditionalTxnPopUp">
    <div class="col-md-6 col-md-offset-3">
      <div class="modelbox-div">
        <div class="modelbox-header">
          <h4 class="margin-0-vr">Add Additional Transactions</h4>
        </div>
        <div class="modelbox-body">
          <div class="col-md-12" style="overflow-y:auto">
            <table style="width:100%;" border="1"  id="excelTransactionView" >
              <tr>
                <th>S.N.</th>
                <th>Bank Reconciliation Category</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let cat of bankReconcCategory let i=index;">
                <td>{{ i+1 }}</td>
                <td>
                  {{ cat.CategoryName }}
                </td>
                <td>
                  <input class="form-control" type="number">
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modelbox-footer">
        </div>
        <div class="close-modelbox lb-close-btn">
          <button class="btn btn-danger" (click)="CloseAdditionalTxnPopUp()">X</button>
        </div>
      </div>
    </div>
</div>  -->