<div>
  <div class="popup-static portlet box portlet-fullscreen">
    <div class="portlet-body form">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr text-warning text-center"><strong>{{ 'INVENTORY.MANAGE_STOCK' | translate }}</strong></h4>
          </div>
          <div class="stockmanage modelbox-body">
            <div class="mb-3">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="card-body">
                    <span class="fa fa-cloud-download" (click)="ExportStocksForReconciliationToExcel()" [title]="'INVENTORY.EXPORT_STOCK' | translate"></span>
                    <div *ngIf="showSpinner"><i class="fa fa-spinner" aria-hidden="true"></i>
                    </div>
                    <div class="manage-step"> {{ 'INVENTORY.EXPORT_THE_STOCK_LIST' | translate }}. </div>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="card-body"><span class="fa fa-pencil"></span>
                    <div class="manage-step"> {{ 'INVENTORY.EDIT_THE_AVAILABLE_QUANTITY_IN_EXCEL' | translate }}. </div>
                    <div style="color:red;font-size: 2rem;font-weight:100">{{ 'INVENTORY.DO_NOT_CHANGE_ANYTHING_ELSE' | translate }}.</div>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="card-body"><span class="fa fa-cloud-upload" [attr.disabled]="loading ? true:null" [title]="'INVENTORY.IMPORT_STOCK' | translate"></span>
                    <div class="manage-step"> {{ 'INVENTORY.IMPORT_FROM_EXCEL' | translate }}. </div>
                    <div><input style="font-size:large;margin-left: auto;" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onChange($event)" #inputFile id="file-input" /></div>
                    <div><button type="button" style="margin-top:10px;" class="btn btn-primary btn-lg" (click)="FindDifference()"><i class="fa fa-cloud-upload"></i>&nbsp;{{ 'INVENTORY.UPLOAD' | translate }}</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="close-modelbox"><button class="btn btn-danger" (click)="ClosePopUp()"> X </button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="confirmPopUp">
  <div class="popup-static portlet box portlet-fullscreen">
    <div class="portlet-body form">
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div">
          <div class="modelbox-header">
            <h4 class="margin-0-vr text-warning text-center">
              <strong *ngIf="!showAllStock" style="color:red">{{ 'INVENTORY.BELOW_ARE_THE_CHANGES_IN_STOCK' | translate }}</strong>
              <strong *ngIf="showAllStock" style="color:red">{{ 'INVENTORY.ALL_STOCK_DETAILS' | translate }}</strong>
            </h4>
          </div>
          <div class="modelbox-body">
            <div class="row" *ngIf="reconciledStocksWithQuantityChanges.length >0">
              <h6 style="color:green"></h6>
              <table class="table bordered" *ngIf="!showAllStock">
                <tbody>
                  <tr>
                    <th>{{ 'INVENTORY.ITEM_TYPE' | translate }}</th>
                    <th>{{ 'INVENTORY.ITEM' | translate }} {{ 'COMMON.NAME' | translate }}</th>
                    <th>{{ 'INVENTORY.ITEM_CODE' | translate }}</th>
                    <th>{{ 'INVENTORY.SUBCATEGORY_NAME' | translate }}</th>
                    <th>{{ 'INVENTORY.AVAILABLE_QTY' | translate }}</th>
                    <th>{{ 'INVENTORY.NEW_QUANTITY' | translate }}</th>
                  </tr>
                  <tr *ngFor="let reconciledStocksWithQuantityChanged of reconciledStocksWithQuantityChanges">
                    <td>{{reconciledStocksWithQuantityChanged.ItemType}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.ItemName}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.ItemCode}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.SubCategoryName}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.AvailQuantity}}</td>
                    <td>{{reconciledStocksWithQuantityChanged.NewQuantity}}</td>
                  </tr>
                </tbody>


              </table>
              <table class="table bordered" *ngIf="showAllStock">
                <tbody>
                  <tr>
                    <th>{{ 'INVENTORY.ITEM_TYPE' | translate }}</th>
                    <th>{{ 'INVENTORY.ITEM' | translate }} {{ 'COMMON.NAME' | translate }}</th>
                    <th>{{ 'INVENTORY.ITEM_CODE' | translate }}</th>
                    <th>{{ 'INVENTORY.SUBCATEGORY_NAME' | translate }}</th>
                    <th>{{ 'INVENTORY.AVAILABLE_QTY' | translate }}</th>
                    <th>{{ 'INVENTORY.NEW_QUANTITY' | translate }}</th>
                  </tr>
                  <tr *ngFor="let reconciledStock of reconciledStocks">
                    <td>{{reconciledStock.ItemType}}</td>
                    <td>{{reconciledStock.ItemName}}</td>
                    <td>{{reconciledStock.ItemCode}}</td>
                    <td>{{reconciledStock.SubCategoryName}}</td>
                    <td>{{reconciledStock.AvailQuantity}}</td>
                    <td>{{reconciledStock.NewQuantity}}</td>
                  </tr>
                </tbody>


              </table>

            </div>
            <div class="row" *ngIf="reconciledStocksWithQuantityChanges.length==0">
              <p class="text-center">{{ 'INVENTORY.NO_STOCK_CHANGES' | translate }}</p>
            </div>
          </div>
          <div class="modelbox-footer" *ngIf="reconciledStocksWithQuantityChanges.length >0 && !showAllStock">
            <div style="display:flex; justify-content:space-between; align-items:center">
              <h5>{{ 'INVENTORY.DO_YOU_WANT_THIS_CHANGES' | translate }}</h5>
              <div>
                <button class="btn btn-danger" (click)="CloseConfirmationPopUp()">{{ 'COMMON.NO' | translate }}</button>
                <button [disabled]="loading" class="btn btn-primary" (click)="UpdateReconciledStockFromExcelFile()">{{ 'COMMON.YES' | translate }}</button>
              </div>
            </div>
          </div>
          <div class="close-modelbox">
            <button *ngIf="!showAllStock" class="btn btn-primary" (click)="ViewAllStock()">
              <span><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ 'INVENTORY.ALL_STOCK' | translate }}</span>
            </button>
            <button *ngIf="showAllStock" class="btn btn-primary" (click)="HideAllStock()">
              <span><i class="fa fa-eye-slash" aria-hidden="true"></i> &nbsp;{{ 'INVENTORY.HIDE_STOCK' | translate }}</span>
            </button>
            <button class="btn btn-danger" (click)="CloseConfirmationPopUp()">
              X
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>