<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="matPat.MaternityRegisterDetailsValidator">
            <div class="row">
                <div class="col-md-6 xol-xs-12">
                    <div class="form-group">
                        <label for="placeOfDelivery" class="control-label col-md-4">{{ 'MATERNITY.PLACE_OF_DELIVERY' | translate }}<b
                                class="color-red">
                                *
                            </b><b style="float:right;">:</b></label>

                        <div class="col-md-8">
                            <input type="text" id="placeOfDelivery" class="form-control"
                                [placeholder]="'MATERNITY.ENTER_PLACE_OF_DELIVERY' | translate" [(ngModel)]="matPat.PlaceOfDelivery"
                                formControlName="PlaceOfDelivery">
                            <span class="color-red font-sm" *ngIf="matPat.IsDirty('PlaceOfDelivery')"
                                [hidden]="matPat.IsValidCheck('PlaceOfDelivery','required')">{{ 'MATERNITY.PLACE_OF_DELIVERY_REQUIRED' | translate }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deliveryDate" class="control-label col-md-4"> {{ 'MATERNITY.DELIVERY_DATE_AND_TIME' | translate }}<b
                                class="color-red">
                                *
                            </b><b style="float:right;">:</b></label>

                        <div class="col-md-8">
                            <dsf-date-picker [(ngModel)]="matPat.DeliveryDate" id="deliveryDate"
                                [CalendarTypes]="'en,np'" [showTime]="true" [ngModelOptions]="{standalone: true}">
                            </dsf-date-picker>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deliveryType" class="control-label col-md-4">{{ 'MATERNITY.TYPE_OF_DELIVERY' | translate }}<b class="color-red">
                                *
                            </b><b style="float:right;">:</b></label>

                        <div class="col-md-8">
                            <select [(ngModel)]="matPat.TypeOfDelivery"
                                formControlName="TypeOfDelivery" class="form-control">
                                <option *ngFor="let del of deliveryTypes" value="{{del.Id}}">{{del.Type}}</option>
                            </select>
                            <span class="color-red font-sm" *ngIf="matPat.IsDirty('TypeOfDelivery')"
                                [hidden]="matPat.IsValidCheck('TypeOfDelivery','required')">{{ 'MATERNITY.TYPE_OF_DELIVERY_REQUIRED' | translate }}</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="presentation" class="control-label col-md-4">{{ 'MATERNITY.PRESENTATION' | translate }}<b class="color-red">
                                *
                            </b><b style="float:right;">:</b></label>

                        <div class="col-md-8">
                            <select [(ngModel)]="matPat.Presentation"
                                formControlName="Presentation" class="form-control">
                                <option value="cephalic">{{ 'MATERNITY.CEPHALIC' | translate }}</option>
                                <option value="shoulder">{{ 'MATERNITY.SHOULDER' | translate }}</option>
                                <option value="breech">{{ 'MATERNITY.BREECH' | translate }}</option>
                            </select>
                            <span class="color-red font-sm" *ngIf="matPat.IsDirty('Presentation')"
                                [hidden]="matPat.IsValidCheck('Presentation','required')">{{ 'MATERNITY.PRESENTATION_REQUIRED' | translate }}</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="deliveryType" class="control-label col-md-4">{{ 'MATERNITY.OBSTETRIC_COMPLICATION' | translate }}<b
                                style="float:right;">:</b></label>

                        <div class="col-md-8">
                            <select [(ngModel)]="matPat.Complications"
                                [ngModelOptions]="{standalone: true}" class="form-control">
                                <option *ngFor="let comp of complicationTypes" value="{{comp.ComplicationType}}">
                                    {{comp.ComplicationType}}</option>
                            </select>
                        </div>

                    </div>

                    <button *ngIf="matPat.MaternityRegisterId" [disabled]="coreService.loading"
                        (click)="UpdateMotherDetails()" style="margin: 0 15px 15px 0;" type="button"
                        class="btn green btn-success pull-right">
                        {{ 'MATERNITY.UPDATE_MOTHER_DETAILS' | translate }}
                    </button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" [formGroup]="childDetail.ChildDetailsValidator">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="clp">
                        {{ 'MATERNITY.NEW_BORN_BABY_DETAILS' | translate }}
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="noOfBabies" class="control-label col-md-4">{{ 'MATERNITY.NUMBER_OF_BABIES' | translate }}<b
                                        class="color-red">
                                        *
                                    </b><b style="float:right;">:</b></label>

                                <div class="col-md-2">
                                    <select [(ngModel)]="matPat.NumberOfBaby" #noOfBabies
                                        (change)="changeNumOfBaby(noOfBabies.value)"
                                        [ngModelOptions]="{standalone: true}" class="form-control"
                                        [disabled]="matPat.MaternityRegisterId">
                                        <option value=1 selected>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        <option value=6>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="full-width-flx table-responsive">
                                <div class="text-center" style="line-height: 2;">
                                    <table class="table table-bordered tbl-small-text">
                                        <thead>
                                            <tr class="table-header-bg">
                                                <th width="200">{{ 'PATIENT.GENDER' | translate }}</th>
                                                <th width="270">{{ 'MATERNITY.WEIGHT_IN_GRAM' | translate }}</th>
                                                <th width="270">{{ 'MATERNITY.OUTCOME_OF_BABY' | translate }}</th>
                                                <th width="270">{{ 'MATERNITY.OUTCOME_OF_MOTHER' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let m of multipleChild; let i = index;">
                                                <td>
                                                    <select #gender class="form-control" [(ngModel)]="m.Gender"
                                                        formControlName="Gender">
                                                        <option value="null" selected>{{ 'COMMON.SELECT_PLACEHOLDER' | translate }}</option>
                                                        <option value="Male">{{ 'PATIENT.MALE' | translate }}</option>
                                                        <option value="Female">{{ 'PATIENT.FEMALE' | translate }}</option>
                                                        <option value="Others">{{ 'PATIENT.OTHER' | translate }}</option>
                                                    </select>
                                                    <span class="color-red font-sm"
                                                        *ngIf="childDetail.IsDirty('Gender')"
                                                        [hidden]="childDetail.IsValidCheck('Gender','required')">{{ 'MATERNITY.GENDER_REQUIRED' | translate }}</span>
                                                </td>

                                                <td>
                                                    <input type="text" id="babyWeight" class="form-control"
                                                        [(ngModel)]="m.WeightInGram" required
                                                        [placeholder]="'MATERNITY.WEIGHT_IN_GRAMS_PLACEHOLDER' | translate" formControlName="WeightInGram"
                                                        type="number">
                                                    <span class="color-red font-sm"
                                                        *ngIf="childDetail.IsDirty('WeightInGram')"
                                                        [hidden]="childDetail.IsValidCheck('WeightInGram','required')">{{ 'MATERNITY.WEIGHT_REQUIRED' | translate }}</span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control"
                                                        [(ngModel)]="m.OutcomeOfBaby" [placeholder]="'MATERNITY.OUTCOME_OF_BABY_PLACEHOLDER' | translate"
                                                        formControlName="OutcomeOfBaby">
                                                    <span class="color-red font-sm"
                                                        *ngIf="childDetail.IsDirty('OutcomeOfBaby')"
                                                        [hidden]="childDetail.IsValidCheck('OutcomeOfBaby','required')">{{ 'MATERNITY.OUTCOME_OF_BABY_REQUIRED' | translate }}</span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control"
                                                        [(ngModel)]="m.OutcomeOfMother"
                                                        [placeholder]="'MATERNITY.OUTCOME_OF_MOTHER_PLACEHOLDER' | translate"
                                                        formControlName="OutcomeOfMother">
                                                    <span class="color-red font-sm"
                                                        *ngIf="childDetail.IsDirty('OutcomeOfMother')"
                                                        [hidden]="childDetail.IsValidCheck('OutcomeOfMother','required')">{{ 'MATERNITY.OUTCOME_OF_MOTHER_REQUIRED' | translate }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button *ngIf="!matPat.MaternityRegisterId" class="btn green btn-success pull-right"
                    style="margin: 0 15px 15px 0;" [disabled]="coreService.loading" (click)="AddNewMatDetails();">
                    {{ 'COMMON.SAVE' | translate }}
                </button>
                <button *ngIf="matPat.MaternityRegisterId" [disabled]="coreService.loading"
                    (click)="UpdateChildDetails()" style="margin: 0 15px 15px 0;" type="button"
                    class="btn green btn-success pull-right">
                    {{ 'MATERNITY.UPDATE_CHILD_DETAILS' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="col-md-12" *ngIf="!matRegDataList || !matRegDataList.length">
    <p style="font-size: 18px; line-height: 3; text-align: center;">{{ 'MATERNITY.NO_CHILD_DETAILS_IN_LIST' | translate }}</p>
</div>
<div id="matRegList" class="col-md-12" *ngIf="matRegDataList && matRegDataList.length > 0">
    <div class="full-width-flx table-responsive">
        <div class="text-center" style="line-height: 2">
            {{ 'MATERNITY.CHILD_DETAILS_OF' | translate:{name: selectedPatient.ShortName} }}
        </div>
        <table class="table table-bordered tbl-small-text">
            <thead>
                <tr class="table-header-bg">
                    <th>{{ 'MATERNITY.DELIVERY_DATE' | translate }}</th>
                    <th>{{ 'PATIENT.GENDER' | translate }}</th>
                    <th>{{ 'MATERNITY.WEIGHT_IN_GRAMS_LABEL' | translate }}</th>
                    <th>{{ 'MATERNITY.OUTCOME_OF_BABY' | translate }}</th>
                    <th>{{ 'MATERNITY.OUTCOME_OF_MOTHER' | translate }}</th>
                    <th class="no-print">{{ 'GRID_HEADERS.ACTIONS' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of matRegDataList">
                    <td>{{data.DeliveryDate | DsfDateTime:'format':'YYYY-MM-DD hh:mm A'}}</td>
                    <td>{{data.Gender}}</td>
                    <td>{{data.WeightInGram}}</td>
                    <td>{{data.OutcomeOfBaby}}</td>
                    <td>{{data.OutcomeOfMother}}</td>
                    <td class="no-print">
                        <a class="grid-action no-print" (click)="EditDeliveryDetails(data)">{{ 'COMMON.EDIT' | translate }}</a>
                        <a class="grid-action no-print"
                            (click)="RemoveChildDetails(data.MaternityRegisterId)">{{ 'MATERNITY.REMOVE' | translate }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />

<div class="col-md-12">
    <div class="text-right margin-top-15 margin-bottom-15">
        <button type="button" id="ancPrint" class="btn primary-btn margin-7-hr" (click)="Print()"><i
                class="fa fa-print"></i>{{ 'COMMON.PRINT' | translate }}</button>
        <button type="button" id="register" class="btn grey btn-default margin-7-hr" (click)="Close()">{{ 'COMMON.CLOSE' | translate }}</button>
    </div>
</div>