<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showAddPage">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!-- <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
            </div> -->
            <div class="modelbox-div clearfix">             
                <div class="caption lb-caption">
                    <h3>
                        <span *ngIf="!update">{{ 'INVENTORY.ADD_ACCOUNTHEAD' | translate }}</span>
                        <span *ngIf="update">{{ 'INVENTORY.UPDATE_ACCOUNTHEAD' | translate }}</span>
                    </h3>
                    <a class="btn btn-danger" (click)="Close()" [title]="'COMMON.CANCEL' | translate">X</a>
                </div>                
           
                <form [formGroup]="CurrentAccountHead.AccountHeadValidator" class="form-horizontal hm-form">
                    <div class="form-body">
                       
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'INVENTORY.ACCOUNTHEAD_NAME' | translate }}<sup class="color-red">*</sup><b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="30" type="text"
                                           [(ngModel)]="CurrentAccountHead.AccountHeadName"
                                           formControlName="AccountHeadName"
                                           id="AccountHeadName"
                                           [placeholder]="'INVENTORY.ACCOUNTHEAD_NAME' | translate" 
                                           (keyup.enter)="FocusElementById('AddAccountHead')" />
                                    <span class="color-red font-sm" [hidden]="CurrentAccountHead.IsValidCheck('AccountHeadName','required') || !(CurrentAccountHead.IsDirty('AccountHeadName'))">{{ 'INVENTORY.NAME_IS_REQUIRED' | translate }}</span>
                                    <span class="color-red font-sm" *ngIf="CurrentAccountHead.IsDirty('AccountHeadName')" [hidden]="CurrentAccountHead.IsValidCheck('AccountHeadName','maxlength')"> {{ 'INVENTORY.LENGTH_IS_NOT_PROPER' | translate }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'GRID_HEADERS.DESCRIPTION' | translate }}<b>:</b></label>
                                <div class="col-md-7">
                                    <input class="form-control" maxlength="200" type="text"
                                           [(ngModel)]="CurrentAccountHead.Description"
                                           [ngModelOptions]="{standalone: true}"
                                           id="Description"
                                           [placeholder]="'GRID_HEADERS.DESCRIPTION' | translate" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-5">{{ 'GRID_HEADERS.IS_ACTIVE' | translate }} <b>:</b> </label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input id="isActive"
                                                       type="checkbox"
                                                       [(ngModel)]="CurrentAccountHead.IsActive"
                                                       [ngModelOptions]="{standalone: true}" />
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="button" class="btn green btn-success margin-7-hr" *ngIf="!update" [disabled]="loading" (click)="AddAccountHead()" [value]="'INVENTORY.ADD_ACCOUNTHEAD' | translate" id="AddAccountHead" />
                                <input type="button" class="btn green btn-success margin-7-hr" *ngIf="update" [disabled]="loading" (click)="Update()" [value]="'COMMON.UPDATE' | translate" id="AddAccountHead" />
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
