<div class="row mb20">
    <div class="col-md-12" *ngIf="allMachineMasterData">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <select class="form-control" [(ngModel)]="selectedMachineId" id="ddlMachineSelection"
                    [disabled]="isEdit || allMachineMasterData.length == 1" (change)="MachineChanged()">
                    <option value="0" *ngIf="(allMachineMasterData.length > 1) && !isEdit">{{ 'LABS.SELECT_LAB_MACHINE' | translate }}</option>
                    <option *ngFor="let machine of allMachineMasterData; let i=index;"
                        [value]="allMachineMasterData[i].MachineId">
                        {{allMachineMasterData[i].MachineName}}-{{allMachineMasterData[i].ModelName}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row mt25 mb20">
    <div class="col-md-12">
        <div class="s_f_wrapper s_f_label">
            <table *ngIf="showAddForm" class="table table-responsive table-bordered inv_table">
                <thead>
                    <tr>
                        <th>
                            {{ 'LABS.DANPHE_COMPONENT' | translate }}
                        </th>
                        <th class="text-center">{{ 'LABS.MAP_TO' | translate }}</th>
                        <th>{{ 'LABS.MACHINE_COMPONENT' | translate }}</th>
                        <th>{{ 'LABS.CONVERSION_FACTOR' | translate }}</th>
                        <th *ngIf="!isEdit" style="width: 110px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comp of compMappingArrayTemp; let i= index;"
                        [ngClass]="compMappingArrayTemp[i].IsDuplicate ? 'bg-yell':''">

                        <td>
                            <div><input id="ddlDphComp{{i}}" [(ngModel)]="comp.DanpheComponent" class="form-control"
                                    danphe-auto-complete (keyup.enter)="coreService.FocusInputById('ddlLisComp'+i, 100)"
                                    [source]="notMappedDataList" [list-formatter]="ComponentListFormatter"
                                    onClick="this.select();" display-property-name="ComponentName"
                                    (valueChanged)="ComponentSelected(i,'dph')" type="text">
                                <span *ngIf="!comp.IsValidComponent" class="color-red font-sm">{{ 'LABS.INVALID_COMPONENT' | translate }}</span>

                            </div>
                        </td>


                        <td class="text-center" style="vertical-align: middle;"><i class="fa fa-arrow-right"></i></td>


                        <td>
                            <div><input id="ddlLisComp{{i}}" (keyup.enter)="moveCursorToFirstItemOfNextRow(i)"
                                    danphe-auto-complete [list-formatter]="LisComponentListFormatter"
                                    [source]="allMasterDataFiltered" display-property-name="ComponentName"
                                    (valueChanged)="ComponentSelected(i,'lis')" onClick="this.select();"
                                    [(ngModel)]="comp.LISComponent" class="form-control" type="text">
                                <span *ngIf="!comp.IsValidLISComponent" class="color-red font-sm">{{ 'LABS.INVALID_COMPONENT_1' | translate }}</span>
                            </div>
                        </td>

                        <td>
                            <div><input class="form-control" [(ngModel)]="comp.ConversionFactor" type="number"></div>
                        </td>

                        <td *ngIf="!isEdit">
                            <a class="btn btn-success inlie-block" [title]="'LABS.CLICK_TO_ADD_NEW_COMPONENT_MAPPING' | translate"
                                (click)="AddNewMappingRow()"><i class="fa fa-plus"></i></a>
                            <a *ngIf="compMappingArrayTemp.length > 1" class="btn btn-danger inlie-block"
                                [title]="'LABS.CLICK_TO_REMOVE_THIS_COMPONENT_MAPPING' | translate" (click)="RemoveCurrentMappingRow(i)"><i
                                    class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12 mt20 text-right">
        <hr />
        <button class="btn btn-cancel grey" id="btnCancel" (click)="Cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
        <button class="btn btn-success blue" id="btnSave" (click)="loading=true;Save()"
            [disabled]="loading">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
</div>


<div class="popup-static portlet box portlet-fullscreen" *ngIf="showMachineChangeAlert">
    <div class="portlet-body form">
        <div class="col-md-4 col-md-offset-4">
            <div class="modelbox-div">
                <div class="modelbox-header">
                    <h4 class="margin-0-vr text-danger text-center">
                        <strong>{{ 'LABS.ARE_YOU_SURE' | translate }}</strong>
                    </h4>
                </div>
                <div class="modelbox-body">
                    {{ 'LABS.CURRENTLY_MAPPED_COMPONENT_WILL_BE_LOST_ARE_YOU_SU' | translate }}
                </div>
                <div class="modelbox-footer">
                    <button class="btn btn-cancel grey" id="btnCancelMachineChange"
                        (click)="CancelMachineChange()">{{ 'COMMON.CANCEL' | translate }}</button>
                    <button class="btn btn-success blue" id="btnProceed"
                        (click)="ProceedWithMachineChange()">{{ 'LABS.PROCEED' | translate }}</button>
                </div>
                <div class="close-modelbox lb-close-btn">
                    <button class="btn btn-danger" (click)="CancelMachineChange()">
                        <i class=" fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>